[2021-06-02 17:38] albertoriva opened #198 "Installation problems on RHEL 7.3"
I'm trying to install the browser locally on a RHEL 7.3 server. When I run `npm install` I get the following error:

npm ERR! code EBADPLATFORM
npm ERR! notsup Unsupported platform for fsevents@2.1.3: wanted {"os":"darwin","arch":"any"} (current: {"os":"linux","arch":"x64"})
npm ERR! notsup Valid OS:    darwin
npm ERR! notsup Valid Arch:  any
npm ERR! notsup Actual OS:   linux
npm ERR! notsup Actu

[2021-06-02 18:12] lidaof commented on #198
Hi @albertoriva thanks for the interest in the browser.  I will try to find one RHEL server do this as well.
By the way, which node version are you using? just in case you were using an old version. version 12 above should be fine.

[2021-06-02 18:34] lidaof commented on #198
Hi @albertoriva
I found a RHEL server on our IT cloud server, i installed node v14 and tried compile the code without issue, could you please give it a try?

[code]

[2021-06-02 19:18] albertoriva commented on #198
Hi @lidaof and thanks for getting back to me so quickly. I'm using the latest version of node, just dowloaded, v14.17.0:

[code]

But I think I know what the problem is - this line:

[code]

did not appear in your instructions. I ran it, and now I can run the start command. I'm getting the error you mentioned, but I'm going to run your fix and see what happens.

Thank you!

[2021-06-02 19:24] lidaof commented on #198
yeah, sorry about that....`react-app-rewired` is listed in package.json somehow sometimes we need install it again.

We are working on refactor some part of the code for the grouping feature...hopefully we can get this feature to be added soon. Thanks!

[2021-06-03 12:58] umasstr commented on #136
Hi @lidaof, I'm wondering if the option to remove annotation tracks in when loading a hub was ever added. Thanks!

[2021-06-03 14:42] lidaof commented on #136
Hi @umasstr , yes, when you load a hub, add this to url `?noDefaultTracks=1`

[2021-06-03 16:36] umasstr commented on #136
Thanks!!

[2021-06-23 11:18] LaureTomas opened #200 "Legacy Browser "Unknown genome name" - 20210623"
Hello

I've been using the Legacy Browser a lot for sharing session with my colleagues but suddenly we are unable to load any session because we get always the same message: "Unknown genome name" for any genome that I try to load. I tried changing the internet network, the internet browser and the computer and nothing works.

Do you know why this is happening?

Thanks in advance.

[2021-06-23 13:22] lidaof commented on #200
Hi @LaureTomas there was some issue with the mysql service. I restarted it, should be back now. let me know if its' still not working?

[2021-06-23 13:47] LaureTomas commented on #200
Perfect! everything works fine now.
Thank you! @lidaof

[2021-07-13 13:49] wangjk321 opened #201 "Load local data when embedding?"
Hi, very nice tools.

I have used WasU browser for many years. Recently I tried to embed the WashU to my own web app (Django-based). I successfully follow your tutorial (https://eg.readthedocs.io/en/latest/installation.html#embedding). I can visualize remote data via the "url" option (i.e. ChIP-seq and Hi-C ).

[code]

However, when I tried to load local files in my project,  I tried to use the ab

[2021-07-14 04:34] lidaof commented on #201
Hi @wangjk321 i see you are actually loading files in URL...is it caused by CORS? have you enabled CORS in your Django app? (just a guess, not 100% sure)

[2021-07-15 03:34] wangjk321 commented on #201
Thanks for your quick reply!

I can use remote URL with enabled CORS on other server. I know that:

But in my case, the embeded WashU browser and my data are on the same server. So I am wondering whether it is possible to load local file NOT via URL, which is faster for my web app. I tried `"url": "/static/CTCF.bw",` but failed. Anyway, if the embedding API does not support local file, that's fine

[2021-07-15 03:51] lidaof commented on #201
@wangjk321  I see, unfortunately that won't be possible based on my understanding. web app doesn't have access to user's local files unless user upload it/them through the File API.

[2021-07-15 03:59] wangjk321 commented on #201
Thank you anyway!! I'll use another server to hold my data.

[2021-07-15 04:32] lidaof commented on #201
you are very welcome~ @wangjk321

[2021-07-21 01:46] #200 closed

[2021-07-21 01:47] #201 closed

[2021-07-26 22:05] #198 closed

[2021-07-26 22:06] #194 closed

[2021-07-26 22:06] #189 closed

[2021-07-29 09:25] carlacohen opened #204 "Browser not loading"
Hi there, sorry this is a bit of a stupid issue but I am totally stuck. I am a regular user of the WashU Epigenome browser but at the moment it won't load at all (https://epigenomegateway.wustl.edu/browser/). I have tried clearing cookies but that didn't help. Seems to be specific to this one PC. Any ideas? I really need to resolve this quickly as we are making figures for a paper! Many thanks, Ca

[2021-07-29 13:19] lidaof commented on #204
Hi @carlacohen it works well with me on one iMac and Macbook pro. Do you have a screenshot? timing out of loading? or some other error? have you tried hard reload: https://eg.readthedocs.io/en/latest/faq.html#hard-reload ?

[2021-07-29 13:48] carlacohen commented on #204
Hi @lidaof , thanks for the quick reply. I am using a Windows PC but I have been using for ages without any problems.
It is literally just not loading at all so I don't seem to be able to do the hard reload.
![WashU_error](https://user-images.githubusercontent.com/76097605/127503221-1897ea7f-9c0a-42fb-9c52-dc818364967c.png)

[2021-07-29 14:14] lidaof commented on #204
Hi @carlacohen looks like this is a connection problem..can you try our aws mirror: https://epigenomegateway.org/browser/ ?
thanks!

[2021-07-29 17:22] carlacohen commented on #204
OK, the mirror is working for the main browser. But do you have one for the legacy browser? Unfortunately all my hubs are built on the legacy version. Also, do you have any idea why this is happening? Thanks

[2021-07-29 19:19] lidaof commented on #204
Hi @carlacohen I am not sure, I guess a network issue in your side maybe? legacy version can be found at https://epgg-test.wustl.edu/browser/ and http://epigenomegateway.wustl.edu/legacy/. most of the legacy hubs can be viewed in new version without issue...maybe give it a try?

[2021-07-29 19:21] carlacohen commented on #204
Thanks I’ll have a play tomorrow and see how it goes.
Carla

On 29 Jul 2021, at 20:20, Daofeng Li ***@***.***> wrote:

﻿

Hi @carlacohen<https://github.com/carlacohen> I am not sure, I guess a network issue in your side maybe? legacy version can be found at https://epgg-test.wustl.edu/browser/ and http://epigenomegateway.wustl.edu/legacy/. most of the legacy hubs can be viewed in new version witho

[2021-07-30 14:00] carlacohen commented on #204
Hi Daofeng,
Just wanted to let you know that I have found the solution! I have updated my Intel graphics card and that has resolved the issue.
I thought I would let you know in case anyone else has the same problem.
Many thanks for all your help with this, and generally for making such a great freely available resource for us to visualise our data ☺
Best wishes,
Carla

From: Daofeng Li ***@***.***

[2021-07-30 14:51] lidaof commented on #204
Hi @carlacohen , that's good to know. Thanks for the update!

[2021-08-01 10:33] PhrenoVermouth opened #205 "Firebase/network issue"
Halo there! Thx for the tutorial and I did successfully built my mirror browser. I'm a newbie in NodeJS and here I have quite some questions relating to the 'session' function.

1.  Actually now Firebase doesn't provide the 'databaseURL' after configuration.  Mine just like:
[code]
I opened the **build**-**Realtime Database** on the left menu and saw the link on the top of the window: _https://epg

[2021-08-01 16:01] lidaof commented on #205
Hi Gran @PhrenoVermouth , for 1, you are right, that's the database url. for 2, I am not sure....I should consider that blocking thing....I cannot test that either....i need to think about this and some alternative approach, does Aliyun provide similar service? I don't know much about npm proxy....sorry about that. for 3, local tracks cannot saved into session, due to Javascript security settings,

[2021-08-02 02:23] PhrenoVermouth commented on #205
Thanks for your timely reply, deeply appreciated! I'll try to figure it out. Keep in touch~

[2021-08-08 03:15] #204 closed

[2021-08-28 02:44] lidaof commented on #205
Hi @PhrenoVermouth Thank you for reporting this issue!

I see the problem is that the vcf file is aligned to chromosome named 1, 2, 3 not like chr1, chr2, chr3 which we supported. I have add a fix and updated the public browser, you would need refresh and do the same thing plus right click the track, check the ensembl style option, that should work.
<img width="131" alt="Screen Shot 2021-08-27 at

[2021-08-30 08:18] PhrenoVermouth commented on #205
What a relief! Thx!  :)

[2021-10-07 13:16] shangl02 opened #211 "Error in embedding html"
Hi there,

I was following the tutorial to embed the browser into my html page. Unfortunately encountered an error, and no content is showed. (screenshot attached)

"DevTools failed to load source map: Could not load content for https://unpkg.com/ep...@47.2.8/umd/main.79c7bb83.css.map: HTTP error: status code 404, net::ERR_HTTP_RESPONSE_CODE_FAILURE"

Suggestion are highly appreciated.

Thanks,

!

[2021-10-07 15:25] #211 closed, assigned to nobody

[2021-10-07 17:22] shangl02 opened #212 "Embed local browser mirror in html and use local backend API"
Hi there.
This is not an issue but I need more instruction on my local setup:
My current situation:
1. Both frontend and backend were compiled and runnable at port 3000 and 3001
2. With help from @lidaof, embedding browser into my angular component worked.

Regarding embedding, my understanding is that the tutorial embedded the online version epigenome browser into my html. But how could I embed t

[2021-10-07 20:58] #212 closed

[2021-10-08 15:50] shangl02 opened #213 "Kept getting "you are currently office" which stop me use web tracks"
Hi there, I kept getting this message "You are currently offline, so tracks on web won't load. But you can still use the Local Track and Local Text Track functions."

Tried both online version (http://epigenomegateway.wustl.edu/browser) and local mirror (http://localhost:3000), but neither work.  Thus url parameter doesn't work. Any suggestions？

![image](https://user-images.githubusercontent.com/

[2021-10-08 16:05] lidaof commented on #213
Hi @shangl02 not sure why this error. did you accidentally enable offline in network tab?

![image](https://user-images.githubusercontent.com/102806/136588571-2f89d248-cc85-41ef-8498-685acb81fd49.png)

[2021-10-08 20:20] lidaof commented on #213
Hi @shangl02 yes, code is here: https://github.com/epgg/eg
the docs site right now is offline, I am asking the admin.

[2021-10-11 02:25] lidaof commented on #213
Hi @shangl02 sorry for late reply, it should be `coordinate`
[code]

[2021-10-11 14:24] shangl02 commented on #213
@lidaof awesome! found that in browser/js/sukn.js
BTW, the wiki site is still inaccessible. Thanks a lot!
![image](https://user-images.githubusercontent.com/80838660/136806892-aa946886-aa5e-4201-9090-d47c5ca29456.png)

[2021-10-18 13:46] shangl02 commented on #213
Hi @lidaof, thanks for the help.

I still kept getting error for both react and legacy browser due to the network setting in my organization. Thus is trying to explore the local track and hub option. Does the local track and hub support url parameters to define genome, position and file location? I could not find relevant info in the doc site.

Thanks.

[2021-10-18 14:08] shangl02 commented on #213
Hi @lidaof,

In using react browser, I get this error
![image](https://user-images.githubusercontent.com/80838660/137745157-bd5223a2-1bbc-4125-8108-4e2a7e27cf61.png)

While legacy browser doesn't pop "you are offline" error, but keep getting "timeout"
![image](https://user-images.githubusercontent.com/80838660/137747574-35cf7713-02f6-49e8-98c3-2f1ea0382f31.png)

[2021-10-18 20:08] lidaof commented on #213
can you try this one instead https://enable-cors.org/server_iis7.html?
i think the json is ok, the browser complains CORS issue with bigwig file.

I don't have IIS environment...hard to test this :)

[2021-10-18 21:39] lidaof commented on #213
Hi @shangl02 I don't have PC right now so cannot test this...sorry about that...

for your latest comment, it's because `track` is not recognized by the browser, it's been ignored and there is no error then.

[2021-10-18 22:38] shangl02 commented on #213
oops. kept thinking "track" as an url parameter. Sorry :)

[2021-10-19 02:12] lidaof commented on #213
@shangl02 you are welcome! Glad you solved it by switch to Apache!

[2021-10-19 13:18] #213 closed, assigned to nobody

[2021-10-20 13:27] shangl02 opened #215 "Long range interaction display options"
Hi there @lidaof , me again :)
Two quick question regarding long range interaction
1. Is there anyway to use a set of gradient colors to indicate the interaction score, like score scale
2. After adding a longrange track, and then change the coordinates, there is a yellow box showing up as background and won't go away. I am curious if this is a bug or I did something wrong.

Thanks
![image](https:/

[2021-10-21 02:26] mozesjacobs opened #216 "Visualization questions"
Hello,

I am a researcher working in William Noble's lab at the UW on a package called PASTIS (https://github.com/hiclib/pastis), which infers 3d chromatin structures from Hi-C matrices. I am currently running a matrix (https://data.4dnucleome.org/files-processed/4DNFI9YAVTI1/) through our program, and I have some intermediate results. Namely, I have the coordinates of the structure output by PAST

[2021-10-21 03:23] lidaof commented on #216
Hi Mozes @mozesjacobs , very nice to hear from you! Thanks for the interest!

I checked the g3d file, seems the chromosome name is not correct, the 3d module in the browser is linked to browser region, so the region in the browser will be used to highlight the 3d structure. and also the resolution is 20000, but start of each bin/row is not like separated by 20000*x
[code]

typically when you chang

[2021-10-25 08:41] martascalisi opened #217 "Update tracks dynamically"
I can I dynamically update the "contents" parameter of the renderBrowserInElement function?
Or there is another way to add or remove tracks dynamically when embeds whasU?

[2021-11-08 17:22] lidaof commented on #216
Hi @mozesjacobs, yes, I worked on it the other day...somehow forgot to reply...sorry about that.

like I mentioned I see duplicated lines in the file, so what I did is that I separated the lines based on the 2nd column of the .g3d file you provided, that I generated 2 .g3d file...after load them to the browser, i can see the structure from the core part, while there are many outlines....need to fi

[2021-11-10 08:39] mozesjacobs commented on #216
Awesome, I'll take a look at them. Thank you!

[2021-11-10 10:47] storytc opened #218 "Data fetch failed...using original server"
Hi,
I tried to upload a `methylc` file from local tracks using original server: http://epigenomegateway.wustl.edu/browser/
but it gave me "data fetch fialed" error message.
I have tried another dataset in the same format(methylc), and it worked.
But I processed the two datasets in parallel...and I double checked the two datasets.
Thanks and hope for your advice!

Best,
Arial.

[2021-11-10 14:02] #218 closed

[2021-11-10 14:04] storytc commented on #218
I figured it out!
Just using a little number transform trick....
Thanks!
Best,
Arial.

[2021-11-10 14:49] lidaof commented on #218
Glad you figured it out!

[2021-11-18 04:13] mozesjacobs commented on #216
Does this browser support viewing of diploid structures?

[2021-11-18 04:24] lidaof commented on #216
Hi @mozesjacobs in the last column you can specify different haplotypes or categories,  the 3d viewer will display them as separated 3d models, and they can be toggled for display or hide.

[2021-11-18 04:30] mozesjacobs commented on #216
Ok, thanks

[2021-11-20 08:11] joreynajr opened #219 "showOnHubLoad = False"
Hi, Is it possible to use **"showOnHubLoad": false**? I have a lot of data within a datahub which I want listed in my JSON but not preloaded into the browser. I have tried using **"showOnHubLoad": false** so far but it hasn't worked.

Thanks!

[2021-11-20 15:52] lidaof commented on #219
Hi @joreynajr by default the `showOnHubLoad ` property is false, if you didn't specify it the tracks won't be loaded...but what you are doing should be right, mind send me directly your hub for testing?

[2021-11-27 11:48] hzjsxu opened #220 "Request to add xenTro10 genome."
Hello, Can you add the Xenopus Tropicalis's xenTro10 assembly to the Washu browser?

[2021-11-27 17:12] lidaof commented on #220
Hi @hzjsxu sure thing, I will add it in the next few days.

[2021-11-28 01:26] hzjsxu commented on #220
OK! Much appreciated.

[2021-11-29 06:12] lidaof commented on #220
Hi @hzjsxu the `xenTro10` genome is added. please refresh the browser to check it. Feel free to let me know any question. Thanks.

[2021-12-01 04:55] hzjsxu commented on #220
Hi @lidaof , I have tried to add xenTro10 genomes myself using docker images, but I don't know how to import the gene track file and it always gives this error? How can I solve it?

![image](https://user-images.githubusercontent.com/45815139/144174098-103c1f6f-379a-434e-8eec-0eaaf9db7089.png)

Or can you also update docker images if convenient?

[2021-12-01 05:03] lidaof commented on #220
can you open the browser console so I can check the error message?  in you docker container you can do a `git pull` to fetch the latest code then it should work.

I will do the docker update sometime next week and will let you know.

[2021-12-01 06:54] hzjsxu commented on #220
Ok，it works well after using git pull to get the latest code. Thanks very much!

[2021-12-01 14:53] lidaof commented on #220
great! good to know. I am closing this one. Feel free to open a new issue if you have other question.

[2021-12-01 14:53] #220 closed

[2021-12-11 18:21] gitgitmonkey opened #221 "Height of Hi-C tracks?"
How can I decrease the height of Hi-C arcs in the new browser to a height similar to the legacy browser? In the new browser, the Hi-C tracks are too high, they take up almost the whole screen in a laptop.
I know I can decrease the track height, but then the arcs are cut off. In the legacy browser, the arcs are re-scaled to fit the track height.
Thank you!

[2021-12-11 18:36] lidaof commented on #221
Hi @gitgitmonkey that's right, I will add that option and update you. Thank you!

[2021-12-18 05:36] lidaof commented on #221
Hi @gitgitmonkey, sorry for the delay, I was struggled a while with the geometry :) The old browser show heatmap style adjusted with track height. I have tried to implement in both heatmap and arc, with the new option in the screenshot below..I have tested seems it's working, feel free to let me know if there is any issue you may find. Thank a lot.

![image](https://user-images.githubusercontent.c

[2022-01-04 18:27] gitgitmonkey commented on #221
I apologize for the super late reply! I went out on vacation and missed Github's email with your reply.
I don't see this option "Scale with height" at http://epigenomegateway.wustl.edu/browser/
Will it only be available for local installations of the browser?
Thank you.

[2022-01-04 18:55] lidaof commented on #221
no worries @gitgitmonkey . possible your computer cached old files, can you try hard reload please https://eg.readthedocs.io/en/latest/faq.html#hard-reload? let me know if problem still there. Thank you!

[2022-01-04 19:03] gitgitmonkey commented on #221
I did a hard reload and still can't see the option. I am loading a longinteract file.

[2022-01-04 19:11] lidaof commented on #221
@gitgitmonkey you are right, sorry! my bad. I applied to long range tracks now. should be able to see it after refresh.

[2022-01-04 20:49] gitgitmonkey commented on #221
Thanks, I can see it now and it works!
Is the .json option to scale "clampHeight":true? I am setting it in a .json session file loaded remotely but I can't make it scale with height and only show interactions that have both ends in the window ("bothAnchorsInView":true).

[2022-01-05 04:31] lidaof commented on #221
yes, you are right, you can use `clampHeight` in the options and set it to true. would you mind share your json file?  you can send it to me directly and I can test for you...as I tested my side it works with this example hub (partially copied):

[code]

[2022-01-05 12:47] zhanglp996 opened #228 "Add new species"
Hello!
    The browser is very good but there are no species that I research .Can you add the Brassica rapa genome to WashU epigenome browser ?And I can  provide the genome file to you.
Thank you very much!

[2022-01-05 14:36] lidaof commented on #228
Hi @zhanglp996 yes, please provide the genome files. thanks.

[2022-01-05 16:16] gitgitmonkey commented on #221
I forgot to put these options inside "options":, it's working now!
Thanks a lot!

[2022-01-06 00:56] zhanglp996 commented on #228
Hello,you can download Brapa_genome_v3.0 from the website http://39.100.233.196:82/download_genome/Brassica_Genome_data/Brara_Chiifu_V3.0/Brapa_sequence_v3.0.fasta.gz
and Brapa v3.0 annotation file from the website
http://39.100.233.196:82/download_genome/Brassica_Genome_data/Brara_Chiifu_V3.0/Brapa_genome_v3.0_genes.gff3.gz
If you meet problem in downloading files ,please provide a email address

[2022-01-06 02:28] lidaof commented on #228
Hi @zhanglp996 i was able to download both files and will work on it. Will let you know once it's added to the browser. thanks.

[2022-01-06 02:49] zhanglp996 commented on #228
Thank you very much

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Nelle ***@***.***&gt;;
发送时间: 2022年1月6日(星期四) 上午10:28
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [lidaof/eg-react] Add new species (Issue #228)

Hi @zhanglp996 i was able to download both files and will work on it. Will let you know once it's added to the browser. thanks.

—
Reply to this email d

[2022-01-14 17:14] lidaof commented on #228
Hi @zhanglp996 the brapa genome is added to the browser, please let me know if you have any question. Thank you!

[2022-01-15 10:08] zhanglp996 commented on #228
No problem,
Thank you very much!

[2022-02-02 20:25] #228 closed

[2022-02-02 20:27] #221 closed

[2022-02-04 08:44] wangjk321 opened #233 "Can not show genomic location when using longrange format (Embedding)"
Hi

I tested a longrange file according to your Readme file (Embedding, https://github.com/lidaof/eg-react/blob/master/README.md#embedding-the-browser-in-any-html-file).
I can see the loop, but it shows "Object Object" when hover (see the attachment).

However I check the same data by http://epigenomegateway.wustl.edu/browser/ , it's fine to show "Locus1:chr21:275000-349500; Locus2:..."

Here is m

[2022-02-04 15:33] lidaof commented on #233
Hi @wangjk321 , yes, this seems like a bug, sorry about that. we are currently updating the embedding function, I will let you know once it's updated.

[2022-02-07 01:29] umasstr opened #235 "Data fetch failed from Dropbox"
I have been loading remote tracks from dropbox for two years, but suddenly these tracks no longer load. I don't think that this is an issue with the washu browser because tracks from other remote sources (cistrome e.g.) work fine. I would really appreciate if anyone has any information as to why links such as [this one](https://dl.dropboxusercontent.com/s/86gvkex6s9e984m/cCRE-PLS.bb) no longer fet

[2022-02-07 01:42] lidaof commented on #235
Hi @umasstr are you using the current browser or legacy version?
i tried your bb file with current browser it can be loaded.

[2022-02-08 13:00] umasstr commented on #235
Hi @lidaof, thank you very much for your quick reply. Is v53.5.2 the latest version? If so, then adding the bigbed as a remote track failed in my hands. If I download the track and load locally, I have no issues.

![image](https://user-images.githubusercontent.com/44478133/152991666-6b497f57-66de-40c6-9aa1-512f51f1f2b8.png)

[2022-02-08 15:23] lidaof commented on #235
Hi @umasstr yes, you are using the latest version. weird I was able to load your bigbed file from your dropbox url.

![image](https://user-images.githubusercontent.com/102806/153018287-3154a034-59d8-4179-b269-9790063961d2.png)

[2022-02-08 15:30] lidaof commented on #235
can you open the chrome console tab to see if there is any error message?

[2022-02-08 16:21] umasstr commented on #235
Thanks for the tip. Any idea how to bypass CORS security or why this only happened recently?

![image](https://user-images.githubusercontent.com/44478133/153029488-9a030e32-1df8-4bdf-b938-799c10ed6fc2.png)

I get the same error on other web browsers and still find it odd that washu has no problem fetching the json via dropbox.

[2022-02-08 16:30] lidaof commented on #235
I was thinking maybe you are access the http site of the browser might cause this issue...but it works on my side even on http site....not sure why...my chrome console tab has no such error message and we are accessing same file url...so strange...

![image](https://user-images.githubusercontent.com/102806/153031521-e3d9ecb8-9ba2-4fe9-bad3-fa0ffe56400d.png)

[2022-02-08 16:45] umasstr commented on #235
Thank you for testing the file out yourself. I have no idea what's going on because I attempted this on multiple networks and computers. BUT, given your input, I tried to browse my remote files on my phone and tablet...both worked! This is very strange, indeed.

I suspect this is isolated to my machines and not affect my collaborators. As always, thanks for supporting this wonderful tool.

[2022-02-08 16:45] #235 closed

[2022-02-08 16:50] lidaof commented on #235
you are very welcome @umasstr .

[2022-02-10 15:01] #176 closed

[2022-02-10 15:01] #184 closed

[2022-02-10 15:04] #173 closed

[2022-02-10 15:10] #205 closed

[2022-02-10 15:17] lidaof commented on #17
currently implemented with 3dmol.js

[2022-02-10 15:17] #17 closed

[2022-02-10 15:21] lidaof commented on #216
Hi @mozesjacobs i am closing this one, but feel free to open any new issue :) Thank you!

[2022-02-10 15:21] #216 closed

[2022-02-10 15:22] lidaof commented on #133
Hi @xzhuo i guess this has been fixed in your recent PR?

[2022-02-10 15:23] lidaof commented on #164
Closing this one but feel free to open any new issue. Thank you!

[2022-02-10 15:23] #177 closed

[2022-02-10 15:24] lidaof commented on #191
Closing this one but feel free to open any new issue. Thank you!

[2022-02-10 15:24] #191 closed

[2022-02-10 15:25] lidaof commented on #160
sorry for the delay, this has been fixed.
Closing this one but feel free to open any new issue. Thank you!

[2022-02-10 15:25] #160 closed

[2022-02-10 15:26] #166 closed

[2022-02-11 16:30] lidaof commented on #233
Hi, @wangjk321 I updated the embedding function which should fix this issue, please update your embed HTML to use the latest code. feel free to let me know any issues. Thank you!

[code]

[2022-02-11 16:34] #172 closed

[2022-02-11 16:35] lidaof commented on #139
Hi @Tong-Chen sorry for the super long delay, the embed function was finally updated...please check https://github.com/lidaof/eg-react#embedding-the-browser-in-any-html-file. feel free to let me know any issues.

[2022-02-11 16:35] #139 closed

[2022-02-11 16:43] lidaof commented on #103
Hi, @songtaogui closing this now, but feel free to reopen it. I think you can use third-party plugin like jQuery to control the height of the iframe based on track loading events or users actions.

[2022-02-14 06:39] wangjk321 commented on #233
Perfect !!!

BTW, looks like there is no need to import some additional file (like `c91952a9b48f32a8f26a.worker.js`) anymore. Appreciate this great improvement~

[2022-02-14 06:39] #233 closed

[2022-02-14 06:52] lidaof commented on #233
those worker.js is running actually, but they are hosted at unpkg.com

[2022-02-23 22:10] gitgitmonkey opened #245 "Setting position"
Hi, I created a remote .json session that I can display by passing the session file in the browser URL.
However, I can't set the initial view/position.

http://epigenomegateway.wustl.edu/browser/?genome=hg19&sessionFile=https://removehost/session.json&position=chr1:123-456
doesn't work, it doesn't show the session tracks. &position=chr1:123-456 alone works.

I don't see how to set the initial view

[2022-02-24 01:24] xzhuo commented on #245
have you tried using the datahub json file instead of the session file? like:
`http://epigenomegateway.wustl.edu/browser/?genome=hg19&hub=https://remotehost/hub.json&position=chr1:123-456`

[2022-02-24 02:15] lidaof commented on #245
Hi @gitgitmonkey as @xzhuo mentioned, `position` URL parameter can work with `hub`, the viewInterval in sessionFile will be used but if it's absent the default region for the genome in sessionFile will be used...I guess we need make some logic changes in the code to make position also work with sessionFile, I will take a look.
Thanks.

[2022-02-24 02:48] gitgitmonkey commented on #245
Thanks for the quick reply!
I tried using hub= instead of sessionFile= and then the tracks won't load.
My track file is very paired down, with only one track.

[2022-02-24 03:00] lidaof commented on #245
Hi @gitgitmonkey np!

for your initial question, a quick solution is that you can load your session, navigate to the region you want, and download a new sessionFile to use in URL.

regarding the hub URL parameter link, the sessionFile and datahub file have different syntax, sessionFile contains more information than data hub file, for your case, you need copy the tracks array out from the sessionF

[2022-02-24 03:05] lidaof commented on #245
I will also update the logic in the code, so after next update the position will work with sessionFile (hopefully Friday sometime, will update in this issue).

[2022-02-24 03:18] gitgitmonkey commented on #245
Thanks!
The problem was the lack of "showOnHubLoad": true, in my hub.
I was following this example https://epigenomegateway.readthedocs.io/en/latest/datahub.html
and there is no mention to "showOnHubLoad": true.
&position= in the URL now works.

[2022-02-24 03:20] lidaof commented on #245
Good catch, I think we need put showOnHubLoad top in the docs..
https://epigenomegateway.readthedocs.io/en/latest/datahub.html#showonhubload

[2022-02-24 05:50] lidaof commented on #245
Thanks for bring this issue to our attention @gitgitmonkey !
Related code has been updated, will push to public site next time (Friday sometime)
Closing this for now. Feel free to open any new issue.

[2022-02-24 05:50] #245 closed

[2022-02-24 05:50] lidaof commented on #219
Closing this for now. Feel free to open any new issue.
Thank you!

[2022-02-24 05:50] #219 closed

[2022-02-24 05:50] lidaof commented on #217
Closing this for now. Feel free to open any new issue.
Thank you!

[2022-02-24 05:50] #217 closed

[2022-02-28 23:39] gitgitmonkey opened #247 "Password protected files (Apache/digest or basic)?"
I have a hub that works fine with remote files in my server that are not password protected.
When I tried to add files using this syntax: https://user:password@host.edu/file.bw, the tracks don't show.
This syntax works fine in the UCSC genome browser. I'm running an Apache server with both digest and basic authentication, so I can use either.
How can I use remote files that aren't public?
Thank yo

[2022-03-01 03:43] lidaof commented on #247
Hi @gitgitmonkey would you please email me a link for me to troubleshoot? Getting this fixed should be a pretty helpful feature.

[2022-03-01 21:04] gitgitmonkey opened #248 "Local text track not saved in session?"
When I upload a local .bed file and save the session, the file disappears when I reload the session.
I saved these coordinates in a local file and uploaded them. Then I created a session with bundle ID e7b291c0-98cd-11ec-9fbb-ef104d3ddc3f

chr7    27153397        27153997
chr7    27154697        27155697

The track isn't available. I don't have this problem with remote tracks.
Is this a bug or a f

[2022-03-01 22:44] lidaof commented on #248
Hi @gitgitmonkey, it's not a bug. we documented here: https://eg.readthedocs.io/en/latest/local.html, because browser need ask permission to load local file each time so local files cannot be saved into session.

[2022-03-01 22:54] gitgitmonkey commented on #248
Thanks for the clarification.
This is a huge limitation of this browser that did not exist in the legacy browser. It makes it prohibitive for people without access to a remote server to easily share sessions. I can't expect PIs to constantly load .json files every time they want to change sessions, besides having to maintain all the files belonging to different projects.
The legacy browser seemed

[2022-03-01 23:08] lidaof commented on #248
Hi @gitgitmonkey, yes, you are right. While the design for the current browser is pure client side, there is no backend server for providing file processing service, so we cannot save files as legacy browser did. We provided limited space for track hosting with a random URL if needed (feel free to let me know if you need us to host files). Also we are still maintaining the legacy browser. one way

[2022-03-02 17:36] gitgitmonkey commented on #247
I ended up finding a workaround. I symlinked the files to an open directory and renamed them with random characters. So the files themselves are anonymous and likely useless to other people. The hub .json is password protected and it's the only place where the files are identified.

[2022-03-02 17:38] lidaof commented on #247
That's pretty smart!

[2022-03-08 04:25] lidaof commented on #116
`group` attribute was also added before, forgot to update...close this one for now.
Feel free to open a new issue. thanks!

[2022-03-08 04:25] #116 closed

[2022-03-08 16:52] #25 closed

[2022-03-18 13:22] liqing9102 opened #251 "How to display highlighted region in screenshot?"
How to display highlighted region in screenshot?

[2022-03-18 16:36] lidaof commented on #251
Hi @liqing9102 , this feature is being developed. Will let you know once it's been added!

[2022-03-22 10:06] MBrancoLab opened #252 "Genome comparison shifts on screenshot"
Hi,
I'm loving the genome comparison annotation, but I encountered an issue. When I use the screenshot app, the tracks from the query species get shifted and resized. As an example, this is what I see on the browser:
<img width="1758" alt="Browser_view" src="https://user-images.githubusercontent.com/33059644/159456151-71c319ec-f3af-4aab-917e-d77c97d64b69.png">

And this is how it gets displayed on

[2022-03-23 00:25] lidaof commented on #251
Hi @liqing9102 , the highlighting function is added to screenshot as well. Feel free to let me know any questions. Thanks!
<img width="1452" alt="image" src="https://user-images.githubusercontent.com/102806/159597490-b70b8bca-c612-4a83-b7a7-a03cc5d38088.png">

[2022-03-23 00:26] lidaof commented on #252
Hi @MBrancoLab this issue should be fixed by ff84c3e, feel free to let me know any questions. Thanks for catching this!

[2022-03-23 09:41] MBrancoLab commented on #252
Fantastic! Thank you for the speedy fix.

[2022-03-23 13:35] lidaof commented on #252
You are welcome, close this one now. Feel free to open any new issue. Thanks!

[2022-03-23 13:35] #252 closed

[2022-03-23 16:49] lidaof commented on #248
Close this one now. Feel free to open any new issue. Thanks!

[2022-03-23 16:49] #248 closed

[2022-04-01 19:59] gitgitmonkey opened #258 "No bundle Id for uploaded session or remote session?"
When I use sessionFile= or upload a session file, there is no bundle Id, so I can't save and share the session.
I want to be able to provide a link or session file to collaborators, and let them modify and save their sessions and share them so we can collaborate.
Is there any way I can do this or I have to manually create tracks for tens of files to be able to share a bundle Id?
Thanks.

[2022-04-02 00:05] lidaof commented on #258
Hi @gitgitmonkey if I understand you correct, you need click the Save session button. For example, I use this link https://epigenomegateway.wustl.edu/browser/?genome=hg19&hub=https://wangftp.wustl.edu/~dli/test/a.json, I can open the Apps->Session, Save the session, then I load the same hub link with session id: 6e9b8d50-b218-11ec-ba7e-119adc64fb6b

[2022-04-04 17:31] gitgitmonkey commented on #258
Apparently, it was a temporary bug. When I uploaded a session file, there was no bundle ID like, for example, e4c1d0a0-b43b-11ec-865d-c70d00ba148e.

I get a lot of inconsistent behavior in this new browser. For example, I have a hub file that doesn't always load in Brave browser, but loads fine in Firefox. Then remote Hi-C tracks load and bigwig tracks don't (I can download the files, the server i

[2022-04-04 17:59] lidaof commented on #258
Hi @gitgitmonkey, I will look into it. FYI, a session bundle id is generated each time when you visit the browser, but it won't save the session to our Firebase database unless you click the Save session button in the Apps menu.

[2022-04-04 18:06] gitgitmonkey commented on #258
Yes, I understand. I just couldn't see any bundle ID at that time, not sure why. Now I see it when I load my hub or upload a session.
Thanks!

[2022-04-04 18:13] lidaof commented on #258
That's great to know! thanks @gitgitmonkey

[2022-04-14 12:45] Boer223 opened #260 "Add a new genome to the API"
Hi,
Can you help me to add my genome and gene annotation to your public api, and I want to use it to build the epigenome browser for my genome.

Here is my 2bit format genome and gene annotation files:
genome: http://205.185.113.78/public/epigenome_browser/Westar/Westar.2bit
gene annotation: http://205.185.113.78/public/epigenome_browser/Westar/Westar.gene.mRNA.bed

Thank you!

[2022-04-14 14:16] lidaof commented on #260
HI, @Boer223 sure we can do that. should I use `westart` as your genome name? do you have more information about this genome assembly?

[2022-04-15 01:14] Boer223 commented on #260
@lidaof Yes, it's a cultivar of Brassica napus, but now the genome hasn't been published. I only want to use the API to build my own epigenome browser.

[2022-04-15 02:14] lidaof commented on #260
Hi @Boer223 i understand now, so you only want us add the gene data to our API? we can do that. would you please format your data (`Westar.gene.mRNA.bed`) to our [refbed format](https://eg.readthedocs.io/en/latest/tracks.html#refbed) ?

[2022-04-15 03:41] Boer223 commented on #260
@lidaof Yes, and is there any scripts to format the bed or gff3 format to refbed format?

my gff3 format:
[code]
my bed format
[code]

[2022-04-15 04:13] lidaof commented on #260
Hi @Boer223 , yes, we have some scripts [here](https://github.com/lidaof/eg-react/tree/master/backend/scripts), i guess you can check those with gff in the name. let me know if you need any help.

[2022-04-15 05:32] Boer223 commented on #260
Thank you for your scripts! I have converted the gene annotation to refbed format successfully, and it's now here:
http://205.185.113.78/public/epigenome_browser/Westar/Westar.gene.refbed

[2022-04-15 19:03] lidaof commented on #260
Hi Xiaobo @Boer223 , the data has been added to our API, you can use [this link](https://lambda.epigenomegateway.org/v2/westar/genes/gene/queryRegion?chr=chrA01&start=119169&end=196860) for a quick testing. when you add the track to your genome, you can add this as the gene track model:
[code]

[2022-04-16 09:51] Boer223 commented on #260
@lidaof Many thanks for your API. I have built the epigenome browser for my genome successfully.

<img width="1923" alt="image" src="https://user-images.githubusercontent.com/19387444/163670463-cee60e11-5f9f-4bf5-a2d9-f92b7a44dd5f.png">

[2022-04-16 09:51] #260 closed

[2022-04-16 14:49] lidaof commented on #260
@Boer223 you are very welcome, and it looks very nice!

[2022-04-18 17:35] gitgitmonkey commented on #258
I'm having the same problem again: no session bundle ID. I loaded a remote sessionFile and I get no bundle ID. I've tried different browsers and new tabs:
https://imgur.com/a/6EwMRYF

This doesn't happen when I start the browser without a remote sessionFile.

[2022-04-18 17:50] lidaof commented on #258
Hi @gitgitmonkey, thank you so much for reporting this problem. Can I ask you how to reproduce this in more detail?
I downloaded a session file and reuploaded it and I can see the session id there. In the session file you downloaded, do you see the bundle id like in the screenshot below:

<img width="451" alt="image" src="https://user-images.githubusercontent.com/102806/163850804-012fb4be-7f74-405

[2022-04-18 18:26] gitgitmonkey commented on #258
I did not download a session file, I created one manually and without a bundleId. I thought bundleIds were created by the browser on the fly.
I added that section to my session file and now it shows the bundle Id that I specify.
Thanks!

[2022-04-18 18:40] lidaof commented on #258
Hi, @gitgitmonkey that explained it! Thank you!
I guess we need to add the logic that if the bundle id is empty then we should generate one randomly.

[2022-04-25 00:57] albertoriva opened #262 "Tracks not loading from hub"
Hello,

I am trying to load three tracks from a hub with the following definition:

[
    {
        "type": 'bigbed',
        "name": 'CEM-W-C_peaks',
        "height": 50,
        "group": 2,
        "colorpositive": "#000000",
        "colornegative": "#000000",
        "horizontalLines": [{"value": 0, "color": "#000000"}],
        "mode": "thin",
        "url": "https://bw:bw@lichtlab.cancer.uf

[2022-04-25 02:04] lidaof commented on #262
Hi @albertoriva i think this syntax and password protected URL works for the legacy browser, just want to confirm you are using the legacy browser? i am testing it.

[2022-04-25 02:51] lidaof commented on #262
apache log says:

[code]
sorry, I haven't review the legacy code for a long time, still troubleshooting..

[2022-04-27 19:54] umasstr opened #263 "Track number limit?"
Hi @lidaof ,

I didn't notice any comments in the documentation, but is there a limit to the number of tracks that can be displayed? Some observations on my end from a hub with 60 tracks:

1. Individually, all of the tracks load without issue on the latest browser and the old containerized browser (52.1.0).
2. Tracks will, at random, fail to load in local container and on the web browser.  (see sc

[2022-04-27 22:22] lidaof commented on #263
HI @umasstr 4 and 5 is a little bit strange i never saw them before. possible to share a session id for me to take a look?
do you have any limitation on number of concurrent requests in your web server?

We do see screenshots with >40 tracks loaded.

[2022-04-28 15:08] umasstr commented on #263
Thanks, @lidaof  for the help troubleshooting. It seems that your intuition was correct. I can load no more than 40 tracks at once due to server caps.

For others facing difficulties loading several tracks, I recommend using Google Chrome and checking the console (F12) for the below errors. In my case, these errors arise from too many requests coming in at the same time.

[2022-04-28 15:08] #263 closed

[2022-04-28 16:11] lidaof commented on #263
this is very helpful! Thank you for sharing this @umasstr!

[2022-05-26 20:35] mozesjacobs opened #265 "bigwig help"
Hello,

I am trying to use a bigWig track to color certain beads in the structure as LADs and certain ones as not LADs. I am able to successfully upload both the bigWig file and my structure (and I am able to visualize the structure itself) using the local track feature. However, whenever I try to pain the structure using the bigWig track in the numerical painting option, I keep getting the error

[2022-05-26 21:47] lidaof commented on #265
Hi @mozesjacobs the bigwig track is a little bit tricky it works with remote tracks when selecting `loaded tracks`, passing a file Blob from browser to 3D viewer might causing performance issue..so I didn't add that option..i guess maybe i can allow upload of bigwig to 3d viewer as well.
so far, I put your bigwig file under https://target.wustl.edu/dli/tmp/mozesjacobs/ and you can use the URL to p

[2022-05-26 22:03] mozesjacobs commented on #265
Ohh gotcha! Great, thank you!

[2022-05-26 22:06] mozesjacobs commented on #265
I'm only able to paint the main picture, but not the thumbnail. Is it possible to paint the thumbnail too?

[2022-05-26 22:10] lidaof commented on #265
right now only main structure can be painted, more coding needed for the feature you mentioned. I will add it to my todo list :)

[2022-05-26 22:10] mozesjacobs commented on #265
Okay, thank you!

[2022-05-26 22:21] lidaof commented on #104
fixed by 5a050a8

[2022-05-26 22:21] #104 closed

[2022-06-03 16:16] KHBHH opened #268 "can not upload datahub (json format)"
Hi,

I am trying to upload a datahub (json format), that has 2 bigWig files by going to Tracks > Local Tracks > Add local hub

I am trying to upload 3 files:
1) hub.config.json
2) bigWig file 1
3) bigWig file 2

And I get an error in red background in the above, that my folder does not contain hub.config.json (which in real it does). The error is as such: "Aborting, can not find `hub.config.json`

[2022-06-03 16:52] #268 closed

[2022-06-03 17:18] lidaof commented on #268
Great! I was troubleshooting as it works on my computer and was wondering why :)
Thank you @KHBHH !

[2022-06-07 19:34] KHBHH opened #269 "Error: Installation on windows"
Hi,

I am trying to install washu app on my local PC using Windows 11. I npm version 8.9.0 and node version 18.2.0.

But I am having trouble when I do 'npm install'

You can see the last screenshotted error in below link:

<img width="946" alt="image" src="https://user-images.githubusercontent.com/39968446/172467192-0f45319f-0afe-4a8e-abcb-e134dbf0e9ac.png">

<img width="960" alt="image" src="http

[2022-06-07 23:15] lidaof commented on #269
Hi @KHBHH, it looks like the visual studio installation is required..last month I started with a fresh windows 11 and it worked and I put what I did here: https://eg.readthedocs.io/en/latest/installation.html#setup-on-windows, maybe you can take a look and give it a try? Thanks!

[2022-06-08 23:48] lidaof commented on #269
Hi @KHBHH so far we only have tested on react-app-rewired, i am not sure if react-scripts would work or not.
Would you delete your current app code and re-pull from github do `npm install` and `npm start`?

[2022-06-09 09:16] mozesjacobs commented on #265
Hi again! Could you upload this bigWig file to the browser for me? https://noble.gs.washington.edu/proj/pastis-protocol/lad_notlad.bw

Thank you!!

[2022-06-09 14:21] lidaof commented on #265
@mozesjacobs sure thing, done

[2022-06-09 15:54] mozesjacobs commented on #265
Thank you!!!!

[2022-06-09 16:54] KHBHH commented on #269
Hi @lidaof, I reinstalled the whole code. I had to install new version  of jest package (went to node_nodules, deleted jest packages) and ran npm i jest@24.9.0, after that, I was still having error when doing  npm start, I changed the start in package.json from "start": "react-app-rewired  start" to "start": "react-app-rewired --openssl-legacy-provider start", and now I can run it locally on my PC

[2022-06-09 16:56] lidaof commented on #269
Hi @KHBHH Glad you figured it out, that's very good to know and thanks for sharing!

[2022-06-09 17:26] lidaof commented on #269
for track file hosting, you would need enable CORS for your s3 bucket, you can check more information from https://eg.readthedocs.io/en/latest/tracks.html#enable-cors-on-amazon-s3-bucket

[2022-06-09 18:54] KHBHH commented on #269
Hi @lidaof , great to know about S3. How can I upload the app on S3? just upload the whole folder of the app (eg-react-master)? I would appreciate if you could guide me through the process as I am new to AWS. Thanks!

[2022-06-10 02:51] lidaof commented on #269
Hi @KHBHH sure, there are lots of tutorial online, you can simply following aws's documentation: https://docs.aws.amazon.com/AmazonS3/latest/userguide/WebsiteHosting.html, feel free to ask me any question you may have.

[2022-06-10 13:44] KHBHH commented on #269
Hi @lidaof, thank you for your support. I would also appreciate your advice about the following: As I would like washu to run on my AWS (my jobsite's):
- which way do you think is better? having web static hosting on S3? or creating a docker to live on AWS? (FYI: we also have our data on S3 as well)..
- In either way, which instance of App should I use? The one that I am already successfully runni

[2022-06-10 14:48] lidaof commented on #269
Hi @KHBHH you are welcome!
I guess all combinations should work. performance-wise I think running a static website in S3 with files after `npm run build` should be best. running the local version is easier for regular custom updates. you are ok to run the version with changes you made, just beware that if you pull a future version you might need to make similar changes again. In that case, you can

[2022-06-13 19:40] KHBHH commented on #269
Hi @lidaof,

I uploaded the frontend code to my s3 bucket on AWS, and trying to enable static web hosting. Which is in the index file that I should use? Should be the one in the /frontend/public/index.html , right? When I click on this file, nothing shows up...

Also, is it enough to have the frontend folder in my S3 bucket to run the app on my aws instance? Or I should have the whole eg-react-mas

[2022-06-14 00:45] lidaof commented on #269
Hi @KHBHH i assume you can run the local dev server successfully with `npm start`? then you need run `npm run build`, this will generate a `build` folder (if it doesn't exist) then you can upload all file under `build` folder to s3 for static website hosting, use `index.html` for both index.html and error.html. and that's enough for hosting a browser mirror site.

let me know you encounter any iss

[2022-06-14 14:53] KHBHH commented on #269
Hi @lidaof, thank you for getting back to me.

So I did run npm build, and it created a folder (build) inside the frontend folder. I uploaded the contents of the build folder into my S3 bucket. Then I did the following:
- enabled static web hosting on my s3 bucket where I have the contents of build folder
- I turned the 'Block all public access' off
- enabled CORS as described in your documentatio

[2022-06-14 15:35] KHBHH commented on #269
Hi @lidaof

So I checked my console, the following shows:

![image](https://user-images.githubusercontent.com/39968446/173618029-f134e0a4-fdbf-4510-b9bf-d9dec86b3e37.png)

[2022-06-14 15:35] lidaof commented on #269
Hi @KHBHH, I think what you did are right. I pasted my settings below. I don't think you need CORS settings for static web hosting, you do need CORS for the track hosting folder.
Can you double-check the settings and we can troubleshoot further?

<img width="433" alt="image" src="https://user-images.githubusercontent.com/102806/173617126-0111ba3b-4585-4927-b9f9-eb114a8d64d1.png">
<img width="856"

[2022-06-14 15:59] KHBHH commented on #269
Hi @lidaof ,

I have the bucket policy just as you have now, and the following is the objects of my bucket.. (which are basically the contents of build folder):

![image](https://user-images.githubusercontent.com/39968446/173622828-c73a9a53-2576-4d6d-8aac-4257d1996ac2.png)

And I am still getting a blank page!

[2022-06-14 16:07] lidaof commented on #269
Hi @KHBHH
can you try this https://www.npmjs.com/package/http-server and servers the build folder to see if you can see the page?

[2022-06-14 16:23] KHBHH commented on #269
Hi @lidaof ,

And when I am in my build folder and I do the following: http-server ./

I get this blank page as below:

![image](https://user-images.githubusercontent.com/39968446/173627599-ee372195-f272-4758-869f-4859e67fa631.png)

[2022-06-14 16:43] lidaof commented on #269
Hi @KHBHH can you zip the build folder and send it to me at lidaof@gmail.com? thanks!

[2022-06-14 16:53] KHBHH commented on #269
Hi @lidaof,

I just sent my build folder zipped, I appreciate the support again, thanks!

[2022-06-17 14:40] KHBHH opened #272 "How to enable Go Live and Session features on S3 bucket?"
Hi @lidaof,

I have washu (build folder) in my S3 bucket, and accessing the app through cloudfrount. How can I enable the features (Go Live and Session)?

From the documentation, I understand that I have to do firewall setup if I want to run the app locally.. what about if I am already hosting on my s3 bucket?

I would appreciate your advice, thank you!

[2022-06-17 16:57] lidaof commented on #272
Hi @KHBHH , please check here: https://eg.readthedocs.io/en/latest/installation.html#firebase-setup
thanks!

[2022-06-24 13:30] KHBHH opened #273 "Adding my public datahub pre-loaded to washu?"
Hi,

I have my instance of WashU running on my s3 bucket through Cloudfront. I want to add pre-loaded data/tracks (which lives in one of my S3 buckets), so that whenever the user accesses the app, they can have the option to load the data, as in the example shown below:

<img width="890" alt="image" src="https://user-images.githubusercontent.com/39968446/175545945-09ce1d27-bbc4-4a94-ba46-585d71cd0

[2022-06-24 14:25] lidaof commented on #273
Hi @KHBHH you would need to edit `hg38.js` file, and then the publicHubList variable.

[2022-06-24 15:04] KHBHH commented on #273
Hi @lidaof , thank you, can you share with me the path of hg38.js file please? Thanks again!

[2022-06-24 15:08] lidaof commented on #273
sure, frontend/src/model/genomes/hg38/hg38.js

[2022-06-24 15:39] KHBHH commented on #273
Hi @lidaof , thank you, can I just update my hg38.js file which already is in my S3 bucket?

Or I should go all over the process again to create build folder (npm build run) etc?

[2022-06-24 15:43] lidaof commented on #273
HI @KHBHH when you update hg38.js, you would need to run the build step again and upload the newly built files to the S3 bucket.

[2022-06-28 15:31] KHBHH commented on #273
Hi @lidaof , thank you for your advices, it has been so helpful, and it worked!

[2022-06-28 20:06] KHBHH opened #274 "How can I add pre-loaded bed file (if I do not have the index and just .bed file)?"
Hi,

I am trying to include pre-loaded data in .bed format, and when I put the type as "categorical", it does not work, giving error that it is looking for the index. I also tried to put the type as "text" and did not work. How can I have this kind of data pre-loaded in public datahub, what type should it be?

I have included this data in the json file as but I do not know what type should I assig

[2022-06-29 15:30] lidaof commented on #274
HI @KHBHH in your case mentioned, the type is `bed`, please refer to the documentation: https://eg.readthedocs.io

[2022-06-29 15:37] lidaof commented on #273
Hi @KHBHH,

1, you can modify the `defaultTracks` in hg38.js, this controls the default tracks once you load the genome
2, the url info is displayed by the function from line 342 in `frontend/src/components/trackContextMenu/TrackContextMenu.js`, you can edit the code to make it hidden (like comment out line 142)

Just a friendly reminder we do have some policy in the [license](https://github.com/l

[2022-06-30 19:21] lidaof commented on #274
Hi @KHBHH if you visit the url you sent it says access denied

<img width="773" alt="image" src="https://user-images.githubusercontent.com/102806/176760530-54488149-1475-4613-b69a-a0b1a80a4cee.png">

[2022-06-30 19:28] lidaof commented on #274
Hi @KHBHH you can put the .tbi in the same folder with the .gz file, no need to specify in datahub for .tbi

[2022-06-30 19:31] KHBHH commented on #274
Hi @lidaof, yes I understand that. But my question is a bit different, I have my bed file just as (.bed) without its index or gz format. I understand that won't work in anyway right? My file is just (.bed) as like a text file.

[2022-06-30 19:39] KHBHH commented on #274
Hi @lidaof, thank you!

[2022-07-02 02:26] lidaof commented on #274
Hi @KHBHH bed file in remote URL need to be compressed to bgzip and with an index .tbi file, sometimes bed file are pretty big, the browser cannot load the entire bed file into ram, that will freeze the page and brings low performance. Small bed file can be submitted for visualization with the local text feature, please see https://eg.readthedocs.io/en/latest/text.html

[2022-07-05 20:31] mavershang opened #275 "Visualizing huge alignment BAM files"
Hi there, this is not an issue but I'd like to get your thoughts: I have setup the local mirror browser and API (and file servers hosting track hub), what is the best way to visualize a local large BAM file? Does epigenome browser support BAM or CRAM?

Thanks

[2022-07-05 22:42] lidaof commented on #275
Hi @mavershang nice to hear you setup all the things. The bam format is supported, it need to be indexed and the .bai file need be in the same folder of the .bam file on a http location. I think best way is to put both bam and index in a http folder, then use the URL to bam for submitting as a remote BAM track. CRAM not supported yet.
Thanks.

[2022-07-06 21:50] shangl02 commented on #275
@lidaof Thanks for the explanation. Good to know it support BAM.

[2022-07-19 22:51] FarmOmics opened #276 "New genome assembly"
Can you add the chicken new genome assembly (http://ftp.ensembl.org/pub/release-107/fasta/gallus_gallus/ and ) to browser? The previous assembly (galgal6) supported  by the browser missed many chromosomes, but the new one includes all chromosomes. I do believe the new one will be more useful for the whole cmmunity. Thank you so much!

[2022-07-20 23:42] guandailu commented on #276
Indeed, UCSC does not update it yet. We are looking for a brower platform that can visualize multi-omics data. Thanks so much!

[2022-07-21 02:47] lidaof commented on #276
Hi @guandailu is it ok to use this file http://ftp.ensembl.org/pub/release-107/fasta/gallus_gallus/dna_index/Gallus_gallus.bGalGal1.mat.broiler.GRCg7b.dna.toplevel.fa.gz for the genome fasta?
do you prefer chrom names in chr1 or 1?

[2022-07-21 03:25] guandailu commented on #276
Really thanks for your help, Daofeng! The fastq is correct and I preferred to chromosome name only with numbers, e.g. 1, 2,3…
thanks again!

[2022-07-26 02:55] Tong-Chen opened #278 "In front-end, npm start exited without any info"
When I try to install this version of eg, I download the zipped version of eg-react source code by clicking `Code` - `Download zip` in the `eg-react` repository.

Changing dir into `front-end`, and run `npm install`, with no explicit errors like below:

[code]

Then, run `npm start -d`, npm exists with no error info in one minute.

[code]

My npm version is `8.11.0`, nodejs version is `v16.16.0`,

[2022-07-26 04:25] lidaof commented on #278
Hi @Tong-Chen what happens if you not use `-d` with npm start?

[2022-07-26 08:26] Tong-Chen commented on #278
Thanks!

Running `npm start` would generate the following logs and exit. I added `-d` to check if there is some useful logs.

[code]

Also I tried the command `npm build`, and got

[code]

My working computer has 16 G memory. I use `top` to watch the process and the `node` process only consumes less than 10% memory.

[2022-07-27 03:12] lidaof commented on #278
Hi @Tong-Chen your computer is fine, I don't think it's a computer issue. I did test nodejs the version you used in Mac, which works fine...I need to find a machine with centos and do some troubleshooting...

can you delete your current eg-react folder, do:
[code]

also check here: https://eg.readthedocs.io/en/latest/installation.html#example-commands-for-installation-on-a-rhel-system

[2022-07-27 07:56] Tong-Chen commented on #278
I cloned eg-react in a new folder, and run `npm install` in `frontend`.

The first tiem I get

···
npm WARN   node_modules/@storybook/core
npm WARN
npm WARN Conflicting peer dependency: webpack@3.12.0
npm WARN node_modules/webpack
npm WARN   peer webpack@"^1.0.0 || ^2.0.0 || ^3.0.0" from webpack-dev-middleware@1.12.2
npm WARN   node_modules/webpack-dev-middleware
npm WARN     webpack-dev-middlewar

[2022-07-28 14:59] lidaof commented on #278
Hi, @Tong-Chen any luck in getting it working? I guess maybe we can schedule a time to do a zoom meeting to get this fixed? How do you think?

[2022-07-29 00:34] Tong-Chen commented on #278
Sorry, I still have no idea to get it to work. I would be very thankful if we can schedule a time for a zoom meeting. Currently, there are 12 hours of jet lag from China, Beijing, and Washington DC. I am ok from 8 am to 9 pm (Beijing time). My Wechat id: ct5869. Thanks.

[2022-07-29 04:52] lidaof commented on #278
Hi @Tong-Chen , great! Does Beijing time 11AM Saturday works for you?

[2022-07-29 05:27] Tong-Chen commented on #278
That works for me! Thanks!

[2022-07-29 13:15] Tong-Chen commented on #278
Sorry. I tried Zoom and found I could not use Zoom in China. Could you mind using Tencent Meeting or others?

[2022-07-29 20:06] b-snel opened #279 "Does Anyone Know the Public IP Address of epigenomegateway.wustl.edu"
We're trying to add this genome browser to our IP address whitelist so our nginx served data can only be seen by the epigenomegateway.

Does anyone know which IP/IP range is used by https://epigenomegateway.wustl.edu/? Also any ports it might use to reach out and grab remote files?

[2022-07-30 02:46] lidaof commented on #279
Hi @b-snel our IP address is 128.252.217.134, port wise I guess 80 and 443?

[2022-08-10 07:01] lidaof commented on #276
Hi @guandailu so sorry for the delay...i finally finished add this assembly to the browser, I named it `bGalGal1`, can rename it if you prefer another name.

<img width="1038" alt="image" src="https://user-images.githubusercontent.com/102806/183836268-9101a1f9-9cb0-46aa-ba72-28b5b9fb05ef.png">

[2022-08-10 17:25] guandailu commented on #276
Thanks you so much! By the way, a better genome assembly name is: GRCg7b.

[2022-08-10 18:20] lidaof commented on #276
great! I will get it updated on the next update. Thank you @guandailu

[2022-08-12 15:26] KHBHH opened #280 "How to insert an image in the header of the page?"
I would like to insert an image next to washu logo as in here? Which file should I need to edit in order to do so?

<img width="863" alt="image" src="https://user-images.githubusercontent.com/39968446/184387913-12877060-a68e-4138-a1cd-ad45d2fe6ade.png">

Thank you for the guidance, much appreciated!

[2022-08-12 15:29] KHBHH opened #281 "ARe my loaded tracks saved after closing the browser?"
Hi,

Let's say I loaded few tracks and did some changes to the settings, are those saved, in case I exit the browser and open the link again?

I know there are cookies involved, but I would appreciate if you could explain more about it, thank you!

[2022-08-12 16:50] lidaof commented on #281
Hi, @KHBHH Thank you! if you close the tab and reopen it, it will be gone, we use session storage not cookie though.

[2022-08-12 16:52] lidaof commented on #280
HI @KHBHH you would need to modify the 'Nav.js' file. You can install react-devtools which can help you find which component to edit.

[2022-08-12 16:54] lidaof commented on #278
Hi @Tong-Chen just like to follow up on this issue. I tested on our RHEL linux virtual server with node v16 and npm v8, which works fine.

[code]

[2022-08-17 04:58] amygu20 commented on #276
Dear @lidaof,

Thank you so much for update the new chicken genome, this is very helpful! The new genome actually separated the chicken into broiler and layer. The GRCg7b is the genome for the broiler. Could you please also upload the layer GRCg7w (http://ftp.ensembl.org/pub/release-107/fasta/gallus_gallus_gca016700215v2/dna_index/Gallus_gallus_gca016700215v2.bGalGal1.pat.whiteleghornlayer.GRCg7w.

[2022-08-17 05:13] amygu20 opened #282 "New Chicken (layer) genome assembly"
Dear @lidaof,

Thank you so much for update the new chicken genome, this is very helpful! The new genome actually separated the chicken into broiler and layer. The GRCg7b is the genome for the broiler. Could you please also upload the layer GRCg7w (http://ftp.ensembl.org/pub/release-107/fasta/gallus_gallus_gca016700215v2/dna_index/Gallus_gallus_gca016700215v2.bGalGal1.pat.whiteleghornlayer.GRCg7w.

[2022-08-17 13:50] lidaof commented on #282
Hi @amygu20 , you are welcome! Will add that.

[2022-08-17 19:06] amygu20 commented on #282
Thanks a lot Daofeng

[2022-08-26 04:41] lidaof commented on #282
Hi @amygu20 sorry for the delay, `GRCg7w` is added to the browser. Thank you!

[2022-08-26 04:42] lidaof commented on #276
Hi @guandailu , this genome is renamed to `GRCg7b`. Thank you!

[2022-08-29 15:54] KHBHH commented on #280
Hi @lidaof , what file should I edit to insert an image when I just run washu app?

<img width="941" alt="image" src="https://user-images.githubusercontent.com/39968446/187242706-2987ac5b-a1e4-4c40-ac15-3d6737d2e5a6.png">

Thank you for your guidance.

[2022-08-29 22:52] KHBHH opened #283 "How to run washu app in private mode only?"
Hi,

How can I edit the code so that the app can run incognito mode only (private mode)? Is there a way I can do that?

Thank you for your guidance!

[2022-09-13 20:06] #283 closed

[2022-09-28 05:34] ZhouQiangwei opened #284 "VR mode"
Hi,
<img width="1569" alt="image" src="https://user-images.githubusercontent.com/12793232/192695749-15fa69da-98fd-4925-a505-0aa3955487bd.png">
How could I use VR mode
only show the label of the track

momo

[2022-09-28 12:31] lidaof commented on #284
Hi @ZhouQiangwei Thanks for using the browser!
You might need zoom out more to see the arcs in VR mode.

[2022-10-07 14:17] UgoBor opened #285 "bedcolor help"
Hi Daofeng,
Im using a bedcolor file to show on the browser RNASeq data, as remote track; in red are labeled the upregulated genes and in blue the downregulated.
Uploaded as local track the file shows the results with the proper colours but with the same file, as remote track, the colour on the forth column are used as names instead.
Even indexed after bgzip/tabix sorting, the results is the same.

[2022-10-07 14:44] lidaof commented on #285
Hi @UgoBor thanks for using the browser! You would need use `"type": "bedcolor"`, and the url file need be processed with bgzip/tabix.

[2022-10-07 15:03] UgoBor commented on #285
sorry, my bad! the "type": is indeed bedcolor!
the file is processed with bgzip/tabix. I process the file before moving it in its final destination. Could be this the problem?

[2022-10-07 15:12] lidaof commented on #285
No worries @UgoBor . The url you pasted `http://genome-br1./table_sig_color_chr_sorted.bed` seems not a valid url?

[2022-10-10 20:06] joreynajr opened #286 "Bug with Highlights in Session File"
Hello,

I've started working with Session Files but I found a funny bug. Let's say I highlight chr16:28845327-28864126, save the session, and reopen the session in a new browser instance. If I do this then I will definitely see a highlight for chr16:28845327-28864126 but if I navigate to any other chromosome with the same exact coordinates then I'll see a highlight at chrOTHER:28845327-28864126 ev

[2022-10-10 23:13] xinmin-zhang opened #287 "Roadmap data hub - Data fetch failed"
For a project I am working on, WashU Epigenome browser has been key to providing important epigenome information. I have been using tracks from human hg38, Public data hubs -> Reference human epigenomes from Roadmap Epigenomics Consortium->All Chromatin states tracks

Today somehow these tracks cannot be loaded. The track shows error message "Data fetch failed. Reload page or change view to retry.

[2022-10-10 23:29] lidaof commented on #287
Hi Xinmin,

Unfortunately the server hosting the data has disks failure and has trouble
booting. I am traveling and will try to fix it as soon as possible when I
am back to that server.

On Mon, Oct 10, 2022, 7:14 PM Xinmin Zhang ***@***.***> wrote:

[2022-10-11 02:13] xinmin-zhang commented on #287
Hi Daofeng,
Thanks for the quick response. I look forward to the data server back online.
Xinmin

[2022-10-11 02:17] lidaof commented on #286
Hi @joreynajr , thanks for reporting :)
The start and end are not for the start or end position of a particular chromosome, they are actually for the whole genome context coordinates. you can the see the numbers are much bigger, so you should be be safe to go to other regions which should not be highlighted if you didn't highlight them.

<img width="424" alt="image" src="https://user-images.github

[2022-10-11 07:42] albertoriva commented on #262
Yes, sorry - it's the legacy browser.

Thanks,

Alberto

On Sun, Apr 24, 2022, 10:04 PM Daofeng Li ***@***.***> wrote:

[2022-10-11 20:08] joreynajr commented on #286
Hi @lidaof, was I was hoping to do is create a python function where I could generate sessionFiles with a particular set of highlights. This would be very powerful from a visualization standpoint and there might be a workaround but I think it would be a great feature to have.

[2022-10-11 21:14] lidaof commented on #286
Hi @joreynajr do you mean if you have a chrX:xxx-xxxx region, you want to know how to convert to start/end in your python script? it will depend on the genome, you can line up all the chromosomes, then for example 0 position in chr2 will be used by end of chr1 instead, same applied to other chrom and positions. let me know if I misunderstood your request. thanks!

[2022-10-12 19:15] joreynajr commented on #286
No worries @lidaof, I think I found a nice workaround! Thanks for your quick responses and the great software!

[2022-10-12 19:15] #286 closed

[2022-10-12 19:30] lidaof commented on #286
Great, thanks! @joreynajr

[2022-10-13 16:14] lidaof commented on #287
Hi @xinmin-zhang the server is back online. (I am still troubleshooting the disk failure, we might replace some disks in the near future which might cause temporary down time)

[2022-10-13 16:34] xinmin-zhang commented on #287
Great, thanks!

[2022-10-13 16:34] #287 closed

[2022-10-15 21:10] joreynajr opened #288 "Embedding for Github Instructions work but not ReadTheDocs"
Hi,

Just leaving a comment. I found that the WashU embedding instructions on Github work out of the box but that's not true for the ReadTheDocs instructions: https://eg.readthedocs.io/en/latest/installation.html#embedding.

For this second implementation, it seems like the main issues have to do with sourcing for `igv.min.js`, `epgg.js`, `epgg_v47.2.8.css`. Whatever the case I think it would be h

[2022-10-16 04:05] lidaof commented on #288
Hi @joreynajr will fix that! Thanks for reporting it.

[2022-10-16 04:06] #280 closed

[2022-10-16 04:06] #279 closed

[2022-11-08 12:24] ymhuang-hzau opened #290 "questions about Embedding"
HI, @lidaof
The demo of Embedding failed because the link was invalid (https://target.wustl.edu/dli/eg/epgg.js).

[2022-11-08 14:19] lidaof commented on #290
Hi @ymhuang-hzau sorry for that, please use the IP address for now, our IT seems configured the wrong IP address for that domain.
http://128.252.217.138/dli/eg/

[2022-11-08 15:00] ymhuang-hzau commented on #290
Thank you, @lidaof . I can use this demo now!

[2022-11-08 15:18] ymhuang-hzau commented on #290
Thank you, @lidaof  . I can use this demo now! By the way, Can I add my own 'geneannotation' in this demonstration? I mean, I'm not a React user, but I want to use my own API.

[2022-11-08 15:43] lidaof commented on #290
Hi @ymhuang-hzau of course you can, you would need to modify the API URL in GeneSource.js file with your own API URL.

[2022-11-11 15:12] lidaof opened #292 "live URL on main site is broken"

[2022-11-11 17:31] lidaof commented on #292
changed .htaccess file seems fixed this

[2022-11-11 17:31] #292 closed

[2022-11-14 08:58] ymhuang-hzau commented on #290
Thank you @lidaof . With your help, I used the "npm run setup" command to import genome data into the mongodb. But after I type "npm start", the API can only run locally (localhost:3001). What can I do to make it run online like your website (https://lambda.epigenomegateway.org/v2)?

[2022-11-14 09:00] ymhuang-hzau commented on #290
Here, based on epgg, I load the cotton genome on my website (http://yanglab.hzau.edu.cn/browser/).

[2022-11-29 06:06] yoyoong opened #294 "Other solutions to CORS?"
I get the track data from data server and failed:
![1669701956668](https://user-images.githubusercontent.com/31053721/204451636-92586be2-32e9-4f1f-b66e-c20e642882c8.png)

And I know the problem but I cannot to configure the server to support CORS because of the security policy. So I want to ask whether other solutions to this problem? I have tried to use the proxy but it didn't work, and following

[2022-11-29 13:50] lidaof commented on #294
Hi @yoyoong you should use another software like Apache for setting up the web server for hosting bigwig files, or an easier solution is to use [http-server](https://www.npmjs.com/package/http-server) JS package. so here is what you can do, install the http-server package, go to the folder where bigwig files located, run `http-server ./ --cors`, then use the URL for submitting as a remote track. l