[2018-02-02 21:42] lidaof opened #1 "main pane not displayed in firefox"
on chrome:
![image](https://user-images.githubusercontent.com/102806/35756125-b65e4bba-082f-11e8-895a-bae8b2835053.png)

one Firefox:
![image](https://user-images.githubusercontent.com/102806/35756108-9ee24248-082f-11e8-8956-3666bb3a4a48.png)

[2018-02-05 22:35] #1 closed, assigned to nobody

[2018-03-15 03:37] lidaof opened #2 "metadata color map"

[2018-03-15 03:39] lidaof opened #3 "heatmap display of tracks when height reduced to certain threshold"
![image](https://user-images.githubusercontent.com/102806/37443195-8a2ff6b0-27d8-11e8-8265-6db35e7f743b.png)

[2018-03-15 03:40] lidaof opened #4 "example bam track"

[2018-03-15 03:40] lidaof opened #5 "example bigbed track"

[2018-03-15 03:42] lidaof opened #6 "custom track submission UI"

[2018-03-15 03:44] lidaof opened #7 "methylC track"

[2018-03-15 03:44] lidaof opened #8 "long range interaction tracks"

[2018-03-15 03:44] lidaof opened #9 "Repeatmasker track"

[2018-03-15 03:45] lidaof opened #10 "track color, height configuration"

[2018-03-15 03:45] lidaof opened #11 "smooth numerical tracks"

[2018-03-15 03:47] lidaof opened #12 "pdf and/or svg output"

[2018-03-15 03:47] lidaof opened #13 "session function"

[2018-03-15 03:48] lidaof opened #14 "chromHMM tracks"

[2018-03-15 03:49] lidaof opened #15 "more genomes, genome selection"

[2018-03-15 03:50] lidaof opened #16 "VR display mode"

[2018-03-15 03:50] lidaof opened #17 "3D tracks?"

[2018-03-15 03:52] lidaof opened #18 "styling, make UI similar to old browser"

[2018-03-15 03:52] lidaof opened #19 "more track configurations, y-axis scale, summary method, logarithm, background color etc."

[2018-03-15 03:53] lidaof opened #20 "app scatter plot"

[2018-03-15 03:53] lidaof opened #21 "app genome snapshot"

[2018-03-15 03:54] lidaof opened #22 "app split panel"

[2018-03-15 03:55] lidaof opened #23 "genome alignment track"

[2018-03-16 14:35] lidaof opened #24 "display genome sequence at base pair level"

[2018-03-19 17:39] lidaof opened #25 "embedding browser to any webpage"

[2018-03-22 20:54] #2 closed, assigned to nobody

[2018-03-27 21:04] #24 closed, assigned to lidaof

[2018-04-12 15:02] #15 closed, assigned to nobody

[2018-04-12 15:02] #9 closed, assigned to nobody

[2018-04-12 15:03] #6 closed, assigned to nobody

[2018-04-19 16:55] #5 closed, assigned to nobody

[2018-06-11 16:32] Dacode45 opened #26 "Add Typescript to Project"

[2018-06-12 19:19] Dacode45 opened #28 "Implement BamRecord Model"
- Ensure BamRecord Test pass

[2018-06-13 17:53] #26 closed, assigned to Dacode45

[2018-06-13 17:54] Dacode45 opened #30 "Add VR Track Support"
- Display DNA in 3D
- Display Numerical Tracks in 3D

[2018-06-18 16:37] Dacode45 opened #31 "[Bug] Sourcemap wrong for JS files"
Try to fix with webpack overrides

[2018-06-19 20:56] #31 closed, assigned to Dacode45

[2018-07-10 15:14] #3 closed, assigned to nobody

[2018-07-10 15:14] #7 closed, assigned to nobody

[2018-07-10 15:15] #8 closed, assigned to nobody

[2018-07-10 15:15] #4 closed, assigned to nobody

[2018-07-10 15:16] #10 closed, assigned to nobody

[2018-08-09 16:43] EvoAlias opened #33 "Implement more logical background colors for MethylC tracks at zoomed out view."
MethylC currently defaults to gray when zoomed out when there are pixels in different contexts. 1) Implement combined coloring for contexts that have the same colors (ie CGC and CGG both have light purple as background so when it is zoomed out these should combine to light purple, not gray). 2) Allow the user to pick the "Most important feature" so that the background takes on the color. IE when z

[2018-08-09 16:44] EvoAlias opened #34 "Added Fixed Display Axis for Beds Density Format."
Allow users to set and upper and lower limit for easier viewing. It would also be good to limit the automatic scale to a smaller window.

[2018-08-09 16:46] EvoAlias opened #35 "Auto add Metadata Terms"
When a json is uploaded automatically add the metadata terms within the json to the metadata table automatically.

[2018-08-09 18:34] EvoAlias opened #36 "Metadata Colors"
Allow customization of colors in the metadata table.

[2018-08-09 18:38] EvoAlias opened #37 "Reverse and Forward Strand Labels"
Allow for labeling of both Forward and Reverse Strand, labeling of one, or labelling of none. Alternatively make this automatically small font just above and below the middle 0 point.

[2018-08-09 18:40] EvoAlias opened #38 "Categorial Tracks"
Allow for a categorical track (sort of like the repeatmasker track) where you can have different colors for different categories of elements (ie UMRs and DMRs different colors on the same track). Alternatively co-opt the MethylC track for this purpose, but allow an option for element labelling like what can be done in bed format.

[2018-08-09 18:43] EvoAlias opened #39 "Hover over labels of tools"
It would be nice when I hover over tools if they would say what they would do. This seems to be implemented at least for the drag and swap tools, but it is almost never appears.

[2018-08-09 18:45] EvoAlias opened #40 "Allow Dragging of Tracks not next to each other."
Although I can select many tracks together I can only drag tracks together if they are next to each other. Allow for dragging of tracks together if they are selected even if they are not next to each other.

[2018-08-09 18:45] EvoAlias opened #41 "Cancel Multiselect"
Have a cancel multiselect option.

[2018-08-09 18:46] EvoAlias opened #42 "Reordering by metadata"
Allow for reordering of tracks by their metadata terms.

[2018-08-09 18:47] EvoAlias opened #43 "Allow of Expansion of Track name"
Allow for the expansion of the track name so that it automatically does not go onto two lines.

[2018-08-09 18:49] EvoAlias opened #44 "Axis Labels Overlapping"
Don't allow bottom axis label to encroach on next track's labels.
<img width="282" alt="screen shot 2018-08-09 at 1 48 11 pm" src="https://user-images.githubusercontent.com/8665173/43919234-f0a9f88e-9bda-11e8-95af-0318c51e624b.png">

[2018-08-09 18:52] EvoAlias opened #45 "Allow Dynamic Name Changes"
Allow the user to change the name of tracks, without having to code it in the json.

[2018-08-09 18:55] EvoAlias opened #46 "Allow user to click on bubbles and highlight text in bubbles ."
The user can currently click on a moving "bubble" for the refgenes track and then highlight the information within that bubble. However, the user can not perform the same function for a bed or methylC track. Basically allow for clicking to keep the bubble there and then a click off for the bubble to go away.

Works for refgene: <img width="633" alt="screen shot 2018-08-09 at 1 53 00 pm" src="https

[2018-08-09 18:57] EvoAlias opened #47 "Dynamic and permanent color labels for ruler and methylC track."
Within the title area it would be nice for the ruler to show which color each of the bps is represented by. For the methylC track this would also be nice.

[2018-08-09 18:59] EvoAlias opened #48 "Change Custom hub button color to look like a button."
Currently this button blends right in with the background.
<img width="369" alt="screen shot 2018-08-09 at 1 58 33 pm" src="https://user-images.githubusercontent.com/8665173/43919731-74b82aa0-9bdc-11e8-8514-90d9df33e816.png">

[2018-08-09 19:01] EvoAlias opened #49 "Create a better table system for the track list."
Becomes unwieldy with a lot of tracks.

[2018-08-09 19:01] EvoAlias opened #50 "Allow for track "hiding""
Allow a track to be hidden/de-selected, but still stored in the session so that it can be added back without re-uploading.

[2018-08-10 20:22] EvoAlias opened #51 "Zoomed out is not centered"
If I look at a central point and zoom out this point moves to the right of the zoom out and is not centered.

View 1:
<img width="1699" alt="screen shot 2018-08-09 at 5 04 57 pm" src="https://user-images.githubusercontent.com/8665173/43979669-2469e072-9cb1-11e8-923f-7c113aec4dc7.png">

View 2:
<img width="1694" alt="screen shot 2018-08-09 at 5 05 15 pm" src="https://user-images.githubusercontent.c

[2018-08-10 20:23] EvoAlias opened #52 "Enable Highlighting"
Enable highlighting of a region so that the user can see that region when he/she zooms out.

[2018-09-13 22:02] EvoAlias opened #53 "Highlighting goes over metadata at zoomed in level"
<img width="2071" alt="screen shot 2018-09-13 at 4 40 59 pm" src="https://user-images.githubusercontent.com/8665173/45518365-cee5f100-b776-11e8-936d-f8b8ae24a738.png">

[2018-09-13 22:03] EvoAlias opened #54 "Ruler becomes very crunched at certain zoom points."
<img width="2069" alt="screen shot 2018-09-13 at 4 51 21 pm" src="https://user-images.githubusercontent.com/8665173/45518387-e4f3b180-b776-11e8-9140-dbdbf5306ec2.png">

[2018-09-13 22:05] EvoAlias opened #55 "Metadata labels encroach on view space"
<img width="1778" alt="screen shot 2018-09-13 at 5 03 54 pm" src="https://user-images.githubusercontent.com/8665173/45518454-3308b500-b777-11e8-9885-c194515ed933.png">
<img width="1776" alt="screen shot 2018-09-13 at 5 04 16 pm" src="https://user-images.githubusercontent.com/8665173/45518462-3603a580-b777-11e8-8334-d3eb5e99b041.png">

[2018-09-13 22:15] #52 closed, assigned to nobody

[2018-09-19 15:08] #39 closed, assigned to nobody

[2018-09-28 15:25] #41 closed, assigned to nobody

[2018-10-25 02:39] lidaof commented on #53
Fixed on v47.2.1

[2018-10-25 02:39] #53 closed

[2018-10-25 02:39] #55 closed

[2018-10-25 02:40] lidaof commented on #49
v47.2.1 improved the track list allow delete, re-add tracks, feel free to re-open

[2018-10-25 02:40] #49 closed

[2018-10-25 02:41] lidaof commented on #43
can expand track legend width for this purpose.

[2018-10-25 02:41] #43 closed

[2018-10-25 02:41] lidaof commented on #38
Implemented on v47.2.1

[2018-10-25 02:41] #38 closed

[2018-10-25 02:42] lidaof commented on #23
@smhsu implemented this track type.

[2018-10-25 02:42] #23 closed

[2018-10-25 02:43] lidaof commented on #18
so far, I think the UI is similar to old browser.

[2018-10-25 02:43] #18 closed

[2018-10-25 02:43] lidaof commented on #14
Done on v47.2.1

[2018-10-25 02:43] #14 closed

[2018-10-25 02:43] lidaof commented on #13
Added Firebase integration too

[2018-10-25 02:43] #13 closed

[2018-10-25 02:44] lidaof commented on #12
Now can save as SVG

[2018-10-25 02:44] #12 closed

[2018-10-25 02:44] lidaof commented on #50
From Tracks->Track List, the deleted tracks can be found there.

[2018-10-25 02:44] #50 closed

[2018-10-25 02:45] lidaof commented on #19
summary method, logarithm still need to be implmented

[2018-10-25 02:47] lidaof commented on #44
your track height maybe too low~

[2018-10-25 02:47] lidaof commented on #45
Right Click the track can configure the track name

[2018-10-25 02:47] #45 closed

[2018-10-25 16:52] lidaof commented on #54
should be improved from latest build

[2018-10-25 16:52] #54 closed

[2018-10-25 16:53] lidaof commented on #44
should be improved in latest build

[2018-10-25 16:56] #28 closed

[2018-10-25 16:57] lidaof commented on #47
ATCG legend for ruler track is implemented. for methylC these can be seen from context menu.

[2018-10-25 16:57] #47 closed

[2018-10-25 18:11] EvoAlias commented on #44
Bottom label still overlaps the line for the next track. Also there is weird whitespace below bedgraph tracks (with - and + values).
<img width="42" alt="screen shot 2018-10-25 at 1 09 34 pm" src="https://user-images.githubusercontent.com/8665173/47521018-7286ee80-d857-11e8-8cb5-92bd9d725420.png">

<img width="81" alt="screen shot 2018-10-25 at 1 09 58 pm" src="https://user-images.githubuserconten

[2018-10-25 18:21] lidaof commented on #44
maybe send me your session id?
you also see the downside of moving top label down and bottom one up might cause overlap with the center 0

[2018-10-25 19:49] EvoAlias opened #62 "Hot Keys for Frequently Used Buttons"
I  would suggest:

Command H or D for the Drag Tool
Command S or R for the Reorder/Swap Tool
Command M for the Magnify Tool
Shift < or Shift > to pan one full panel left or right.

[2018-10-25 20:02] lidaof commented on #62
Thanks.
Did any of this conflict with system hotkeys?

[2018-10-25 20:06] lidaof commented on #62
by the way, PC doesn't have command key..

[2018-10-25 20:18] EvoAlias commented on #62
CTRL for PC? A bunch of these do conflict...maybe do command option (CTRL ALT for PC)?

[2018-10-25 21:56] lidaof commented on #62
`Alt + H` or `Alt + D` for the Drag Tool

`Alt +  S` or `Alt + R` for the Reorder/Swap Tool

`Alt +  M` for the Magnify Tool

`Alt + Z`  and `Alt + X` to pan one full panel left or right.

[2018-10-25 22:04] EvoAlias commented on #62
YES AMAZING!!!

[2018-10-26 11:55] peterch405 opened #63 "Screenshot app removing interactions from arc plot"
This issue was raised on the google+ group, but I thought with the active development of the new browser it would be useful to reiterate this short coming in the screenshot app that is still present within the new browser.

The issue is the interactions that go beyond the viewing window get cut off with the screenshot app:

![image](https://user-images.githubusercontent.com/8269031/47564807-29e638

[2018-10-26 14:41] lidaof commented on #63
Hi @peterch405,

thanks for raising this issue.
We did consider about this problem. The main browser view window is an `expanded` region include a left and right wing for the region in screen, while the region in Screenshot has no expansion. that's why arcs outside of screen view window get cut off. I will try some test and see how it goes.

[2018-10-26 17:08] peterch405 commented on #19
Could you also please add matplot from the previous version? http://wiki.wubrowse.org/Matplot

[2018-10-26 17:40] lidaof commented on #19
Hi @peterch405 , thanks for mention that.
Yeap, it's on out to-do list. Will update this issue if there is any update.

[2018-10-26 18:24] peterch405 opened #64 "Set y-axis of numerical track as 0"
I have a directional RNA-seq dataset that in the previous version I was displaying by setting the max value of the reverse strand track to 0 which would set the forward and reverse track back to back. On this new version is doesn't seem possible to set the value to 0. Could this be changed please? Or is there another way to display strand specific RNA-seq data?

[2018-10-26 19:07] lidaof commented on #64
what's you data look like when you use the default auto scale? or you can send me your URL?
thanks.

[2018-10-26 20:01] EvoAlias commented on #64
Hey,

Have you tried combining the files into a bedgraph file (Forward strand (+) Reverse strand (-)), sorting it, compressing it, and then putting it on the browser? You can then have one track for Naive and one for Primed.

[2018-10-26 20:19] peterch405 commented on #64
Do you mean an extra column that specifies strand? As far as I know bedgraph is only a 4 column format. If you mean combining the values so that negative are reverse strand and positive are forward strand then that does not work as you cannot have the same position with multiple values (i.e. both forward and reverse strand value).

[2018-10-26 20:33] lidaof commented on #64
I guess your reverse strand file only have negative values? in that case you combine to one file as @EvoAlias suggested. Thanks.

[2018-10-26 20:33] #64 closed

[2018-10-26 21:45] lidaof commented on #63
hi @peterch405 , our latest build at https://epigenome.tk/browser/ should be improved with this issue.
Right now it missed metadata bar and content at left axis still draw...but all arcs are back...

[2018-10-26 21:46] lidaof commented on #44
should be improved on latest build.
Please reopen is problem still exists.

[2018-10-26 21:46] #44 closed

[2018-10-26 22:05] lidaof commented on #37
`labeling of one` is chosen

[2018-10-26 22:05] #37 closed

[2018-10-26 22:56] peterch405 commented on #63
I've had a quick look (v42.2.2), the downloaded SVG only contains track names without any arcs:
![2018-10-26t23_52_16 817z_eg](https://user-images.githubusercontent.com/8269031/47595896-97c04d80-d97a-11e8-8076-2c3fa9d2fe62.png)
data.

[2018-10-26 23:12] lidaof commented on #63
Hmm, should not be....I have been testing this afternoon, can you save and
send me a session bundle id?

On Fri, Oct 26, 2018 at 5:56 PM Peter Chovanec <notifications@github.com>
wrote:

--
Daofeng

[2018-10-27 00:41] lidaof commented on #63
I will try to debug on Firefox. Thanks

On Fri, Oct 26, 2018 at 7:23 PM Peter Chovanec <notifications@github.com>
wrote:

--
Daofeng

[2018-10-29 18:31] lidaof commented on #63
hi @peterch405 , I posted a fix for firefox on our epigenome.tk site, I assume it should work for firefox under Ubuntu now.

[2018-10-30 10:54] peterch405 commented on #63
Hi @lidaof, I have tested it on firefox and yes it work for me. Thank you for implementing this!

[2018-10-30 15:23] lidaof commented on #63
Hi @peterch405 , thanks for testing. I will close this issue for now.  Feel free to reopen if you find more issue.

[2018-10-30 15:23] #63 closed

[2018-10-30 15:23] lidaof commented on #48
The custom track/hub UI was updated for this matter.

[2018-10-30 15:23] #48 closed

[2018-10-30 15:25] lidaof opened #65 "add cool track"
probably use the higlass public API?

higlass docs at: http://docs-dev.higlass.io/index.html

[2018-11-02 18:32] hitz commented on #25
+1

[2018-11-07 19:58] lidaof commented on #25
Hi Ben @hitz,

Currently we have make the embedding function to work with regular html,
see example here http://target.wustl.edu/dli/eg/embed.html I am embedding 2 bigWig tracks from ENCODE data portal:

![image](https://user-images.githubusercontent.com/102806/48157247-c0a6e380-e294-11e8-8089-3dd4ace8617f.png)

You can right click the page to see page source, core parts are:

[code]

[2018-11-07 20:06] lidaof commented on #25
ongoing effect is being made for making the package as a React component, will update.

[2018-11-20 15:43] LaureTomas opened #71 "Upload file from txt - new WashU browser"
I want to ask if it is avaible the feature to upload files in txt format to the browser, because in the old version there is an app to do so but in the new version I couldn't find it

[2018-11-20 17:20] lidaof commented on #71
Hi @LaureTomas, the new browser design is serverless (basically there is no server behind it to process big files). while we are working on a third party API for file upload purpose. We will work on this. Will update you.

[2018-11-22 05:57] ewijaya opened #72 "Bigwig does not display on new WashU"
Hi,

I tried to upload a bigwig file (downloadable [here](https://s3-ap-northeast-1.amazonaws.com/stemrim-pub/ewijaya/181019_NB501621_0358_AH2J5VBGX9/cutc_bigwig/37oC/MK_31_S2_001_genome.bwt2pairs.sorted.bigWig)), from Custom Track.

But it gave me 'data fetch' error. Please advice how can we resolve the problem?

<img width="404" alt="screen shot 2018-11-22 at 14 55 17" src="https://user-images.g

[2018-11-23 04:46] lidaof commented on #72
Hi @ewijaya ,

looks like you need to enable CORS on your webserver, if you use Ubuntu with Apache2 you can take a look at:
https://eg.readthedocs.io/en/latest/tracks.html#configure-your-webserver-to-enable-cors

Thanks.

[2018-11-23 04:47] lidaof commented on #65
implemented and thanks to the help from higlass team.

[2018-11-23 04:47] #65 closed

[2018-11-26 07:41] ewijaya commented on #72
Hi @lidaof,

I tried on your original server: http://epigenomegateway.wustl.edu/browser/
with the linked bigWig file above.
It gave that `Data fetch failed` error.

Please advice how to resolve.

Regards,
E.W.

[2018-11-26 16:38] lidaof commented on #72
Hi @ewijaya , I am going to try some stuff on amazon s3 and will update you asap.

[2018-11-26 17:20] lidaof commented on #72
Hi @ewijaya ,

in you Amazon S3 bucket, please enable CORS and put this configuration: (text after the image)

![image](https://user-images.githubusercontent.com/102806/49030482-099fd880-f16d-11e8-976a-9a557b680aa3.png)

[code]

[2018-11-27 22:00] gracilis opened #73 "Cannot navigate browser by dbSNP ID"
Hello,

      It appears that you've removed the functionality where you can zoom to a region of the genome by dbSNP ID.

 We rely heavily on the ability to navigate directly to a SNP using its rsid. Is this functionality hidden somewhere? If not, could you restore it?

![new_washu](https://user-images.githubusercontent.com/42852986/49114333-8c07c580-f25d-11e8-9800-9b94e2bbc40c.jpg)

![old_washu](

[2018-11-28 00:45] lidaof commented on #73
Hi Grace,

Sorry about that!
Currently that function is available at old browser, I will try to get this
function in new browser.

On Tue, Nov 27, 2018 at 4:00 PM Grace Hansen <notifications@github.com>
wrote:

--
Daofeng

[2018-11-28 08:55] ewijaya commented on #72
Hi @lidaof ,

Yes. It works. Thanks.

E.W.

[2018-11-28 16:14] lidaof commented on #72
Thanks for reporting back @ewijaya . I am closing this.

[2018-11-28 16:14] #72 closed

[2018-12-13 14:54] ClytiaXm opened #74 "Cannot add link to 3D genome browser"
Thanks for updating the WashU Epigenome Browser. However, I found that the new version of the browser did not support to save a track as weblink as the old version did. Therefore, I cannot add the track to other webservers, such as the 3D genome browser. I tried to use the weblink created by the old browser, however, it just didn't work as before and linked to a default track (annotations of IMR90

[2018-12-13 16:08] lidaof commented on #74
Hi @ClytiaXm , sorry I am a little bit confused. What do you mean by link to 3D genome browser?
if you have embedded browser, you can change the URL to old browser URL which is http://epigenomegateway.wustl.edu/legacy/, then things will work again?

[2018-12-14 02:38] ClytiaXm commented on #74
Daofeng,
Thanks for replying my question. I wanted to add epigenetic annotations from WashU browser to the 3D genome browser (http://promoter.bx.psu.edu/hi-c/view.php) by adding the weblink of my track from WashU, as shown in the belowing figure. When I used the weblink made from the old WashU browser (by: APP-session-link in the old browser), the correct annotations could not be shown as before.

[2018-12-14 05:32] lidaof commented on #74
Hi ClytiaXu,

Really sorry somehow I cannot see your screenshot. You are from Feng's lab,
right?
we can talk over the phone tomorrow if you want? I think it will be easier
to solve the problem.
Thanks
Daofeng

On Thu, Dec 13, 2018 at 8:38 PM ClytiaXm <notifications@github.com> wrote:

[2018-12-14 06:42] ClytiaXm commented on #74
Daofeng,
I'm not from Feng's lab ^_^. I added the screen shot and some descriptions about my problem in the attachment.
Thanks for your patience.
ClytiaXu

xm19910326@126.com

From: Daofeng Li
Date: 2018-12-14 13:32
To: lidaof/eg-react
CC: ClytiaXm; Mention
Subject: Re: [lidaof/eg-react] Cannot add link to 3D genome browser (#74)
Hi ClytiaXu,

Really sorry somehow I cannot see your screenshot. You

[2018-12-14 20:10] lidaof commented on #74
Hi @ClytiaXm , i see i see.
Can you send the screenshot to my gmail lidaof@gmail.com? seems there is still no screenshot in your github reply. Thanks.

[2018-12-18 20:57] vivekliai opened #75 "Issue with WashU browser"
When running the latest WashU browser (http://epigenomegateway.wustl.edu/browser/), I can not upload / visualize any tracks. I am facing the following issues:
1) When manually uploading a .json file (tracks -> add custom data hub -> upload data hub file), the server is unresponsive.
2) Specifying http link of .json file (tracks -> add custom data hub -> load datahub url) produces errors like http

[2018-12-18 21:14] lidaof commented on #75
Hi @vivekliai , thanks for using the browser.

1 and 2 should be working, would you mind send me your data hub URL or track URL?

for 3, the new browser uses Javascript code to access files from different domain, that's the reason we ask users to enable CORS, do you have a web server setup? which OS and software are you using?

Thanks.

[2018-12-18 21:16] lidaof opened #76 "add gene plot function"
add gene plot function

[2018-12-18 21:16] lidaof opened #77 "add HiC normalization"
add HiC normalization

[2018-12-18 21:17] lidaof opened #78 "display subfamily label for repeat track"
display subfamily label for repeat track

[2018-12-18 21:39] vivekliai commented on #75
Hi Daofeng,

It is giving us problem with all tracks we have. Here one of them:

https://informaticsdata.liai.org/BioAdHoc/Groups/vd-vijay/sourya/DATA/HiChIP/Mumbach_2017_paper/Session_Details/GM_H3K27ac_HiChIP_WashUSession.json <https://informaticsdata.liai.org/BioAdHoc/Groups/vd-vijay/sourya/DATA/HiChIP/Mumbach_2017_paper/Session_Details/GM_H3K27ac_HiChIP_WashUSession.json>

We have web server s

[2018-12-18 21:47] lidaof commented on #75
Hi @vivekliai , i see you link need a password to access?

have you tried use https://username:password@your.website this syntax of URL?
(I actually haven't tried that)

![image](https://user-images.githubusercontent.com/102806/50184899-fb605a80-02db-11e9-939b-4fb7df9773ce.png)

[2018-12-18 21:55] EvoAlias opened #79 "Add Depth Filter to MethylC Tracks"
Add an option when you right click to filter by depth.

[2018-12-18 21:56] EvoAlias opened #80 "Add X-Axis fixed scaling to MethylC"
Allow the MethylC track X-axis maximums to be lowered.

[2018-12-18 21:56] vivekliai commented on #75
Hi Daofeng,

Thanks for your reply. We have tried providing username and password in both .json file link as well as on individual tracks. The same problem persists.
Please use the attached text file containing list of tracks. You may use it as a complete .json file or may load individual tracks.
Please check and let us know for any further information.

Vivek Chandra, Ph.D.
Division of Vaccine Di

[2018-12-18 21:59] lidaof commented on #75
Hi @vivekliai , I am guessing our data fetching code might not working with password URL...
do you need help on host data on our server? I can give you an random URL for that.

[2018-12-18 22:07] vivekliai commented on #75
Hi Daofeng,

Thanks for your reply. Let us discuss with our PI’s about loading data on your server, and we’ll get back to you.

We used the old (legacy) version of WashU. Unfortunately for last few days, the legacy version is also not working properly. Tracks are arbitrarily not loaded, or sometimes partially loaded (ChIP-peaks or Hi-C contacts are randomly missing). So, it would be nice if you ch

[2018-12-19 03:44] lidaof commented on #75
Hi @vivekliai , did you say the same JSON used work with old browser without username or password? Thanks.

[2018-12-19 16:57] vivekliai commented on #75
Hi Diofeng,

Thanks. For old browser we used to work with saved tracks. After that we made JASON file for legacy version and it is working without password for that. The major problem we are facing with legacy version is that it works good for few days and suddenly it starts losing or getting new peaks or contacts. And then after few days it becomes normal. We send you same JASON file that works f

[2018-12-19 17:03] lidaof commented on #75
Hi @vivekliai, i see, this probably caused by the URL changes..I did apply a fix and that should not be a problem...the file uploaded using file upload function actually were cleaned every 6 month...not sure if your uploaded file had been cleaned by our auto script. We are trying to developing the local file read function for new browser this will solve the dependency on web server. Right now the

[2018-12-19 20:40] #62 closed

[2018-12-19 21:55] lidaof commented on #80
implemented in the .tk site, feel free to reopen this. Thanks.

[2018-12-19 21:55] #80 closed

[2018-12-19 21:55] lidaof commented on #79
implemented in the .tk site, feel free to reopen this. Thanks.

[2018-12-19 21:55] #79 closed

[2018-12-19 22:15] gracilis opened #81 "Old HiC pairwise format is gone"
Hi,

 It used to be that you could visualize HiC data in the below format. Indeed, CHiCAGO outputs data in this format specifically for visualization in the WashU browser. The WashU browser can no longer load these files.

chr1,860493,861124	chr1,902800,903730	5.44
chr1,860493,861124	chr1,996884,997701	5.37
chr1,860493,861124	chr1,1024143,1025479	8.5

[2018-12-20 15:40] lidaof commented on #81
Hi @gracilis , sorry for that trouble. I am not aware of this format is still being used honestly :)

I will do some test to see if I can write data fetching code for this format, meanwhile the format should be used at the old browser http://epigenomegateway.wustl.edu/legacy/

[2019-01-09 10:58] jos4uke opened #82 "how to add new genome"
Hi @lidaof

I was wondering how to add a new genome to eg-react.
Arabidopsis genome is not available in the current genome list.

The install documentation, https://eg.readthedocs.io/en/latest/installation.html, only provides information about how to setup annotation files following hg19 or mm10 templates.
I tried the api service to check if tair10 genome is available but it seems not.

I would li

[2019-01-09 15:32] lidaof commented on #82
Hi @jos4uke , sure thing!
Thanks for interest. We got a similar request from another people as well.
I will work on the documentation and post you asap.
thanks again!

[2019-01-09 15:57] jos4uke commented on #82
Hi @lidaof

it would be great
thanks a lot for your work, it is very useful!

All the best

[2019-01-09 20:09] lidaof commented on #77
implemented by @smhsu from e1bcba5

[2019-01-09 20:09] #77 closed

[2019-01-09 20:11] lidaof commented on #75
Hi @vivekliai, you may want to try the [local file upload](https://eg.readthedocs.io/en/latest/local.html) since the browser cannot deal the password protected URLs, let me know if anything. I am closing this issue for now. Feel free to reopen it.

[2019-01-09 20:11] #75 closed

[2019-01-17 22:41] lidaof commented on #82
Hi @jos4uke , sorry for the delay.
the doc about add a new genome is added at https://eg.readthedocs.io/en/latest/add.html, please let me know if you have any question. Thanks.

[2019-01-18 09:53] jos4uke commented on #82
Hi @lidaof , no problem

I will test your documentation and give you feedback on 3 plant genomes

Thanks a lot for your help

[2019-01-31 00:59] jgbaum commented on #75
Hi @lidaof,

I'm trying to help @vivekliai to resolve this issue and have done a bit of testing to confirm that the issue is not related to URLs containing authentication info.  I've gone ahead and placed a bigwig file on an apache server located [here](https://downloads.iedb.org/misc/test_track.bigWig).

That server (CentOS 7) has been configured with CORS support, according to the [instructions

[2019-01-31 17:08] jgbaum opened #85 "unable to pull remote tracks into genome browser"
Hi @lidaof,

I'm trying to help @vivekliai to resolve the issue he discussed in #75 (apologies for previously posting a comment in that closed ticket before opening this one).  I have done a bit of testing to confirm that the issue is not related to URLs containing authentication info.  I've gone ahead and placed a bigwig file on an apache server located [here](https://downloads.iedb.org/misc/test

[2019-01-31 20:46] lidaof commented on #85
Hi @jgbaum , thanks for all the testing and feedback.
I am sorry for this, I don't have a CentOS box before and that CORS setup just worked at our Ubuntu server. Which version of Ubuntu are you using now?
I also find a new server, get CentOS 7 installed and tested the settings in our doc, it indeed not work with the browser, sorry again.
I have been google'ing solutions for the whole day now, I ho

[2019-01-31 21:02] lidaof commented on #85
Hi @jgbaum , could you try add this to the main configuration file `/etc/httpd/conf/httpd.conf`:

[code]
![image](https://user-images.githubusercontent.com/102806/52084966-ea586980-2568-11e9-9a09-345cb465a428.png)

in `/etc/httpd/conf.modules.d/00-base.conf`, the header module should be enabled:

![image](https://user-images.githubusercontent.com/102806/52085050-15db5400-2569-11e9-8865-1ad651df3ec

[2019-01-31 22:32] jgbaum commented on #85
Hi @lidaof,

I've updated the settings in our apache config and the track now seems to be loading properly. Thanks for your quick reply!

-J

[2019-01-31 22:32] #85 closed

[2019-01-31 22:37] jgbaum opened #86 "Failed to compile error message"
Hi,

Thanks for your help resolving #85.  Now I have a new issue for you :).

We're trying to get a local instance running and I've tried installing the source code in a local (ubuntu-based) docker instance by following the frontend install instructions in the README file, but get the following error message (in the terminal) when I point my browser to http://localhost:3000:

![image](https://user

[2019-01-31 22:45] jgbaum commented on #86
Thanks for your quick reply!  You should be able to pull the docker container that I posted if you want to quickly reproduce the issue.

[2019-01-31 22:49] lidaof commented on #86
yeah, better idea, will do.

[2019-02-01 20:43] lidaof commented on #86
Hi @jgbaum ,

I have been struggling with this error and didn't found a solution.
Then I happened to delete the entire folder and did a new `git pull`, and then `npm install` and `npm start`, it works...
Maybe you can try that as well? you will need create a firebase configuration file for the full functionality, see docs about this at   https://eg.readthedocs.io/en/latest/installation.html#fireba

[2019-02-01 21:39] jgbaum commented on #86
Thanks, @lidaof!  I'm testing out the new image that you created now and will come back and close this ticket if it works.  In the meantime, I'm going to submit another ticket related to datahub file uploads :)

Your responsiveness is much appreciated!

-J

[2019-02-01 21:46] jgbaum opened #87 "unable to add custom data hub"
Hi,

I've been trying to upload a JSON datahub to the new epigenome browser, but an unable to do so either via URL or by hitting the 'browse' button to upload a file.

If I put in the URL to my JSON file, I get this error message:
![image](https://user-images.githubusercontent.com/6494933/52151297-7630cb00-2627-11e9-889f-068d15188840.png)

If I click on 'Browse' and select my file, the filename do

[2019-02-01 21:54] xzhuo commented on #86
Hi @lidaof, actually I have seen the same error last week. if I deleted the `package-lock.json` and run `npm install` the error will pop up. If I download the `package-lock.json` from the repo then `npm install` compiles fine. I suspect there are some modules conflicting in the `package.json`. I hope it helps.

[2019-02-01 21:57] lidaof commented on #86
That's good to know @xzhuo , thanks!!
I actually don't know the reason yet...

[2019-02-01 21:58] lidaof commented on #87
Hi @jgbaum , could you please share the data hub URL?
I just tested my side seems fine.

[2019-02-01 22:05] jgbaum commented on #87
Sure, here you go:

https://downloads.iedb.org/misc/test_hub.json

Also, if you choose 'browse', are you able to upload a track?  Nothing happens for me in Chrome or Safari.

[2019-02-01 22:07] jgbaum commented on #86
The docker container that you prepared seems to be working for me.  Thanks for your help!

I'll go ahead and leave this issue open as it seems others are having issues compiling as well.  Thanks!

[2019-02-01 22:09] lidaof commented on #87
Got permission error:

![image](https://user-images.githubusercontent.com/102806/52152338-b13cf980-263b-11e9-95d9-70ea01cbadcb.png)

[2019-02-01 22:09] lidaof commented on #87
If you click Browser, a File select dialog should popup to allow you select the data hub json file.

[2019-02-01 22:11] jgbaum commented on #87
Sorry, fixed the permissions issue...now I'm getting this:

![image](https://user-images.githubusercontent.com/6494933/52152431-3bc92d00-262b-11e9-8d1b-821daf7e1e33.png)

[2019-02-01 22:13] jgbaum commented on #87
Regarding the 'browse'...I get to the file dialog and select my file and click 'open', but then nothing seems to happen and I do not see the expected tracks.

[2019-02-01 22:23] lidaof commented on #87
I see, it's because the JSON5 parse failure:
![image](https://user-images.githubusercontent.com/102806/52152813-67eda980-263d-11e9-9b3f-f53a5399e4d7.png)

can you remove the `#` lines?

Also you are using the syntax for our old browser, the new version do require a slightly different syntax: https://epigenomegateway.readthedocs.io/en/latest/datahub.html

specify `showOnHubLoad` to be `true`to enab

[2019-02-01 22:31] jgbaum commented on #87
OK, thanks...I'm now able to use both options to load my track file!

Would it be possible to pass those parsing errors on to users?  I think that would help to make things clearer.  In any case, everything is working for me as expected now.  Thanks so much for your quick and thoughtful replies!

[2019-02-01 22:35] lidaof commented on #87
You are very welcome @jgbaum.
We will consider about the function that puts the error message somewhere on the page to the users.

[2019-02-01 23:02] jgbaum opened #88 "hammock track support?"
Hi,

One of the labs here have prepared 'hammock' tracks that were previously supported by the legacy WashU epigenome browser.  However, this format doesn't seem to be supported by the new browser.  Can you recommend the proper conversion for these tracks so that the data can be viewed in the new genome browser?

Thanks!

-J

[2019-02-02 02:47] Parul-Kudtarkar commented on #25
@lidaof any updates coming soon on this feature?
Thanks! Parul

[2019-02-02 05:36] lidaof commented on #25
Hi @Parul-Kudtarkar , right now the embedding can be done in one webpage. Making the entire browser as one React component is still under development. Sorry for that, if there is any update, will update you and on this thread.

[2019-02-02 05:38] lidaof commented on #88
Hi @jgbaum , yes, hammock is actually like a collection of different track types in legacy browser. We are working on this format.
What type of data are you trying to look at? peak? you can send me a URL or few lines of the file?
Thanks.

[2019-02-02 05:38] #87 closed

[2019-02-13 23:55] jgbaum commented on #88
Hi @lidaof,

Sorry for the late reply.  It turns out our user can simply convert his tracks to BED and he's satisfied going that route.  Thanks again for your assistance!

-J

[2019-02-13 23:55] #88 closed

[2019-02-14 01:39] lidaof commented on #88
Thanks for updating. @jgbaum

[2019-02-24 08:04] songtaogui opened #91 "questions about adding new genomes"
Hi, @lidaof

This is the follow-up of [the issue here](https://github.com/epgg/eg/issues/91):

I would like to build three genomes, one of them is the [Maize APG v4](https://plants.ensembl.org/Zea_mays/Info/Index), the other two were not publicly released. I haven't found any tutorial for dealing with data in the backend folder [at this site](https://epigenomegateway.readthedocs.io/en/latest/). Bu

[2019-02-25 04:19] lidaof commented on #91
Hi @songtaogui , you are welcome. In that case you need run your own backend services: https://epigenomegateway.readthedocs.io/en/latest/installation.html#setup-your-own-backend-api-optional

maybe you can take a look at the files from mm10 and make the gene file the same format? or I can take a look at your files too. Adding new genome in new browser is at https://epigenomegateway.readthedocs.io/

[2019-03-08 02:07] songtaogui commented on #91
Hi @lidaof ,

Thank you for the kindly help and sorry for the late reply.

I will try to setup the backend files.

Thank you.

[2019-03-12 19:04] hewitt645 opened #92 "sessions: custom tracts not really saved"
I loaded in my tracks via CyVerse, they are not really  saved in the session. The information about them remains, but I get "data fetch" error and no data displayed

[2019-03-12 19:22] lidaof commented on #92
Hi @hewitt645 , I just tested session function seems fine. Can you send me the session bundle id? I can search if it saved in firebase database. Thanks.

[2019-03-12 19:24] hewitt645 commented on #92
Session ID: Figure 1

****please make note of my new room and phone numbers*****
Sylvia C Hewitt
Receptor Biology, NIEHS
Room E430
111 Alexander Dr
Research Triangle Park, NC 27709
*****Phone 984 287 4317
FAX 301 451 5657

From: Daofeng Li <notifications@github.com>
Sent: Tuesday, March 12, 2019 3:23 PM
To: lidaof/eg-react <eg-react@noreply.github.com>
Cc: Hewitt, Sylvia C (NIH/NIEHS) [E] <curtiss

[2019-03-12 19:28] lidaof commented on #92
Hi @hewitt645 , bundle id should be a string like this `f16021c0-44fb-11e9-a635-6f227c4b0001`.

[2019-03-12 19:48] hewitt645 commented on #92
Well, it is loading correctly now. How do I get the bundle ID?

****please make note of my new room and phone numbers*****
Sylvia C Hewitt
Receptor Biology, NIEHS
Room E430
111 Alexander Dr
Research Triangle Park, NC 27709
*****Phone 984 287 4317
FAX 301 451 5657

From: Daofeng Li <notifications@github.com>
Sent: Tuesday, March 12, 2019 3:29 PM
To: lidaof/eg-react <eg-react@noreply.github.com>
Cc:

[2019-03-12 19:49] lidaof commented on #92
If you go to Apps-> Session, then there should be a copy button next to the bundle id

[2019-03-12 19:51] hewitt645 commented on #92
Thank you so much

****please make note of my new room and phone numbers*****
Sylvia C Hewitt
Receptor Biology, NIEHS
Room E430
111 Alexander Dr
Research Triangle Park, NC 27709
*****Phone 984 287 4317
FAX 301 451 5657

From: Daofeng Li <notifications@github.com>
Sent: Tuesday, March 12, 2019 3:49 PM
To: lidaof/eg-react <eg-react@noreply.github.com>
Cc: Hewitt, Sylvia C (NIH/NIEHS) [E] <curtiss@ni

[2019-03-12 19:52] lidaof commented on #92
Sure, you are welcome!

[2019-03-15 18:18] grace-hansen opened #93 "Epigenome roadmap data from Public Data Hubs does not load"
Hi,

   Wen I try to load data from the Epigenome roadmap that's hosted on the WashU browser, it fails to load.

This is what I do to load the data:
Tracks --> Public Data Hubs --> Reference human epigenomes from Roadmap Epigenomics Consortium: Complete Consolidated Dataset --> Adult Cells/Tissues,Fat,Adipose Nuclei --> "H3K4me1 narrowPeak of Adipose Nuclei"

The browser just shows an empty red bo

[2019-03-15 18:45] lidaof commented on #93
Hi @gracilis you are correct, we are actually working on this. The hammock peak format is not supported yet, but will be. Sorry for the trouble.

[2019-03-16 02:48] songtaogui opened #94 "Track properties for longrange Score Scale and refbed max rows"
Hi, @lidaof
What properties should I use to control the `Score Scale` ("fixed or auto") and the related `Score min/max value` of the `longrange` track type? I have tried "yScale|ScoreScale|scoreScale", non of these works. And what properties for `refbed max rows` ?

Thank you,

Best wishes
Songtao Gui

[2019-03-16 02:56] lidaof commented on #94
hi @songtaogui , sorry for the missing documentation
it's scoreScale/scoreMax/scoreMin
the 2nd question is maxRows

I will update the docs as well.

[2019-03-16 07:23] songtaogui commented on #94
@lidaof
Thank you, it works !

And I have other questions:
I would like to add/change search link of other databases to the `refbed` info box ( ① in the figure below),
also I would like to change the description "Transcription class" to "class" (② in the figure below) when displaying non-transcription-features. Is it possible to achieve these by editing some script(s) and re-build the browser?
![i

[2019-03-16 22:13] lidaof commented on #94
nice @songtaogui .

For the link and class change you will need modify FeatureDetail.js and GeneDetail.js (which should be pretty straightforward) in the source code and rebuild.

Thanks.

[2019-03-16 22:16] #92 closed

[2019-03-22 03:25] songtaogui commented on #94
@lidaof

Sorry for the late reply. I have achieved my goals by editting the two js files, thank you.

And I was wondering that is there an URL parameter that specified the display-regions, because I would like to link the regions information elsewhere to the WASHU browser.

Thank you.

[2019-03-22 03:31] lidaof commented on #94
yep, can you try `position`?

[2019-03-22 05:22] songtaogui commented on #94
yeah, it works！
Thank you for everything. # 👍

[2019-03-22 18:42] lidaof commented on #94
Sure, I am closing this one. Feel free to ask if you get new issue.

[2019-03-22 18:42] #94 closed

[2019-03-25 21:36] gracilis opened #96 "HiC data has huge whitespace"
Hi,

 This is a new issue--as of a week ago, this did not occur.

 When I load HiC data in longrange format, they load fine but the track space is huge--it covers most of the screen and prevents other tracks from being visible. This is true whether HiC data are in heatmap or arc form. A picture is attached.

![image](https://user-images.githubusercontent.com/42852986/54955726-19ada600-4f1c-11e9-8f

[2019-03-26 03:34] lidaof commented on #96
Hi @gracilis , yes, I am working on making the height configurable, it should be fixed very soon.
We enabled canvas to render the arcs which should make the hic track faster.
Sorry for the trouble.

[2019-03-26 14:37] gracilis commented on #96
Thanks!

[2019-03-26 20:22] lidaof commented on #96
@gracilis thanks for understanding.
Please refresh to v48.4.2, I have enabled height config for the long range tracks, right click the track you can customize the default 500px to any height. Thank you.

[2019-03-27 07:06] souryacs opened #97 "No tooltip text in arc"
Scrolling through longrange tracks in the new browser does not show any tooltip text (such as interacting regions) when the cursor touches any arc.

[2019-03-27 14:37] lidaof commented on #97
Hi @souryacs , yes, last week when I switched to canvas for fast rendering the tooltip is gone right now. I am working on this, hope to get it back asap. Thanks for reporting.

[2019-03-27 18:14] souryacs opened #98 "Negative score arcs - color2 property"
I tried to put positive and negative significance scores in longrange format data as:

chr1    8937499 8937501 chr1:9302499-9302501,-2
chr1    9302499 9302501 chr1:8937499-8937501,-2
chr1    16767499        16767501        chr1:16817499-16817501,3
chr1    16817499        16817501        chr1:16767499-16767501,3

The idea was to use "color" and "color2" in the longrange track properties to differen

[2019-03-27 18:43] lidaof commented on #98
Hi @souryacs , do you have a .gz file for testing this, if yes, could you please send me your test file?
if you don't have, that/s fine too. I am debugging on this. Thanks for reporting.

[2019-03-27 20:57] lidaof commented on #98
Hi @souryacs , can you please refresh the bowser code, and this problem should be fixed.
Sorry for the bug and thanks for reporting.

[2019-03-27 21:07] xzhuo commented on #51
I think it has been fixed? @EvoAlias

[2019-03-27 22:07] souryacs commented on #98
Many thanks @lidaof  for your quick response. I can distinguish between two scores now.

[2019-03-28 02:33] lidaof commented on #98
Thank you @souryacs for confirmation, closing now. Feel free to open any new issue.

[2019-03-28 02:33] #98 closed

[2019-04-01 13:32] liyq601 opened #99 "how to set local track files in a default track facet table"
Hi @lidaof, I have hundreds of local track files.  Is there a way to set a default track facet table like JBrowse? So I need not to upload these tracks every time.

[2019-04-01 16:47] liyq601 commented on #99
Yes, I have. My purpose is to make these tracks as default tracks in the facet table. When I visit the browser, what I need to do is just to select some tracks instead of uploading them. I want to share my data with other lab members or labs, but it's difficult and impossible to send all these tracks to them. So I want to achieve this function.

[2019-04-01 16:53] lidaof commented on #99
Hi @liyq601, while, the data are at your local computer, how can you share the browser tracks without sharing the data? the local hub is reading the file from your local drive actually..if you and your lab members are at same intranet, i recommend setup a local web apache server in your computer, use the URL to build the hub, then this hub can be shared to anyone in same intranet as you. Does this

[2019-04-01 17:37] liyq601 commented on #99
Hi @lidaof , thanks for your answer. I also thought this way(setup a local web server). I just wonder whether there are other easier ways to make it.

[2019-04-01 18:09] lidaof commented on #99
sure thing. @liyq601 I did look around jbrowse documentation, but didn't find the function you mentioned...

[2019-04-02 00:41] liyq601 commented on #99
sorry, @lidaof  maybe I do not describe the question clearly. but it does not matter. I will set up a local web server to achieve this function. Thanks

[2019-04-02 02:17] lidaof commented on #99
sure thing, closing now, Feel free to open new issue. thank you @liyq601

[2019-04-02 02:17] #99 closed

[2019-04-03 21:06] epehrsson opened #100 "Chromosome ideogram can zoom in but not out using scroll"
On Google Chrome browser, Dell laptop. Not reproducible on desktop.

[2019-04-04 16:41] jos4uke opened #101 "Data fetch failed error on gene annotation using own backend API"
Hi @lidaof

I installed a local browser and deploy MongoDB to have  my own backend API following the steps on https://eg.readthedocs.io/en/latest/installation.html

I then did empty the `AWS_API` to enable my own API:

[code]

The frontend restarted automatically after I saved the modifications.
But I issued an error onto the gene annotation tracks with a message
`Data fetch failed. Reload page or

[2019-04-04 16:43] jos4uke commented on #101
I also tried using the backend API url but did not work:

[code]

[2019-04-04 16:45] lidaof commented on #101
Hi @jos4uke , could you please open the web console see what error msg pop up?
when you open http://localhost:3001/documentation, can you test the API as well?

[2019-04-04 16:51] jos4uke commented on #101
the API documentation url works for me, and I also tested the API as well

![washu_epigenome_backend_api_doc_test](https://user-images.githubusercontent.com/1325049/55573585-a6214b00-570a-11e9-841d-b6e0fd437fcd.png)

[2019-04-04 16:56] jos4uke commented on #101
I checked the webconsole and saw the following `Cross-Origin Request Blocked` warning:

![washu_epigenome_browser_webconsole](https://user-images.githubusercontent.com/1325049/55573883-5e4ef380-570b-11e9-9f9c-1bc98c76b03f.png)

[2019-04-04 16:58] lidaof commented on #101
i see, can you try this?

add a proxy field to your package.json:

`  "proxy": "http://localhost:3001",`

then in GeneSource, just use / as the API root, like remove `$AWS_API`:
[code]
you may need re-run `npm start`

[2019-04-04 17:04] jos4uke commented on #101
I made the modifications and got the following error:

![washu_epigenome_webconsole_remove_AWS_API](https://user-images.githubusercontent.com/1325049/55574313-665b6300-570c-11e9-8cfd-32d8d72b76d5.png)

[2019-04-04 17:07] lidaof commented on #101
is http://localhost:3000/documentation can be opened?

[2019-04-04 17:08] jos4uke commented on #101
yes i can

![washu_epigenome_backend_api_doc](https://user-images.githubusercontent.com/1325049/55574596-0e712c00-570d-11e9-89a7-323d9ba62626.png)

[2019-04-04 17:12] lidaof commented on #101
sure, i mean the 3000 port on documentation

[2019-04-04 17:13] jos4uke commented on #101
oh sorry, no it does not, I got a 404 error

[2019-04-04 17:27] lidaof commented on #101
can i see you package.json file?

[2019-04-04 18:09] lidaof commented on #101
can you also please check this link https://facebook.github.io/create-react-app/docs/proxying-api-requests-in-development? thanks.

[2019-04-05 06:46] jos4uke commented on #101
Hi @lidaof

here is the content of eg-react/frontend/package.json

[code]

[2019-04-05 07:36] jos4uke commented on #101
Thanks @lidaof  I checked for the link you sent me and I realized I don't put the proxy property in the right place, I set it in the frontend app instead of the backend, my bad.

Here is the content of eg-react/backend/package.json

[code]

And now it works

![washu_epigenome_own_backend_api_works](https://user-images.githubusercontent.com/1325049/55611617-52ecde00-5786-11e9-9840-a2e7e3c58e3d.png)

[2019-04-05 13:06] lidaof commented on #101
Glad it’s working now :)

On Friday, April 5, 2019, Joseph Tran <notifications@github.com> wrote:

--
Daofeng

[2019-04-05 15:29] jos4uke commented on #101
I have another use case which leads to the same error.
I tried to use a remote host server to deploy eg-react instead of local.
So, I rebind mongodb server with the remote address in /etc/mongod.conf

[code]

I updated the backend app with the remoteHost.domain address in those files:
- main.js
- package.json (proxy property)
- setup/setupMongo.js

I created in both frontend/backend apps a new fil

[2019-04-05 16:05] lidaof commented on #101
is your remote API accessible through the remote ip address:port?

[2019-04-05 16:42] jos4uke commented on #101
yes it is accessible

![washu_epigenome_remoteHost_own_backend_api](https://user-images.githubusercontent.com/1325049/55643046-75a4e400-57d2-11e9-9abc-631ea95f58b5.png)

[2019-04-05 17:10] lidaof commented on #101
so the backend and frontend are in different servers or same server?

[2019-04-05 17:11] jos4uke commented on #101
they are on the same physical server machine

[2019-04-05 18:43] jos4uke commented on #101
digging into the error messages in the web console i saw the request is sent to the wrong port 3000 instead of 3001
so I believe the proxy i set into backend/package.json is not working

[code]

![washu_epigenome_remoteHost_webconsole_api_errors](https://user-images.githubusercontent.com/1325049/55649450-49de2a00-57e3-11e9-9e09-3e7aed9e759e.png)

Is there another way to proxy the request?

[2019-04-05 18:46] jos4uke commented on #101
I tested the api with the right port 3001 in the terminal with curl and it works:

[code]

[2019-04-05 18:48] lidaof commented on #101
in the main.js from backend, can you try modify `host: 'localhost',` to `host: 'a09787.ips2.u-psud.fr',`?

[2019-04-05 18:52] jos4uke commented on #101
I already did the change

[2019-04-05 18:55] lidaof commented on #101
i see....i don't know why right now in my mind,,
i google'd around the proxy only works for development....

https://stackoverflow.com/questions/52877492/proxy-not-working-for-create-react-app-in-production

[2019-04-05 19:01] jos4uke commented on #101
ok i understand now it may not be possible without using a proxy server like nginx
I will try to install a proxy server

Thanks a lot @lidaof

[2019-04-05 19:02] lidaof commented on #101
sure thing...sorry didn't help fixed your problem.

[2019-04-05 19:03] lidaof commented on #101
our setup is we have a standalone EC2 instance at AWS, we are also switching to AWS lambda API endpoint.

[2019-04-05 19:08] jos4uke commented on #101
not an easy use case don't worry : )
the proxy server should be a workaround for me

due to our policy I cannot use AWS unfortunately, we manage to do it with our own VMs so it should be fine
I will talk about that with my IT guy
thanks for all
Best

[2019-04-05 19:09] lidaof commented on #101
you are welcome, good luck!

[2019-04-08 07:16] jos4uke commented on #101
Just to tell you using nginx as a proxy did the trick : )

[2019-04-08 10:10] jos4uke commented on #82
Hi @lidaof

sorry it took me a while to reply and give you a feedback on the doc.
I had to solve the proxying issue.

The doc only explained how to configure things on the frontend side.
And I had to go further on setting up the new genome to add on the backend side because I deployed my own api.
Still it didn't work yet but seems to be another issue. I will explain this.

To summarize what I have

[2019-04-08 15:27] lidaof commented on #101
that's great! I am closing this one, feel free to open new issue.

[2019-04-08 15:27] #101 closed

[2019-04-08 15:29] lidaof commented on #82
Hi @jos4uke , I don't see any error from your steps, great.
So you didn't see any error from the web console? have you tried a hard reload in case it's a cache problem?

[2019-04-08 15:40] jos4uke commented on #82
Hi @lidaof

i didn't try yet a hard reload. I use firefox and also did my tests in private window. I think if ignores or flushes the cache. And then I did a Ctrl + F5 to hard reload but same result.

[2019-04-08 15:42] jos4uke commented on #82
Here is the webconsole screenshot after the hard reload:

![washu_epigenome_arabido_not_loading](https://user-images.githubusercontent.com/1325049/55737545-a4ff5f00-5a25-11e9-96d9-f5b8f065e14f.png)

[2019-04-08 15:58] lidaof commented on #82
can other genomes be loaded?

[2019-04-08 16:07] jos4uke commented on #82
I only tested mm10, hg19 and zebrafish  and they all be loaded

I was thinking regarding chromosome names, all of the working genomes have chrXX naming convention.
But with arabidopsis from TAIR10, the chromosome names were 1, 2, 3,4,5, choloroplast and mitochondria although in the gff they are Chr1, Chr2, Chr3, Chr4, Chr5, ChrC, ChrM.
So maybe it is related to that chromosome naming.
If i updated

[2019-04-08 16:14] lidaof commented on #82
you could try that.

[2019-04-08 17:06] jos4uke commented on #82
well I updated all chromosome names in the original fasta and updated all needed files
but no change
I really don't know what to do right now

[2019-04-08 17:14] lidaof commented on #82
can I see your tair10.js? We will also need add tair10 as well.

[2019-04-08 17:17] jos4uke commented on #82
sure here it is

eg-react/frontend/src/model/genomes/tair10/tair10.js
[code]

[2019-04-08 17:22] lidaof commented on #82
looks okay to me...can i see annotationTracks.json as well?

[2019-04-08 17:25] jos4uke commented on #82
and here is

eg-react/frontend/src/model/genomes/tair10/annotationTracks.json
[code]

[2019-04-08 17:31] jos4uke commented on #82
I did noticed in the danRer10.js that cytobands property is present but empty

[code]

But in my tair10.js, I did remove the cytobands property, maybe the frontend is looking for it?

[2019-04-08 17:32] lidaof commented on #82
ha...this all look good to me....i don't know why right now..cytobands are optional...
another thing to try...do you want to do a git pull and updated to latest code? the latest code is in `matplot` branch...haven't merged to master yet.

[2019-04-08 17:33] lidaof commented on #82
if you add back cytobands as danRer10, is it working?

[2019-04-08 17:35] jos4uke commented on #82
I am trying right now to recompile the frontend with this modification
I will tell you in a few minutes

and yes I can make a git pull if it can help, if you tell me how to do it or send me a link

[2019-04-08 17:37] lidaof commented on #82
oh, it's pretty easy
[code]

[2019-04-08 17:38] jos4uke commented on #82
ok that's really easy : )

[2019-04-08 17:44] jos4uke commented on #82
So I go ahead now and get the frontend to display
but with some "Track crashed" issue, do you think there is something wrong with the tracks definition?

![washu_epigenome_arabido_track_crashed](https://user-images.githubusercontent.com/1325049/55744897-55755f00-5a36-11e9-8b56-dfb77cf7ecd8.png)

[2019-04-08 17:49] lidaof commented on #82
i see, seems we don't really check if cytoband existed or not...good to know.

if you go to network tab, can you see the data returned from the backend api?

[2019-04-08 18:02] jos4uke commented on #82
Yes I saw the data returned in the network tab. But there is something weird, the ruler set the region on the chromosome Chr1:10105131-12525381, but the TAIRGenes track queried a region Chr1:7684881-14945631
Do you think this could be causing the track crashed?

![washu_epigenome_arabido_track_crashed_badQueryRegion_2](https://user-images.githubusercontent.com/1325049/55746130-3f1cd280-5a39-11e9-9

[2019-04-08 18:07] lidaof commented on #82
i see the gene records seem not right,
when you load mongo database, the text file columns need be in this order:

[code]

[2019-04-08 18:09] jos4uke commented on #82
well in fact in mm10, I have the same kind of requests so it is not that

[2019-04-08 18:13] jos4uke commented on #82
Yes you are right there is something wrong with the gene fields they are all messed up
thanks I will look back to the bed file

[2019-04-08 18:35] jos4uke commented on #82
I compared the bed files between zebrafish and arabidopsis and they are not the same format: 11 and 12 columns respectively, is it a special bed you are expecting?

eg-react/backend/genomeData/danRer10/DANRER10_RefSeq_Gene.bed
[code]

and

eg-react/backend/genomeData/tair10/TAIR10_GFF3_genes.bed
[code]

[2019-04-08 18:48] jos4uke commented on #82
ok I found the specification for the `refbed` format on https://epigenomegateway.readthedocs.io/en/latest/tracks.html#bed

I should have read that first : )

[2019-04-08 18:48] lidaof commented on #82
i think this is fine, for these columns you don't have, just use blank, but the columns counts in each row should be consistent.

[2019-04-08 20:40] lidaof commented on #82
Hi @jos4uke , I also added araTha1 (same as TAIR10) into our browser, i use all lowercase chr1, chr2 for  chromosome names for consistency. feel free to use our API if you want. while our genome name is araTha1 as I am following UCSC naming. I got genome file from here: http://genome.ucsc.edu/goldenPath/help/examples/hubExamples/hubAssembly/plantAraTha1/araTha1/

[2019-04-08 20:40] #82 closed

[2019-04-09 06:58] jos4uke commented on #82
thank you @lidaof it should be very helpful
I also need to deploy epigenome because we also have non model plant organisms.
And even for arabidopsis, all the mappings and analysis done so far were done using the chromosome naming in the gff, so it would be time consuming to rehead all the files.

[2019-04-09 17:54] jos4uke commented on #82
Hi @lidaof
no problem thanks for helping me and get it to work

I was wondering if you know another utility to convert a standard gtf to refbed, I found the one you provide in the backend  scripts but seem to only expect Ensembl or Gencode gtf input.
I was thinking about modifying it to accept a standard gtf but if you know a better way to do it I would be happy.

[2019-04-09 18:25] lidaof commented on #82
you can use the file i formatted here: https://github.com/lidaof/eg-react/tree/matplot/backend/genomeData/araTha1
you may need change chromosome name...i just wrote my own python script for this purpose...

[2019-04-10 06:56] jos4uke commented on #82
thanks @lidaof

I also have to do it for 2 other plant genomes, would you mind to share your python script ?

[2019-04-10 14:42] lidaof commented on #82
of course @jos4uke , my scripts already put under https://github.com/lidaof/eg-react/tree/matplot/backend/scripts

[2019-04-10 16:09] jos4uke commented on #82
thank you so much @lidaof
Best

[2019-04-15 15:52] songtaogui opened #102 "Control tracks by URL parameters"
Hi, @lidaof

I would like to link the WashU browser with different data table. For example, when jumped from a MethylC table, I would like to display only the gene annotation and the MethlC tracks, and when jumped from a Interaction table , I would like to display the HiC tracks.

Is it possible to control the show and hide of different tracks by URL parameters?

Thank you.

Best wishes,
Songtao G

[2019-04-15 15:55] lidaof commented on #102
Hi @songtaogui you can do this by using the `hub` parameter, so you can create 2 hub files, for the tracks you want to show, specify a "showOnHubLoad": true in track property.

[2019-04-16 06:48] songtaogui commented on #102
Hi @lidaof
I have tried the example hub parameters in the [doc](https://epigenomegateway.readthedocs.io/en/latest/url.html#hub):

http://epigenomegateway.wustl.edu/browser/?genome=hg19&hub=https://vizhub.wustl.edu/public/tmp/a.json

but non of the tracks in the json file were displayed, did I miss something?

[2019-04-16 06:52] songtaogui commented on #102
Yes it works. Thanks! @lidaof
👍

[2019-04-16 14:01] songtaogui commented on #102
@lidaof
Is `matplot` function available in version 48.2.0 ?  I have tried it in the offical site (V48.4.4), but failed to find it in my local browser (v48.2.0). Or how can I update my browser to v48.4.4?

[2019-04-16 14:40] lidaof commented on #102
sorry for that, you need switch to `matplot` branch, when you `git clone`, `git pull`, then do `git branch matplot`, then your code should have this function.

[2019-04-17 02:58] songtaogui commented on #102
@lidaof  I have successfully updated to v48.4.4. Thank you!

However, I have encountered a problem with using my own backend API:

I have set the backend API following the [Doc](https://epigenomegateway.readthedocs.io/en/latest/installation.html?highlight=API#setup-your-own-backend-api-optional) using refbed fromat gene annotation files (all of which can correctly displayed on the WashU Browser th

[2019-04-17 04:57] lidaof commented on #102
I see the only difference is chromosome name `1` versus `chr1`,  can you please do a quick test that replace all chromosome name with chr prefix, includes B73.js and the mongo db file, i suspect mongodb convert chrom to integer and caused browser fetched nothing...

[2019-04-17 06:44] songtaogui commented on #102
@lidaof
Yes. It is the matter of numerical chr values in mongo db.
this problem was solved after changing the chrom value to string:
[code]

Thank you !

[2019-04-17 14:59] lidaof commented on #102
oh, yeah, you can operate in mongodb too as you did. smart!

[2019-04-17 18:58] lidaof commented on #73
Hi @gracilis , sorry I forgot to reply that we can search SNP for a while....
![image](https://user-images.githubusercontent.com/102806/56313692-d8727580-6118-11e9-9357-a05eb8014870.png)

Please let me know if there is any issue. Thank you so much.

[2019-04-17 18:58] #102 closed

[2019-04-17 18:59] lidaof commented on #76
implemented

[2019-04-17 18:59] #76 closed

[2019-04-17 18:59] lidaof commented on #20
implemented

[2019-04-17 18:59] #20 closed

[2019-04-17 19:01] lidaof commented on #19
Hi @peterch405, sorry for late reply...the matplot track is available. Select >=2 numerical track, right click, you can see the `Apply matplot` button.

Almost all of this are implemented, close this one for now.

[2019-04-17 19:01] #19 closed

[2019-04-17 19:02] lidaof commented on #11
implemented.

[2019-04-17 19:02] #11 closed

[2019-04-17 19:09] gracilis commented on #73
I noticed! Thanks so much for adding this back.

[2019-04-29 02:52] songtaogui opened #103 "Auto-adjust height when embed WashU browser using iframe"
Hi,

I was trying to embed WASHUbrowser using iframe. Can washu browser pass the height info to iframe so that I can make it auto adjust?

thank you,

Songtao Gui

[2019-05-03 16:26] #51 closed

[2019-05-03 16:26] EvoAlias commented on #51
solved

[2019-05-03 16:32] EvoAlias opened #104 "Genome Comparison Highlighting"
Highlighting is shifted to the left when you add a genome comparison, leaving a gap on the right. I think what is happening is: for instance we highlight chr1 250-750 so 500 bp from left to right. We add another genome which creates gaps, but we still highlight the first 500 bp (pixels?) so that cause a shift.

<img width="1783" alt="Screen Shot 2019-05-02 at 6 10 19 PM" src="https://user-images.g

[2019-05-14 02:42] songtaogui opened #105 "How to build my own snp search database and add a snp track to browser?"
Hi,
@lidaof

I have some local snp.vcf files, and would like to build a snp search function as http://epigenomegateway.wustl.edu/browser/ does. Is there a detail manual for that?

And I have noticed the `Snps from ensembl` track has a track type of "snp", which was not documented in the doc. How could I display my variantions using washu browser? Should I put the variants into backend monodb ?

Is

[2019-05-14 05:35] lidaof commented on #105
Hi @songtaogui , the doc mentioned
```SNP search uses the Ensembl API services: https://rest.ensembl.org```
if you pull latest code, you can use the track directly.  no need to put in backend mongodb.

i am personally not very familiar with vcf format, can you please send me an example file? and how do you want the file to be visualized (an example figure)?

Thank you!

[2019-05-14 05:37] lidaof commented on #103
Hi @songtaogui , I feel that the height of iframe should be controlled outside of the browser?
maybe give a 100% height iframe?

[2019-05-15 19:39] gracilis opened #106 "Gencode genes aren't visible"
Hi,

  The browser isn't showing the gencode v29 genes track, which is displayed by default. Without it, gene names and lengths aren't visible on the browser. CORS is enabled on the browser (Google Chrome v74.0.3729.108), so that isn't the issue. Screenshot:

![image](https://user-images.githubusercontent.com/42852986/57803994-46fa2180-771f-11e9-9147-b2f33cf40450.png)

[2019-05-15 20:05] lidaof commented on #106
Hi @gracilis apology for this trouble. Something error happened on our API server. It should be fixed now.
Thanks for reporting.

[2019-05-15 20:23] gracilis commented on #106
Thanks, @lidaof, it looks good!

[2019-05-15 20:44] lidaof commented on #106
You are very welcome @gracilis !

[2019-05-15 20:44] #106 closed

[2019-05-17 19:05] kmualim opened #107 "Unable to view files -- data fetch failed"
The files are located in http://mitra.stanford.edu/kundaje/projects/ABC_links/
and follow the longrange format provided in documentation.

- Most common cause (as stated in the uWash website) is usually the webserver not enabling CORS but we've used the WashU browser + mitra webserver to view BigWig files etc before so this doesn't seem like it should be a problem with that.

Thanks!

[2019-05-17 19:59] lidaof commented on #107
Hi @kmualim , sorry for this trouble.
I am sure the file is formatted correctly as I put it [here](https://wangftp.wustl.edu/~dli/tmp/final_sorted_lr.txt.gz) I can visualize it in our browser.

The [test-cors.org site](https://www.test-cors.org/#?client_method=OPTIONS&client_credentials=false&server_url=http%3A%2F%2Fmitra.stanford.edu%2Fkundaje%2Fprojects%2FABC_links%2Ffinal_sorted_lr.txt.gz&serve

[2019-05-20 15:51] yingfeic opened #108 "cannot save session in washu epigenome browser which is hosted locally"
I'm working on maintaining a local version WashU genome browser here in UT Southwestern.
I've install the legacy version and the new version as well.

In the new version, I cannot save a session and retrieve it later.
I gave it a name of the session, it showed this was saved. When I put the name again and click retrieve session, it will show "session retrieved", but nothing changed in the browser.

[2019-05-20 17:10] kmualim commented on #107
We've tried those commands. I also tried submitting the file onto the old legacy browser and it doesn't seem to show -- the files have also been formatted to fit the old legacy browser format.

[2019-05-20 19:14] lidaof commented on #108
Hi Yingfei @yingfeic , for session functions you would need setup the firebase, please check the [doc](https://eg.readthedocs.io/en/latest/installation.html#firebase-setup) for more information. Feel free to let me know any issue for this. Thank you!

[2019-05-28 14:53] LongZhao1992 opened #109 "npm run setup error"
Hi @lidaof
I want to build a custom genome using Washu just like https://epigenomegateway.readthedocs.io/en/latest/installation.html mentioned. However, when I Run "npm run setup", I got an error "events.js:167   throw er; // Unhandled 'error' event".
![image](https://user-images.githubusercontent.com/42860482/58487338-fe6c4a80-8199-11e9-86cb-8e1a8cf8c284.png)
I tried to google for help, but did n

[2019-05-28 14:58] lidaof commented on #109
Hi @LongZhao1992 , can you check is the format of your files same as ours https://github.com/lidaof/eg-react/tree/master/backend/genomeData/mm10?
if you use our files, it works, then likely your format is not right.

[2019-05-28 15:21] LongZhao1992 commented on #109
@lidaof
Thank you so much for your reply. Yes, it is. Everything was done under  eg-react/backend folder, and the genome files were the mm10 folder you provide. I just wonder is there anything wrong with MongoDB, and how could I check this problem?

Regards

[2019-05-28 16:08] lidaof commented on #109
Hi @LongZhao1992 , i see, we haven't try the new mongodb yet. I will do some test based on MongoDB 4.x version.

[2019-05-28 16:23] LongZhao1992 commented on #109
Hi @lidaof,
Are there any versions of MongoDB recommend?  Thank you very much. :)

[2019-05-28 16:26] lidaof commented on #109
Hi @LongZhao1992 we have tested 3.4 and 3.6 both should work.

[2019-05-28 16:34] LongZhao1992 commented on #109
OK，I will try it. I appreciate your time. Your reply is really helpful for me.
All the best.

[2019-05-28 16:47] lidaof commented on #109
You are very welcome @LongZhao1992 . If I found something related to v4.x of mongodb I will let you know.

[2019-05-29 03:30] LongZhao1992 commented on #109
Hi @lidaof, I downloaded a 3.6 version MongoDB, but I got the same error. When I typed "npm install" in backend folder, I got the WARN like the figure.
![image](https://user-images.githubusercontent.com/42860482/58527262-956dec80-8204-11e9-9980-9b26545b8778.png)
--force doesn't work. I tried to install hapi using npm, but nothing was changed.
May I get some advances from you?

Best.

[2019-05-29 03:56] lidaof commented on #109
Hi @LongZhao1992 I actually never see this error. is it possible you can try use nodejs v8.x ?

[2019-05-29 14:53] lidaof commented on #109
Hi @LongZhao1992 , so you switched to nodejs v8.x and it works?

can you just change the AWS_API line to  `export const AWS_API = ""`? (make it an empty string since you are using your own backend API)

[2019-05-29 20:43] wzhy2000 opened #110 "ChromHMM track"
I am failed to show ChromHMM tracks, can you help me find the reasons?
The URL is:
http://epigenomegateway.wustl.edu/browser/?genome=hg19&datahub=ftp://cbsuftp.tc.cornell.edu/danko/hub/histone/chrom.json

Thank you very much!

[2019-05-30 02:18] LongZhao1992 commented on #109
Hi @lidaof , yes, it works with nodejs v8.16. But I got a data fetch error when using the browser(the first figure and the same with #101 ), and still got the error after the string in the AWS_API emptied.

[2019-05-30 03:47] LongZhao1992 commented on #109
package.json file in backend folder:
[code]

And the package.json file in frontend folder is :
[code]

Thank you for your time in advance.
Regards.

[2019-05-30 04:15] souryacs commented on #97
Still the problem persists. It would be very helpful to know the interacting regions and interaction scores from the arcs, just like the old browser. Please check.

[2019-05-30 04:20] lidaof commented on #109
Hi @LongZhao1992 , can you go though #101 again please? the proxy need to be in backend's package.json file. localhost:3001 is for backend which serves data API, localhost:3000 is for frontend which servers browser code. Another thing, if you use our own API, is it working?
Thank you!

[2019-05-30 04:21] lidaof commented on #97
Hi @souryacs , sure thing...i will start work on this issue right now. sorry for that delay.

[2019-05-30 04:48] lidaof commented on #110
Hi @wzhy2000 , sorry that our new browser is not supporting FTP protocol yet. you can use the [local track feature](https://eg.readthedocs.io/en/latest/local.html).

Also the link you sent will redirect to our old browser, which works for your file use this datahub syntax
[code]
and this is what it looks like after loaded:
![image](https://user-images.githubusercontent.com/102806/58609060-e533ce80

[2019-05-30 06:01] souryacs opened #111 "Display loops only within current window"
Hi @lidaof
For the new WashU browser, it would be beneficial if I can visualize only those loops whose both start and end coordinates fall within the current window. That can be a option (checkbox). Right now interactions whose one end is within the current window are all displayed, which causes problems in manual inspection of loops. Absence of any tooltip text on the arcs makes it even harder. P

[2019-05-30 06:10] souryacs opened #112 "Display loops with scores in a specified range"
Hi @lidaof

Another possible feature request (or please mention if it is already available) is to display only those loops which have interaction score between "scoreMin" and "scoreMax" (specified in the longrange track options). All other loops can be hidden. I was testing some loops with interaction scores between 0 to 80, and then manually set the limit from 50 to 80. No loop was hidden, but ra

[2019-05-30 08:51] LongZhao1992 commented on #109
Thank you @lidaof , your API works well. I have read #101 again, and modified some content of my files, but it still does not work. I'm so sorry. To be honest, I' m not familiar with this field.
frontend/src/dataSources/GeneSource.js:
[code]

frontend/package.json:

[code]

backend/package.json:
[code]
"http://localhost:3001/documentation" can be opened but not "http://localhost:3000/documentation

[2019-05-30 14:43] lidaof commented on #109
Hi @LongZhao1992 , don't be sorry it's ok. Glad we are making progress.

You don't need proxy in frontend's package.json. Right now if it's for development purpose, you don't need nginx. can you remove the proxy in frontend?

can you open http://localhost:3001/documentation see if you can do some test query?

[2019-05-30 14:46] lidaof commented on #112
Hi @souryacs , this is a good feature. Right now the score is correlated with  color transparency. I will try add this option and tooltip as well. Thank you!

[2019-05-30 14:49] wzhy2000 commented on #110
Thanks a lot.

I copied and changed the example here:
https://eg.readthedocs.io/en/latest/datahub.html#example-categorical-track

Do you mean this example works on the new version? It would be helpful if the version information or old format are attached in this section.

[2019-05-30 14:53] lidaof commented on #110
sorry for the confusion about old and new browser...
the link you sent if for new browser, the new browser doesn't support FTP protocol as specified in your datahub.
for old browser, the doc is at its wiki: http://wiki.wubrowse.org/

Hope this is clear? Thanks.

[2019-05-30 15:02] lidaof commented on #111
Hi @souryacs , it's certainly doable, I will think about this. Thanks for suggestion.

[2019-05-30 15:04] lidaof commented on #93
Hi @gracilis , sorry for later notice. the hammock track had be added. It will be shown like regular bed track for now. More track configurations are under development.

[2019-05-30 15:13] LongZhao1992 commented on #109
Thank you so much for your patient, @lidaof. "http://localhost:3001/documentation" works well in my Linux computer, but it does not work in my PC via IP sign in. And it is strange that "http://192.168.0.106:3000/browser" can be shown in my PC but not Linux computer(It is blank with no error information, I guess it may due to the old version Firefox).
I remove the proxy in frontend, and it still do

[2019-05-30 16:09] lidaof commented on #109
Just check, are you running backend and frontend in 2 computers?

[2019-05-30 16:39] LongZhao1992 commented on #109
Oh, sorry for confusing. All the software was installed on the Linux computer. I check http://localhost:3001/documentation in Linux computer, it works. But it does not work if I use other computers via local area network. By contrast, http://localhost:3000/browser works on other computers via local area network connection, but not the Linux computer. I do not know if my expression is clear? Anyway

[2019-05-30 17:19] lidaof commented on #109
I think I understand you now, so both frontend and backend are running on **same** Linux machine.
can you send me screenshots of the query of your localhost:3001 and the error of localhost:3000.

[2019-05-31 04:21] LongZhao1992 commented on #109
**Linux machine:**
![image](https://user-images.githubusercontent.com/42860482/58681126-abfb7b80-839d-11e9-93a0-9d9a6796427e.png)
![Screenshot-1](https://user-images.githubusercontent.com/42860482/58681132-b453b680-839d-11e9-8ec9-41a57d59c249.png)
![Screenshot-2](https://user-images.githubusercontent.com/42860482/58681147-bae22e00-839d-11e9-91e5-75b3e5aa47bc.png)
![image](https://user-images.githu

[2019-05-31 06:16] lidaof commented on #109
Hi @LongZhao1992 , these are pretty normal except last one. can you send one with development console opened?  in chrome, More tools -> development tools -> console. I would like to see the error log. Firefox have similar function.

[2019-05-31 07:15] LongZhao1992 commented on #109
**chrome**
![image](https://user-images.githubusercontent.com/42860482/58688211-61d2c400-83b6-11e9-86b8-6c73e39574b4.png)

**Firefox**
![Screenshot](https://user-images.githubusercontent.com/42860482/58688362-c9890f00-83b6-11e9-889c-4571f02bc37c.png)

[2019-05-31 14:46] lidaof commented on #109
can you make sure in your backend json you have this `"proxy": "http://localhost:3001"` and the `GeneSource.js` file you emptied the `AWS_API` variable?

[2019-05-31 14:59] LongZhao1992 commented on #109
Yes. Isn't right?
![image](https://user-images.githubusercontent.com/42860482/58714547-88fdb580-83f7-11e9-9a43-e21c0d3ee3f3.png)
![image](https://user-images.githubusercontent.com/42860482/58714586-9b77ef00-83f7-11e9-8c52-7d0eadfe9f53.png)

[2019-05-31 15:01] LongZhao1992 commented on #109
Is there a problem here?
![image](https://user-images.githubusercontent.com/42860482/58714726-e7c32f00-83f7-11e9-82bc-15c44d3d1a19.png)

[2019-05-31 15:13] lidaof commented on #109
this looks good.
ok, can you do this:

1. close both backend and frontend.
2. start frontend
3. start backend
4. test if you can open http://localhost:3001/documentation
5. open http://localhost:3000/browser with console window, see if there is any error

[2019-05-31 15:42] LongZhao1992 commented on #109
Windows computer chrom:
![image](https://user-images.githubusercontent.com/42860482/58716958-b8fb8780-83fc-11e9-81a0-3f8878e673d3.png)
![image](https://user-images.githubusercontent.com/42860482/58716972-c1ec5900-83fc-11e9-86f3-0c97b4fef45f.png)
Linux Firefox:
![image](https://user-images.githubusercontent.com/42860482/58717339-987ffd00-83fd-11e9-85df-5c244cbe87ee.png)
![image](https://user-images

[2019-05-31 15:59] lidaof commented on #109
you are welcome @LongZhao1992 .

This is very strange that based on the GeneSource.js file you pasted, in the Chrome window, the request should go to /araTh1/xxxx, the leading slash / is missed...can you check?

[2019-05-31 16:05] LongZhao1992 commented on #109
OK, I will try my best. By the way, may I get the right GeneSource.js file from you?

[2019-05-31 16:08] lidaof commented on #109
the file is always at this repo: https://github.com/lidaof/eg-react/blob/master/frontend/src/dataSources/GeneSource.js

if you can setup a teamviewer on the linux machine, i can try to remote control to debug.

[2019-05-31 16:17] LongZhao1992 commented on #109
Is that right? I really don't know how to thank you. I will try my best to fix the problem first, and may need your help if I have no idea. I really appreciate your time these days.

[2019-05-31 16:23] lidaof commented on #109
sure thing, teamviewer is a software which i can remote login your computer, https://www.teamviewer.com/en/download/linux/
feel free to let me know if you need me to remote control. you are always welcome.

[2019-06-05 21:23] lidaof commented on #97
Hi @souryacs , tooltip has been added to arc and heatmap display. please let me know if there is any issue. thank you!
![image](https://user-images.githubusercontent.com/102806/58991598-44369d80-87ae-11e9-9d7f-7ad5a0fa7d0e.png)

[2019-06-05 21:24] #96 closed

[2019-06-06 18:13] Austin-s-h commented on #91
Hello, sorry to reopen a stale topic, but I was wondering if I could have some assistance with a similar problem.

I currently have a docker installation of the browser that I've modified to add the latest assembly of the Chicken genome (galGal6). I have properly modified things so I can access the genome, but I am not able to add annotation.

I have created the modified bed file necessary for vie

[2019-06-06 18:20] lidaof commented on #91
Hi @Austin-s-h , don't be sorry :) Thanks for using the browser.
The file format you pasted looks good.
So when you say the track appears, is it blank or show data fetch error?

[2019-06-06 18:22] lidaof commented on #91
also when you are running your backend, are you able to query gene from your own backend?
did you modify this line `export const AWS_API = "https://api.epigenomegateway.org";` in GeneSource.js file?

[2019-06-06 18:59] Austin-s-h commented on #91
![Screenshot from 2019-06-06 14-56-15](https://user-images.githubusercontent.com/44502805/59058774-50ccfb80-886b-11e9-952c-612f8581d64c.png)
![Screenshot from 2019-06-06 14-56-37](https://user-images.githubusercontent.com/44502805/59058775-50ccfb80-886b-11e9-9401-811f441f2e31.png)

So the track appears, but it doesn't seem to throw any error. It is just blank. This happens when I try to load the r

[2019-06-06 19:10] lidaof commented on #91
ha, from the screenshot i see the location string uses chromosome name as 1 instead of chr1
can you make the chromosome names match between galGal6.js and your refbed file?

[2019-06-06 19:11] lidaof commented on #91
also I am going to add chicken genome as well in our main browser, in case you need it.

[2019-06-06 19:44] Austin-s-h commented on #91
It was my understanding that the refbed file was required to add "chr" to all of the chromosome names during the conversion. Do you think that because the genome doesn't use this convention that this is the problem? I will be able to test this shortly.

[2019-06-06 19:49] lidaof commented on #91
Hi @Austin-s-h the chromosome names need to be consistent between refbed and genome file, so if both w/ or w/o chr, it will be fine.

[2019-06-07 13:58] Austin-s-h commented on #91
Hi again!
I've update my genome and refbed file to have no "chr" in them, but that hasn't solved the issue...
Instead, when I manually load this edited refbed file, the track crashes and returns the following errors.
[WashUError.pdf](https://github.com/lidaof/eg-react/files/3266208/WashUError.pdf)

[2019-06-07 14:02] Austin-s-h commented on #91
[code]

[2019-06-07 14:48] lidaof commented on #91
Hi @Austin-s-h, this error means there is issue in your refbed file, that the starts of exon coordinates (10th column) are bigger than the end coordinates (11th column), can you check? or you can send me the whole file i can check for you.

Meanwhile can you change the chrom to string type in mongodb database? you can use the method here: https://github.com/lidaof/eg-react/issues/102#issuecomment-

[2019-06-13 22:39] ckntav opened #113 "refGene annotation track seems to display the wrong genes"
Hi,
Since a couple of days, I noticed that several annotation tracks display the wrong genes on WashU browser. These mistakes appear on "refGene" and "GENCODE V29 genes".
On the other side, "GENCODE V29 basic genes" and "Ensembl release 94 genes" display the expected genes.
Did I do something wrong? Is there a way to fix this by myself?

Thanks

[2019-06-14 01:16] debugpoint136 commented on #113
Hi @ckntav I suspect this is due to a recent update to the API service I performed earlier this week. Apologize for the trouble, I am going to revert back the changes, while I troubleshoot it further.

[2019-06-14 15:23] ckntav commented on #113
It works again, thanks for your fast reply.

[2019-06-14 15:24] #113 closed

[2019-06-21 07:11] kokonech opened #114 "Question about the track upload security"
Hi! There is an option to upload the local tracks when setting data hub is not possible. But do I understand correctly that the local files themselves are not uploaded anywhere(e.g. huge HiC results), but the access to local data is organised? Does this operation take care about the data security? Simply, is the access available only to the current active user of the session?  I have this question

[2019-06-21 14:40] lidaof commented on #114
Hi @kokonech, local tracks are only available for the current people with current computer. It works like first you grant the browser to access your local files, then the browser will start to read your files. The local files cannot be saved to a session or a **remote** data hub, but it can be organized to a **local** data hub with similar syntax. The **upload** in `upload local track` is a little

[2019-06-21 18:33] albertoriva opened #115 "Problems with data hub on both legacy and new versions"
I've been using the legacy browser for over a year, mainly to display my own data hubs, that are hosted on a web server I administer. The files are protected by basic authentication, so I was using putting credentials in the URL, using http://username:password@hostname/... This worked fine until a couple of weeks ago, when the browser started "dropping" tracks at random. Looking at the HTTP logs I

[2019-06-21 18:45] albertoriva commented on #115
Update: after enabling CORS on my server, loading the track mostly works, but I only see four out of the seven tracks in my hub, the other three are ignored without any explanation.

Also my other question still stands: is there an equivalent of the "group" option? And of the "mode: thin" option?

[2019-06-21 20:03] lidaof commented on #115
Hi @albertoriva , thanks for using the browser and sorry for the trouble.
For the legacy browser losing track issue, have you tried `Refresh cache` from validate data hub app?
![image](https://user-images.githubusercontent.com/102806/59948235-10f24080-9435-11e9-88c3-e178bb092560.png)

For the new browser, yes, we are sorry we don't support http authentication, and the server need to enable CORS. W

[2019-06-23 07:37] kokonech commented on #114
Thanks a lot for the detailed reply! This access control exactly confirms the possibility to use WashU Epi on protected data. Probably extending the documentation accordingly might be helpful for future users to be aware about this.

[2019-06-23 07:37] #114 closed

[2019-06-23 15:29] lidaof commented on #114
make sense, I will update the doc! thank you! @kokonech

[2019-06-25 13:52] albertoriva commented on #115
So, I tried the Validate Datahub command and it says that everything is OK, but the Refresh cache command instead gives errors. And, although validation is successful, when I open the hub only 3 out of 7 tracks get loaded. I have screenshots and HTTP logs for all of this, but I'd rather send them to you privately since they contain authentication info; would that be possible? Thanks!

[2019-06-25 14:32] lidaof commented on #115
Hi @albertoriva sure thing. Please send them to me at lidaof@gmail.com. Thank you!

[2019-06-25 16:49] lidaof commented on #97
closed for now. feel free to reopen or submit any new issue.

[2019-06-25 16:49] #97 closed

[2019-06-25 18:29] albertoriva commented on #115
Issue with legacy browser is fixed, thanks Daofeng!

[2019-06-25 18:29] #115 closed

[2019-06-25 19:53] albertoriva opened #116 "Relative pathnames in custom data hubs?"
It would be great if the "url" parameter in hub definition json file could be a relative pathname (interpreted relative to the location of the json file). That way the hub could be written in a generic way, independently of where it is ultimately hosted.

[2019-06-25 20:25] lidaof commented on #116
Hi @albertoriva , this could be a very good feature, I will try to implement it. Thanks!

[2019-06-26 14:39] lidaof commented on #116
Hi @albertoriva , I implemented this feature in 883f673, for the new browser. For the old browser, currently we are only maintaining it. Sorry for that.

[2019-06-26 14:46] albertoriva commented on #116
Great, thanks! But unfortunately until you implement the "group" attribute I can't use the new browser... I guess I'll wait :)

[2019-07-01 22:04] xzhuo opened #117 "annotation track menu display issue"
![image](https://user-images.githubusercontent.com/2028370/60469303-d1d8a200-9c21-11e9-973a-3d04585d555d.png)

The annotation tracks white-out after I click either "rheMac3 to hg38 blastz" or "rn5 to hg38 blastz". Is it because rheMac3 and rn5 are not built in as an optional primary genome?

[2019-07-02 21:30] lidaof commented on #117
Thanks for reporting this bug. fixed in 74e1a1d

[2019-07-02 21:30] #117 closed

[2019-07-11 13:37] Austin-s-h commented on #91
Hi! Sorry for the delayed response. I don't have time to troubleshoot a local copy of the browser right now, but did you manage to upload the chicken genome onto the main browser?

Specifically, if you could upload both galGal6 and galGal5 that would be perfect.

[2019-07-15 16:28] lidaof commented on #91
Hi @Austin-s-h, we have added chicken genome galGal6 and galGal5, feel free to let me know any question. thanks.
<img width="883" alt="Screen Shot 2019-07-15 at 11 27 22 AM" src="https://user-images.githubusercontent.com/102806/61232319-a52d8b80-a6f3-11e9-9614-77c55f8734e7.png">

[2019-07-16 00:39] bnprks opened #119 "Better view of metadata fields in track table search"
I was recently using the ENCODE public trackhub to look up some human transcription factor ChIP-seq tracks. I found it pretty challenging to find the right tracks to load, however, since the columns the track table shows gave many identical rows without showing the distinguishing metadata for my search.

In this case, the important metadata field was "type", which was either "fold change over cont

[2019-07-16 02:12] weiwFu opened #120 "npm install error"
Hi @lidaof

I want to build a local custom WashU Epigenome Browser. However, when I run "npm install or npm install --force", I got many errors. Please see the details below.

root@sheep-Vostro-20-Model-3010:/var/www/wubrowse/frontend# npm install
npm WARN read-shrinkwrap This version of npm is compatible with lockfileVersion@1, but npm-shrinkwrap.json was generated for lockfileVersion@0. I'll try

[2019-07-16 14:09] lidaof commented on #120
Hi @weiwFu , if you run `npm start` after `npm install`, do you get any error? Thanks.

[2019-07-16 14:13] lidaof commented on #119
Hi @bnprks, this is a good suggestion, I will try to make the columns customizable through users. Thanks.

[2019-07-16 14:51] weiwFu commented on #120
Thanks.  I run "npm start" and compiled it successfully. But when I try the url "http://animal.nwsuaf.edu.cn:3000/browser/", another error "FIREBASE FATAL ERROR: Can't determine Firebase Database URL.  Be sure to include databaseURL option when calling firebase.initializeApp()" is displayed on my browser.

![1](https://user-images.githubusercontent.com/52925606/61303976-fe440f00-a81a-11e9-8413-29a

[2019-07-16 16:48] lidaof commented on #120
Hi @weiwFu , I made some screenshots for you at https://eg.readthedocs.io/en/latest/installation.html#firebase-setup, can you please check and let me know any question? Thank you.

[2019-07-16 17:13] biomystery opened #121 "cannot load any genome from old browser"
Tried to load hg38 or hg19 from http://epigenomegateway.wustl.edu/legacy/

showing error with msg
[code]

Thanks

[2019-07-16 17:24] biomystery commented on #121
wrong repo

[2019-07-16 17:24] #121 closed

[2019-07-17 03:37] songtaogui commented on #105
So sorry for the late reply, I was quite busy with other stuffs.

The brief introduction of VCF format can be found [here](https://en.wikipedia.org/wiki/Variant_Call_Format)

And in Jbrowse, the VCF file was displayed like this:

![image](https://user-images.githubusercontent.com/14274330/61345228-d8545400-a886-11e9-9d49-301d1c73ccea.png)
 and Click on each variant item would lead to its detail pa

[2019-07-17 03:41] lidaof commented on #105
Hi @songtaogui , thank you for the information, I will think about this. :)

[2019-07-17 03:49] songtaogui opened #122 "How to add genomealign tracks"
Hi,

I have problems loading the genomealign tracks, the browser version I used is V48.4.

I have prepared the genomealign file in the same format of that in the demo site:

Here is the head ten records of my genomealign file:
[head 10 records of B73_Mo17_axt.gz ](https://github.com/lidaof/eg-react/files/3400026/test_axt.gz)
the file was bgzipped and tabix indexed.

And the configs for the track w

[2019-07-17 05:17] lidaof commented on #122
can you try use chr1, chr2 as chromosome names in the file? i see the first line has `1` there
`1	26253	31325	id:0,genomealign:{chr:"chr1",start:40429,stop:45502`? or you just use 1 in the genome file?

[2019-07-17 06:19] songtaogui commented on #122
Yes, 1 is the chromesome ID in the genome file. I think this may not be the issue, because other tracks (which all use number as chromesome ID ) were correctly displayed.

[2019-07-17 14:33] lidaof commented on #122
i see. are you running a local version from `npm start` or the build version? I cannot debug this at my side since I don't have your genome. if you are running a local version, can you install React Dev tools and open it to debug. A quick check can be done is to check if this track receives any data from the props. you can get the React dev tools from [here](https://chrome.google.com/webstore/deta

[2019-07-18 03:07] songtaogui commented on #122
Hi, sorry that I knew little about React. I have used React Dev tools, and it seems to me that no data received:

![pic1](https://user-images.githubusercontent.com/14274330/61426128-e324ec80-a94b-11e9-8429-3be47baa8d98.png)

In fact, I have set the browser on a server. Is it OK that you visit the browser [here](http://47.106.251.193:8091/?genome=B73), and navigated to the genomealign track in the

[2019-07-18 04:14] lidaof commented on #122
Hi @songtaogui , it might be caused by a code update? can you try this, change both querygenome and the genome in metadata to same one?

[code]

[2019-07-18 05:54] songtaogui commented on #122
@lidaof Yes, it works !
Thank you for your help.

[2019-07-18 13:56] lidaof commented on #122
ok, I am closing this for now. Just let you know the version greater than 48.4 just need the query genome info.

[2019-07-18 13:56] #122 closed

[2019-07-18 15:08] weiwFu commented on #120
Dear @lidaof, the browser can work when I set up the .env file properly.
But when I setup my own backend API, I get another issue just like #101. I tried the method inside, but unfortunately it didn't seem to work.

I can't open the "http://210.27.82.57:3001/documentation".
![image](https://user-images.githubusercontent.com/52925606/61468338-ae4a8100-a9af-11e9-8573-600de5099279.png)

And an error

[2019-07-18 15:32] lidaof commented on #120
Hi @weiwFu when you run `npm install` at backend folder, can you open localhost:3001?

[2019-07-18 15:53] weiwFu commented on #120
I'm sorry, I can't open this url (localhost:3001) either.

[2019-07-18 15:55] lidaof commented on #120
can you take a screenshot after when you run `npm start` at backend folder?

[2019-07-18 15:59] weiwFu commented on #120
I run nohup npm start &, and get this.
![image](https://user-images.githubusercontent.com/52925606/61472921-fd94af80-a9b7-11e9-9883-51810028630c.png)

[2019-07-18 16:01] lidaof commented on #120
ok, are you at the server or you login remotely?

[2019-07-18 16:03] weiwFu commented on #120
yes, I use putty for remote login

[2019-07-18 16:08] lidaof commented on #120
ok, can you try change the **host** to you IP address, and restart `npm start`:

[code]

Also is the frontend running at same server with backend?

[2019-07-18 16:18] weiwFu commented on #120
I change the host to my IP address in main.js, but npm start failed.

![image](https://user-images.githubusercontent.com/52925606/61474088-6a10ae00-a9ba-11e9-9c08-4e69ba6eac95.png)

![image](https://user-images.githubusercontent.com/52925606/61474051-58c7a180-a9ba-11e9-872b-5ef224e08026.png)

[2019-07-18 16:22] weiwFu commented on #120
I'm sorry the screenshot is broken.

The error like this:

Starting server in DEV mode...
MongoNetworkError: failed to connect to server [210.27.82.57:27017] on first connect [MongoNetworkError: connect ECONNREFUSED 210.27.82.57:27017]
Couldn't establish a MongoDB connection; aborting...
npm ERR! code ELIFECYCLE
npm ERR! errno 2
npm ERR! backend@1.0.0 start: `node main.js dev`
npm ERR! Exit status

[2019-07-18 16:23] lidaof commented on #120
Hi @weiwFu , just change the host one, not the mongodb one

[2019-07-18 16:35] weiwFu commented on #120
I am sorry that I didn't modified it correctly right now.

Now, the two URLs are opened like this.

http://210.27.82.57:3001/documentation

WashU Epigenome Browser API Documentation
{genome} Show/Hide List Operations Expand Operations
GET /{genome}/genes/queryName Gene name query
GET /{genome}/genes/{collection}/queryRegion Query genes in region
[ base url: / , api version: 0.0.1 ]

http://210.27.

[2019-07-18 16:51] weiwFu commented on #120
Please see the screenshots below. And my frontend is running at same server with backend.

![QQ截图20190719004646](https://user-images.githubusercontent.com/52925606/61476292-4a2fb900-a9bf-11e9-9c9c-656fe37088db.jpg)

![QQ截图20190719002852](https://user-images.githubusercontent.com/52925606/61475800-3172d380-a9be-11e9-91c4-baf7c9c84971.jpg)

![image](https://user-images.githubusercontent.com/52925606

[2019-07-18 19:49] lidaof commented on #120
Hi @weiwFu , can you check this https://github.com/lidaof/eg-react/issues/101#issuecomment-480178348?

try add proxy to you backend package.json with `http://210.27.82.57:3001/` ?

[2019-07-19 01:22] weiwFu commented on #120
I added this line, but the browser still reported the same error.

![image](https://user-images.githubusercontent.com/52925606/61502475-aa961900-aa06-11e9-8c52-bcb5d6b339ca.png)

[2019-07-19 04:27] lidaof commented on #120
i see, the proxy might just work for localhost..
ok,  can you try one more thing, in the main.js can you change the host ip back to `localhost`, in this package.json, change proxy to http://localhost:3001, then restart backend

[2019-07-19 04:33] lidaof commented on #120
you did change the API to empty as following?
![image](https://user-images.githubusercontent.com/102806/61509479-5a8e6680-a9b4-11e9-8b6f-0d9b6582d175.png)

[2019-07-19 06:29] weiwFu commented on #120
Sorry, the error returned to the original state and the url (http://210.27.82.57:3001/documentation) could not be opened.

![image](https://user-images.githubusercontent.com/52925606/61511817-8cdaab00-aa2a-11e9-8c7c-2f5881e3b250.png)

![image](https://user-images.githubusercontent.com/52925606/61511844-a11ea800-aa2a-11e9-9349-ff73b4303bda.png)

![image](https://user-images.githubusercontent.com/52

[2019-07-19 14:29] lidaof commented on #120
Hi @weiwFu , yeah, that's because we bound the service to localhost again so it's not available for outside access.
Do you use a custom genome? can you try change AWS_API to `https://api.epigenomegateway.org/` see if it works?

[2019-07-19 14:47] weiwFu commented on #120
Thank you very much for your patience. But unfortunately, it still doesn't work unless I set AWS_API to "https://lambda.epigenomegateway.org/v2". Yes, I want to built a custom genome and import my own data.

[2019-07-19 14:54] weiwFu commented on #120
I want to know how WashU Epigenome Browser (http://epigenomegateway.wustl.edu/browser/) enables access to users. This strategy may be applied to my current situation because I am both the administrator of the server and the user.

[2019-07-19 18:42] lidaof commented on #120
i see. very strange when you do localhost proxy for testing it's not working....not sure what's the reason now...

what we did is first we setup the backend API using AWS lambda API services, next we run `npm run build` at frontend, the files under build folder are used for served under Apache html root.

[2019-07-20 02:30] weiwFu commented on #120
Thank you @lidaof. Would you like to provide your source code and install step that used in WashU Epigenome Browser (http://epigenomegateway.wustl.edu/browser/) for me?  I especially want to use this API to show my hic data. My email is weiweifu666@126.com. I would be very grateful if you can help me again.

Best wishes,
Weiwei Fu

[2019-07-20 04:03] lidaof commented on #120
Hi @weiwFu , all source code is on this github repo. the API just provide gene search function and gene annotation track data. it has nothing to do with hic data. do you think it's possible you could allow me SSH to your server? meanwhile besides the server, can you try on your local computer? the backend API should work as we tested...not sure what happened on your server...so that's why i am ask

[2019-07-20 14:44] weiwFu commented on #120
Dear @lidaof, can you provide me your private email? It's not convenient for me to write the username and password here.

[2019-07-21 03:54] lidaof commented on #120
sure, lidaof@gmail.com

[2019-07-30 22:01] xzhuo opened #126 "The new version broke genome comparison feature"
Not working right now...

[2019-07-31 03:30] kerry1221 opened #127 "Can you provide the following dockerfile?"
I want to create a docker image and deploy the project to the k8s environment. I want to refer to your docker file. OK?

[2019-07-31 05:03] lidaof commented on #126
Working on it...

[2019-07-31 05:04] lidaof commented on #127
Hi @kerry1221 , sorry I actually didn't have a docker file. I basically launched a new EC2 instance with Ubuntu 16.04, clone the code, npm install and npm start following the documentation: https://eg.readthedocs.io/en/latest/installation.html

[2019-07-31 05:17] kerry1221 commented on #127
I see. Thank you for your answer. I'll try to see if I can pack a complete mirror. So you can run in any container environment

[2019-08-01 01:20] kerry1221 opened #128 "Backend project issues，3001 monitor disappeared"
I run the backend project, npm start. After a period of time, the service can not be accessed, and the port 3001 is not monitored.

[2019-08-01 16:38] lidaof commented on #128
@kerry1221 I am guessing your mongodb process crashed? We had this situation as well, mongdb get crashed due to memory issue, then backend cannot not be connected.

[2019-08-02 05:18] kerry1221 commented on #128
Thank you for your reply. I moved mongodb to Aliyun. My reason was that I quit SSH session, and then I started node in PM2 mode. It became a daemon.

[2019-08-02 05:35] lidaof commented on #128
That's good. I usually use screen to tmux and keep the process open.

[2019-08-07 01:06] kmualim opened #129 "Using long range interaction files -- no data in view range"
Hi,

I'm trying to view this file located in : http://mitra.stanford.edu/kundaje/projects/GGR_skin/hic_links/sorted_indexed_d0_b1.txt.gz

I'm viewing a region chrX:155233302-155234033 that should register some links when you  `tail` command the sorted_indexed_d0_b1.txt.gz file, but no links are registered.

I am sure to have both pairs as directed in http://wiki.wubrowse.org/Long-range

I'm just w

[2019-08-07 02:45] lidaof commented on #129
Hi @kmualim , i get CORS error and I suspect your there might be 2 `Access-Control-Allow-Origin` setup in your apache settings. if you setup in virtualhost, you don't need setup in apache.conf, vice versa..can you please double check? thanks.

Access to XMLHttpRequest at 'http://mitra.stanford.edu/kundaje/projects/GGR_skin/hic_links/sorted_indexed_d0_b1.txt.gz.tbi' from origin 'http://epigenomegat

[2019-08-07 02:47] lidaof commented on #126
fixed in 378f9ed6

[2019-08-07 02:47] #126 closed

[2019-08-07 02:53] lidaof commented on #129
Hi @kmualim again, I downloaded your files and view it locally, using the `view local tracks` function, i think i did see some interactions in the region you mentioned:
![image](https://user-images.githubusercontent.com/102806/62591245-98d0c480-b894-11e9-99eb-3f574c668b33.png)

[2019-08-31 03:14] zhuangfjnu opened #130 "refGene track load error in local mirror"
Hi,
I installed the local mirror by docker, and successfully open the url " http://localhost:3000/" in the browser. But the refGene and gencodeM19Basic tracks show "Data fetch failed. Reload page or change view to retry." I also try Hg19 , mm10, mm9, all in the same situation. All the setting is default. So could you provide some suggestion about this error?

Thanks
Zhen

[2019-08-31 03:29] lidaof commented on #130
Hi @zhuangfjnu, sorry for the trouble. can you refresh now? it should be back.
by the way,  try use our latest API by editing the GeneSource.js file, documented in out docs:

Now your own backend API is running, change AWS_API variable to empty string in GeneSource.js file. After this you are using your own API for gene annotation tracks and gene search.

Our current API in serice in GeneSource.js

[2019-08-31 05:09] zhuangfjnu commented on #130
Hi @lidaof,
Thank you for your suggestions, I vim /eg-react/frontend/src/dataSources/GeneSource.js , then change "https://api.epigenomegateway.org" to "https://api.epigenomegateway.org/v2" and restarted. But nothing effect, Could help me with this problem?

Thanks,
Zhen

[2019-08-31 05:22] lidaof commented on #130
Sure, can you show me the error log from Developer tools if there is any?
check here to see how to open developer tools: https://eg.readthedocs.io/en/latest/faq.html#hard-reload

[2019-08-31 05:23] lidaof commented on #130
oh. ok...sorry i didn't see the edited reply. good to know.

[2019-08-31 08:22] zhuangfjnu commented on #130
Hi,
Is it the refGene track file loaded from local? Could you provide the local file path ?  If not, Could you provide suggestion about load refGene track file form local ?

Many thanks,
Zhen

[2019-09-09 17:00] kmualim commented on #129
Hi @lidaof ,

Thank you so much for the quick response and the help! I managed to get it working on the old legacy genome browser! I was previously able to load longrange interact files in the legacy genome browser and upon retrieving my old session, I get this error : hg19 Missing track for reordering: 24048993070553237. Would you be able to advise?

Thanks!

[2019-09-09 17:27] lidaof commented on #129
Hi @kmualim sure. This error happens sometime duo to network problem. Would you share the URL for me to test as well?

[2019-09-09 18:02] kmualim commented on #129
Hi @lidaof ,

Sure --
http://mitra.stanford.edu/kundaje/projects/sorted_jesse_abc.txt.gz
http://mitra.stanford.edu/kundaje/projects/k562_counts.txt.gz
http://mitra.stanford.edu/kundaje/projects/sorted_k562_1000bp_counts_links.txt.gz
http://mitra.stanford.edu/kundaje/projects/K562_CRISPRi_K.txt.gz
Any of these files

[2019-09-09 18:32] lidaof commented on #129
Hi @kmualim seems all of your links gives 404 not found error:

[code]

[2019-09-10 21:16] kmualim commented on #129
Oh yes, sorry I apologize. The cluster has been having some issues.

Thanks for the help!

[2019-09-10 21:16] #129 closed

[2019-09-24 08:51] harrica opened #131 "Browser not working with windows"
I have the docker image running and it mostly works on macs but my windows users get the following error. any ideas.  Oh the browser is very nice btw.
![image](https://user-images.githubusercontent.com/45017603/65496672-d1624700-deb0-11e9-9108-81c3087168f1.png)

[2019-09-24 18:41] lidaof commented on #131
Hi @harrica thanks for reporting. Are you using Google chrome or Edge?

[2019-09-24 20:32] harrica commented on #131
Chrome

Richard Harvey
Sent from my iPhone

[2019-09-25 16:19] lidaof commented on #128
closed for now. Feel free to submit new issues.

[2019-09-25 16:19] #128 closed

[2019-09-25 16:21] lidaof commented on #130
Hi @zhuangfjnu , sorry for late reply. The refGene track data is loaded from the backend based on a mongoDb database, you would need setup a backend service or use our public API. please check https://eg.readthedocs.io/en/latest/installation.html#setup-your-own-backend-api-optional

[2019-09-25 16:51] lidaof commented on #127
Hi @kerry1221 , just wondering is K8 better than node.js?

[2019-09-25 16:52] lidaof commented on #131
Hi @harrica i have updated docker to our latest code on docker, https://cloud.docker.com/repository/docker/epgg/eg-react/, would you mind give it a try? thanks.

[2019-09-26 13:15] harrica commented on #131
It would be my pleasure

might be an hour or so

Richard Harvey
rharvey@harvey-morrison.com

[2019-09-26 18:56] harrica commented on #131
thank you so much, the update fixed it. I certainly appreciate it

[2019-09-26 19:12] lidaof commented on #131
Thank you for your feedback! @harrica

[2019-09-27 16:13] #131 closed

[2019-10-08 07:02] wangyibin opened #132 "The backend api couldn't be open in remote machine"
Hi @lidaof
I have a problem with setup my own backend API in my remote host.
I install the eg-react follow with the steps of:
[code]
And then I can use curl to connect backend successful in the docker container. But failed to open the backend API in my window computer.
![image](https://user-images.githubusercontent.com/37402369/66373481-541ff180-e9db-11e9-8a21-b4d2812e98fd.png)
![image](https://us

[2019-10-08 19:37] lidaof commented on #132
Hi @wangyibin , have you changed the `host` in backend's `main.js`? thanks for using the browser!

[2019-10-09 01:03] wangyibin commented on #132
yes，I have tried to change the host in backend's main.js. But failed to start the backend.
![image](https://user-images.githubusercontent.com/37402369/66443892-867d2d80-ea73-11e9-8e56-652a0a576d14.png)
![image](https://user-images.githubusercontent.com/37402369/66443907-9ac12a80-ea73-11e9-9270-49b4dbd84ef1.png)
Thanks for your reply.

[2019-10-09 03:57] lidaof commented on #132
you are welcome. is the IP address belongs to your server? what's the output of the `ifconfig` command?

[2019-10-09 05:48] wangyibin commented on #132
yes, this is the output of my `ifconfig` command.
![image](https://user-images.githubusercontent.com/37402369/66454366-41b8bd00-ea9a-11e9-8224-161b11222b03.png)
I can open the frontend by this IP `http://210.34.81.56:3000`.
![image](https://user-images.githubusercontent.com/37402369/66454437-775da600-ea9a-11e9-9afd-06e6477b5010.png)

[2019-10-09 14:47] lidaof commented on #132
Hi @wangyibin this is strange....not quite sure. My gut feeling is docker image cannot assign the host IP address....can you just try using localhost? in the package.json proxy, also use localhost.

[2019-10-10 01:14] wangyibin commented on #132
I change the host address to `localhost` in `main.js` and `package.json`.
![image](https://user-images.githubusercontent.com/37402369/66530976-a6c4ef00-eb3c-11e9-8819-ec99204ad660.png)
![image](https://user-images.githubusercontent.com/37402369/66530985-afb5c080-eb3c-11e9-8dfb-80b4f6e26736.png)
the backend can be run.
![image](https://user-images.githubusercontent.com/37402369/66531171-79c50c00-eb

[2019-10-10 03:34] lidaof commented on #132
one more try, can you change the AWS_API to an empty string?

[2019-10-10 04:18] lidaof commented on #132
ok, sorry about that @wangyibin . I will need do some tests on the docker image. by the way, is it possible you can run the mirror directly with node.js (without docker)?

[2019-10-11 16:08] andreagillespie commented on #71
Is there any update on this? I am also trying to upload text files as was an option in the old browser, would be great to use this feature in the new browser.

[2019-10-11 16:17] lidaof commented on #71
Hi @andreagillespie sorry the text format is not supported yet currently, while any accepted track type (bigwig, bedgraph.gz) files can be uploaded locally. please see https://eg.readthedocs.io/en/latest/local.html

What track type in text format do you need? bed? We have been thinking for this function, while text file need to be loaded to browser in whole, not like binary file we can read in par

[2019-10-11 16:26] andreagillespie commented on #71
I need capture Hi-C interaction tracks. It was nice to use the text format option because I could upload them from my local machine.

[2019-10-11 16:46] lidaof commented on #71
can you please send me an example of text file to lidaof@gmail.com? I will work on this.

[2019-10-13 14:15] songtaogui opened #133 "Failed to display bam alignment details if the CIGAR has "H" or "S""
Hi, @lidaof

I was trying to display bam file using WashU browser v48.5.3, however, some of my bam records could not be correctly parsed:

![image](https://user-images.githubusercontent.com/14274330/66716918-e4a86880-ee05-11e9-9df8-28590b3230bf.png)

I have noticed that the "incorrect records" all have soft or hard mask CIGARs (S or H).
And in the [bam parse script](https://github.com/lidaof/eg-re

[2019-10-13 21:38] lidaof commented on #133
Hi @songtaogui, yes, you are correct. I will see what I can do to improve the bam track. Thanks for reporting this issue.

[2019-10-14 02:55] wangyibin commented on #132
Hi @lidaof
Sorry for the late reply. I have solved this problem when I use docker to set up my own API.
I used docker mapping a port `3003`  to `3000`.  So I add the `"proxy": "http://210.34.81.56:3003" `to` the `backend/package.json`

![image](https://user-images.githubusercontent.com/37402369/66727211-34bc1500-ee70-11e9-8e86-bd5da41cf80f.png)
And then empty the `AWS_API`
And add the `"proxy": "h

[2019-10-14 04:40] lidaof commented on #132
That's very smart!! @wangyibin, I guess you may don't need setup proxy in frontend's package.json file?

[2019-10-18 11:48] AdrijaK opened #134 "Cannot manually specify Y-axis scale for bigWig tracks"
I can't modify bigWig track 'settings > y-axis score' which is set to 'automatic scale'.
In contrast, it is possible to change colors, track height or smoothing window for the same track.
Has anyone seen similar issues and how can these be resolved?

Thanks!

[2019-10-18 14:36] lidaof commented on #134
Hi @AdrijaK , can you take a screenshot please? First you need change scale to FIXED, then you can adjust max and min values.

![image](https://user-images.githubusercontent.com/102806/67103428-b66eb400-f18a-11e9-877b-b9a2f89dac40.png)

[2019-10-19 10:46] AdrijaK commented on #134
While making the screenshot I realized I am using the old genome browser version:
The bug is already noted in https://github.com/epgg/eg/issues/68
I am sorry for the mixup and thank you for the fast reply.

[2019-10-19 10:46] #134 closed

[2019-10-19 19:05] lidaof commented on #134
Hi @AdrijaK you are very welcome and no worries.

[2019-10-21 15:58] rakarnik opened #135 "Disable mouse cross-hairs"
Is it possible to disable the cross-hairs (vertical and horizontal dotted lines following the mouse)? It is quite distracting. If there is a place in the code that I need to change, please let me know, and I am happy to do that. Thank you for the help!

[2019-10-21 16:12] lidaof commented on #135
Hi @rakarnik, the quickest way is to disable the CSS in the file `frontend/src/components/DivWithBullseye.css` like:

![image](https://user-images.githubusercontent.com/102806/67222777-9f7eca80-f3f3-11e9-9824-6f75676c2f59.png)

[2019-10-21 16:23] rakarnik commented on #135
Perfect, thanks @lidaof!

[2019-10-21 16:28] rakarnik opened #136 "Disabling default tracks for genome"
I am trying to use a datahub to load a default set of tracks (say for a cell type) and not load some of the default tracks (e.g. RepeatMasker). How do I go about doing that?

Thanks for the help!

[2019-10-21 16:29] #135 closed

[2019-10-21 16:45] lidaof commented on #136
Hi @rakarnik, you are welcome. That's also an option on my todo list.
Are you loading the hub using URL parameter or from the UI button?

if from the UI button I think you can modify `App.js`: (remove the concat step, just overwrite the tracks), i think this will work, not tested yet

[code]
to
[code]
We will also add the option when load a hub while remove existing tracks very soon.

[2019-10-21 19:37] rakarnik commented on #136
Got it. I am using the URL parameter, so the App.js method does not seem to work.

Is there a different code-path which loads the default tracks for a genome that I can disable entirely? I can add them back in via the datahub as needed.

[2019-10-21 19:45] rakarnik commented on #136
I edited models/genomes/<genome>/<genome>.js and modified the defaultTracks variable, and got this to work. Thank you for your help @lidaof!

[2019-10-21 19:53] #136 closed

[2019-10-27 17:32] lhzqm opened #137 "This version of npm is compatible with lockfileVersion@1, but npm-shrinkwrap.json was generated for lockfileVersion@0. I'll try to do my best with it!"
May I ask how to solve this problem?

[2019-10-27 17:33] lhzqm commented on #137
![Uploading 10-28-1.33.png…]()

[2019-10-27 17:33] #137 closed

[2019-10-27 17:34] lhzqm commented on #137
![10-28-1 33](https://user-images.githubusercontent.com/48125795/67638737-097efe80-f923-11e9-8790-d8dbc1e3f381.png)

[2019-10-27 19:31] lidaof commented on #137
Hi @lhzqm, ha, I never saw this error before. which version of npm you are using?

[2019-10-28 01:56] lhzqm commented on #137
![10-28-9 54](https://user-images.githubusercontent.com/48125795/67646419-0ad31a00-f969-11e9-9ada-18f0334270ce.png)
I hope to get your help.

[2019-10-28 01:58] lhzqm commented on #137
I am using ubuntu running by docker. Can I use centos?

[2019-10-28 03:05] lidaof commented on #137
I think CentOS should be fine since docker is OS independent I think....
can you try delete `package-lock.json` file and try `npm install` again?

[2019-10-28 05:33] lhzqm commented on #137
![10-28-13 31](https://user-images.githubusercontent.com/48125795/67654125-77f5a800-f987-11e9-98df-3d404510abf0.png)
Hello, I did as you requested, but I still have the following questions, I hope I can get your help.

[2019-10-28 14:47] lidaof commented on #137
Hi @lhzqm, did you get error message after this audit line?

[2019-10-29 10:42] lhzqm commented on #137
![10-29-18 40](https://user-images.githubusercontent.com/48125795/67760110-a5bc1900-fa7b-11e9-962c-3445dc9cf825.png)
Hi, this problem appeared again when I was running, I hope to get your help.

[2019-10-29 10:43] lhzqm commented on #137
Sorry, I have been replied to you for such a long time because I have encountered some problems today.

[2019-10-29 16:12] lhzqm commented on #137
I got 50.0.1 with git pull https://github.com/lidaof/eg-react.git. How do I pull 50.0.4? I hope I can get your help.

[2019-10-29 16:22] lhzqm commented on #137
I have encountered this problem today, I hope to get your help, thank you very much.
![10-30-0 20](https://user-images.githubusercontent.com/48125795/67787226-2b0af200-faab-11e9-98e6-d92b72d7d512.png)

[2019-10-29 16:23] lidaof commented on #137
sure, check this https://eg.readthedocs.io/en/latest/faq.html#firebase-fetal-error @lhzqm

[2019-10-29 17:16] lhzqm commented on #137
REACT_APP_FIREBASE_KEY="AIzaSyDptIEiUx1oW_NOt2G5DQb4PlLpbRJpKg8"
REACT_APP_FIREBASE_DOMAIN="1:822569602617:web:95dc0541893a89661007e8"
REACT_APP_FIREBASE_DATABASE="https://epgg-test-dc0c8.firebaseio.com"
REACT_APP_FIREBASE_STORAGE_BUCKET=
May I ask how to configure it? I am bothering you.

[2019-10-29 17:42] lidaof commented on #137
you just need create a .env file under frontend/ folder with above content

[2019-10-29 19:05] lidaof commented on #137
Hi @lhzqm you can leave REACT_APP_FIREBASE_STORAGE_BUCKET empty.
are you able to get these info from your firebase console?
![image](https://user-images.githubusercontent.com/102806/67800336-17cd3780-fa55-11e9-94c4-f4a822fb4d83.png)

[2019-10-30 02:46] lidaof commented on #137
it's because the current tracks are not supported in VR mode yet. try add a numerical track like bigwig or bedgraph, and/or hic track.

[2019-10-30 02:52] lhzqm commented on #137
How can I add a numerical track like bigwig or bedgraph, and/or hic track?Thank you for your help these days.

[2019-10-30 02:55] lidaof commented on #137
no problem, you can go over the documentation see what is a numerical track https://eg.readthedocs.io/en/latest/tracks.html#numerical-tracks and how to add tracks https://eg.readthedocs.io/en/latest/usage.html#adding-a-custom-track-or-data-hub

[2019-10-30 13:20] mashehu opened #138 "Broken contact options"
Hi,

Just a heads-up: the slack link expired and the google group is not open anymore (both in the readme here and on the genome browser website).

[2019-10-31 09:03] mashehu commented on #138
I get the following notification when I go to the google group link: `This group either doesn't exist, or you don't have permission to access it. If you're sure this group exists, contact the Owner of the group and ask them to give you access.`

[2019-10-31 14:36] lidaof commented on #138
i see. can you check one more time your side? @mashehu thank you so much!

[2019-10-31 15:21] mashehu commented on #138
Yes, now the google goup link works. Thanks!

[2019-11-01 15:02] lhzqm commented on #137
![1](https://user-images.githubusercontent.com/48125795/68033844-829f9c80-fcfb-11e9-9888-84deebcb2cca.png)
I am sorry to bother you again, I have encountered this problem again, I hope to get your help.

[2019-11-01 16:18] lidaof commented on #137
Hi @lhzqm does this happen during run `npm start` or after that when you visit geneplot app?

[2019-11-02 01:47] lhzqm commented on #137
Sorry. I will reply to you so late. Set a question when I am npm start, how can I solve it? I hope to get your help, thank you very much.

[2019-11-02 03:57] lidaof commented on #137
Hi @lhzqm no need to be sorry...I actually never see this error before....did you do any additional webpack configuration? are you running 50.0.4 on `dev` branch?

[2019-11-02 04:21] lhzqm commented on #137
![QQ图片20191102121755](https://user-images.githubusercontent.com/48125795/68065920-18bedb80-fd6b-11e9-9673-723a92758c00.png)
![QQ图片20191102121808](https://user-images.githubusercontent.com/48125795/68065922-18bedb80-fd6b-11e9-9364-6d1e98d18339.png)
![QQ图片20191102121822](https://user-images.githubusercontent.com/48125795/68065923-18bedb80-fd6b-11e9-84e7-25d2fb66873a.png)
![QQ图片20191102121830](https:

[2019-11-05 02:40] Tong-Chen opened #139 "Generate epgg.js for genome browser embedding"
Thanks for the updated version of epgg. The new version looks very cool.

I have tried to install `epgg frontend` in my Centos 7 server with some changes.

1. `mv package-lock.json package-lock.json.bak`
2. delete the dependence of `fevents` in package.json
3. change the dependent version of `typescript` to `3.4.5` (my npm version 6.12.0)
4. npm install
4. configure `.env` file with firebase infor

[2019-11-05 04:19] lidaof commented on #139
Hi @Tong-Chen , first all what you did is all correct. Glad you figure out the annoying fevents dependency is removable and the code also works in newer typescript. from the build-dist command you probably can tell it's trying to combine all .js and .css to single file epgg.js and epgg.css separately. It was built using v48.x...the new version of build splits the .js file as you have seen, I haven

[2019-11-05 04:21] lidaof commented on #139
right now it's hard to tell which js files are web worker files...from the current build...

[2019-11-05 07:27] Tong-Chen commented on #139
Thanks for your kind explanations. The `sed` command you meaning substitute `/browser`? Normally I would do using something like `sed -i 's#/browser##g' *.js`.

Sorry, I do not understand this "right now it's hard to tell which js files are web worker files...from the current build..."?

[2019-11-05 15:16] lidaof commented on #139
Hi @Tong-Chen , regard the sed command you are right. for the worker thing, because we are using web workers, previously the build step will generate the ****.worker.js file (now seems it dose not). I will spend some time on this issue next week.

[2019-11-06 14:06] songtaogui opened #140 "Failed to access to WashU browser with TypeError at https://unpkg.com/react-plotly.js"
Hi,
@lidaof
I have failed to access to my WashU browser recently (which could be normally accessed a month ago), with error messages below:

It seems that some of the online JS scripts were not-accessible during the launching of the browser , but the URLs of these JS scripts were accessible when I manually click on them. Do you have any idea on what's the problem? Is there something wrong with my

[2019-11-06 15:37] lidaof commented on #140
probably something happened with npm, I can visit your mirror nicely now actually.
can you retry? another thing is you can download the .js file and put in your local server.

![image](https://user-images.githubusercontent.com/102806/68312653-ff72a380-0078-11ea-806e-3a4d23791e55.png)

[2019-11-07 03:01] Tong-Chen commented on #139
Thank you!

[2019-11-07 03:06] songtaogui commented on #140
Hi,
@lidaof

Thank you for your kindly help, I have made the js files local and now it works fine.

Considering that this issue exposed my IP, which may be insecure, so would you please delete this issue or the address in the image?

Thank you again for your kindly help.

Best wishes,

Songtao Gui

[2019-11-07 06:40] lidaof commented on #140
sure thing, removed screenshot! @songtaogui

[2019-11-21 13:32] wmegchel opened #141 "Unkown genome name (legacy browser)"
Hi,
since today I cannot select any genome in the **legacy** browser. I get the error "Unknown genome name mm9". Same for mm10 or hg38.

Best,
Wout

[2019-11-21 13:36] wmegchel opened #142 "datahub not loaded"
Hi,

when I try the example data hub URL:
https://epigenomegateway.wustl.edu/browser/?genome=hg19&hub=https://vizhub.wustl.edu/public/tmp/a.json

It does not load the bigwig files. I can see there are two tracks on ttps://vizhub.wustl.edu/public/tmp/a.json, which I can also download, but they are not loaded into the browser.

Similarly, my own data hub tracks are not loaded. What is going wrong?

[2019-11-21 16:07] lidaof commented on #142
Hi @wmegchel , the tracks are loaded but not showing because that hub doesn't specify the option `showOnHubLoad` for the tracks, see https://eg.readthedocs.io/en/latest/datahub.html#showonhubload

if you open tracks-> custom tracks, you can see it's added to the tracks pool
![image](https://user-images.githubusercontent.com/102806/69354926-882b3b00-0c46-11ea-81e0-e217fcc85298.png)

we designed lik

[2019-11-21 16:09] lidaof commented on #141
Hi @wmegchel there was a database error, should be fixed now.

[2019-11-21 16:09] #140 closed

[2019-11-21 17:33] wmegchel commented on #141
Yes, it is fixed. Thanks for the quick response!

[2019-11-21 17:36] wmegchel commented on #142
Thanks, I missed that parameter :)

[2019-11-21 17:36] #142 closed

[2019-11-21 17:37] #141 closed

[2019-11-25 22:06] lidaof commented on #71
Implemented finally. sorry for the long delay @andreagillespie

[2019-11-25 22:06] #71 closed

[2019-11-25 22:07] #109 closed

[2019-12-30 22:24] ericaenjoy3 opened #144 "Data Fetch Failed Using Custom Tracks"
The [track file url](https://github.com/marcoralab/datahub/raw/master/summary_stats/Marioni2018_phase4.chrall.CPRA_b37.bw) (hg19) generated 'data fetch failed error' in 'Add custom track'. However, the same track works in the UCSC genome browser.

Would you please care to have look? Many thanks!

[2019-12-31 04:27] lidaof commented on #144
Hi @ericaenjoy3 , sorry that the new browser currently don't support github urls since github doesn't allow Range request, the track can work with our old browser: http://epigenomegateway.wustl.edu/legacy/. You can also load this track from your local laptop without put them online with the [local track function](https://eg.readthedocs.io/en/latest/local.html) in the new browser. Feel free to let

[2020-01-02 23:02] ericaenjoy3 commented on #144
Thanks for your prompt reply! And happy new year!

I have put the same track data to a different web server at [link](https://liuy22.u.hpc.mssm.edu/summary_stats/Marioni2018_phase4.chrall.CPRA_b37.bw), which supports range request. The custom track utility of the browser also failed to fetch the data with the same error.

Would you please help? Warmly appreciated!

[2020-01-03 04:48] lidaof commented on #144
Hi @ericaenjoy3 , I see the web server your have now supports range request. can you also add access control? would you mind try add the following to `apache2.conf` file and restart apache2 services? Thanks!
[code]

[2020-01-03 20:27] #138 closed

[2020-01-03 20:28] lidaof commented on #110
feel to reopen is you need additional info. thanks

[2020-01-03 20:28] #110 closed

[2020-01-22 10:43] lucasvduin opened #146 "Visualize local cooler file"
Hi,

Is it possible to view a local cooler file like you would with a hic file? I have a cooler file but not the raw reads, so afaik I can't construct a hic file.

Thanks in advance!

[2020-01-22 13:49] lucasvduin commented on #146
I solved in the mean time, by using cooler dump and using the resulting file as input for juicebox Pre, using the 'short with score' input file format

[2020-01-22 13:49] #146 closed

[2020-01-22 15:26] lidaof commented on #146
Very nice @lucasvduin. We don't have a cooler format based Javascript parser...that's the reason we don't have the local cooler option. Glad you figured out a way!

[2020-02-07 19:04] ykai16 opened #150 "hg19 Missing track for reordering"
Hi Daofeng,

Recently when we are uploading a quantitative categorical dataset for visualization, the browser keeps returning a "hg19 Missing track for reordering" error. We used a json file for the visualization, and it worked 2 months ago. But for the same file, it is not working now. Could you point out how we could get rid of this error? Thanks!

The json file we used could be found here: http

[2020-02-10 16:57] lidaof commented on #150
Hi @ykai16 sorry for late reply.
Can you update your json file and replace http with https in the url links? Thank you.

[2020-02-10 17:06] ykai16 commented on #150
Thanks for the help! Just replaced http with https, but still got the same message.

[2020-02-10 17:45] lidaof commented on #150
Hi @ykai16 sorry for that, the cgi-bin program tells this error:
[code]
I downloaded your files to https://wangftp.wustl.edu/~dli/ykai16/, could you please give it a try?

[2020-02-10 20:43] ykai16 commented on #150
Thanks @lidaof ! I tried the files in your site and it works. Now I see where the problem is. Thanks a lot for the help!

[2020-02-10 20:48] lidaof commented on #150
You are welcome @ykai16 !

[2020-02-13 03:24] #150 closed

[2020-02-19 19:42] skotechaeng opened #152 "Use HTTP or HTTPS"
Hello, I have a question about the following:  We have deployed the browser container locally and implemented TLS.  When TLS is applied all images associated with https://epigenomegateway.wustl.edu/ is not loading.  This documentation (https://epigenomegateway.readthedocs.io/en/latest/faq.html#use-http-or-https) says we can use http://epigenomegateway.wustl.edu/browser without the s.  I have the f

[2020-02-19 19:53] lidaof commented on #152
Hi @skotechaeng if you visit an HTTPS site, any link with HTTP cannot be accessed, but not vice versa. From HTTPS to HTTPS should be fine....for you local installation if you want completely avoid image request etc, you would need to download the images to your local instance.

(if you always points to our HTTPS links, should not be a problem in my understanding...)

[2020-02-24 13:34] deniseomahony01 opened #153 "Unable to run VR mode"
I have been trying to visualize Chromatin interactions on the Epigenome browser for a region of interest, however as soon as I select 'VR mode' in Settings the browser freezes and then the page crushes. Can you explain why this happens and whether I can do anything to fix it?

[2020-02-26 10:10] pankajingle opened #154 "Genome is not building Using Docker"
Hi @lidaof
I m building Genome using docker. I have created own docker file but it gives me

Starting the development server...

Browserslist: caniuse-lite is outdated. Please run next command `npm update`
(node:25) DeprecationWarning: Tapable.apply is deprecated. Call apply on the plugin directly instead
Failed to compile.

./node_modules/fasta-to-object-parser/build/index.js
Module not found: Ca

[2020-02-26 15:13] lidaof commented on #154
Hi @pankajingle , in the frontend folder, can you try `npm install fasta-to-object-parser`?
do you mean a docker text file describe build docker from scratch? we don't have that, I used a fresh Ubuntu and install the package and then save the container image.

[2020-02-26 17:54] pankajingle commented on #154
@lidaof
The fasta-to-object-parser module is already there. why npm install fasta-to-object-parser  ..??
When i try to run this command it fails and deleted the existing fasta-to-object-parser folder which was created using **npm install --force**. My struggle point is to run the application it require .js files from build directory to one level up
e.g: /eg-react/frontend/node_modules/fasta-to-obj

[2020-02-26 18:07] lidaof commented on #154
Hi @pankajingle one of my lab members also get this error and somehow reinstall this package fix it, let me send a new push and remove the need of this package.

[2020-02-26 18:28] pankajingle commented on #154
@lidaof Thanks.
Please let me know when the push is done. I will take the latest and try it on my end.

[2020-02-26 18:29] lidaof commented on #154
sure, can you checkout the latest `dev` branch? @pankajingle

[2020-02-26 18:30] lidaof commented on #153
Sorry for that @deniseomahony01 , I am working on trying to fix this issue.

[2020-02-27 18:59] skotechaeng commented on #152
Thanks @lidaof

[2020-02-27 18:59] #152 closed

[2020-02-27 21:05] lidaof commented on #153
Hi @deniseomahony01 , can you try refresh to 50.4.0, it should be fixed...sorry for the delay

![image](https://user-images.githubusercontent.com/102806/75486668-90e08b00-5972-11ea-9011-00af43eec08b.png)

[2020-02-28 10:16] pankajingle commented on #154
@lidaof  Thanks we are able to resolve the issue. One more point on Firebase storage.
My team member has created the account on firebase and he got the configuration details for Firebase. I have questions on this
1. Whats the purpose of firebase account
2. And the confirguration we got from Firebase is for which environment Dev,Test or it can be used for PROD also..??

[2020-02-28 15:33] lidaof commented on #154
Hi @pankajingle firebase account is for session and live function. if you delete them, like not import them from Nav.js, you don't need firebase account.

[2020-02-28 15:36] pankajingle commented on #154
Hi @lidaof So you mean if we have not added
ENV REACT_APP_FIREBASE_KEY="AIzaSyAXguUXzwiU40kukumiS_Z3lxluJehq9Ec", REACT_APP_FIREBASE_DOMAIN="epgg-test-8514a.firebaseapp.com", REACT_APP_FIREBASE_DATABASE="https://epgg-test-8514a.firebaseio.com", REACT_APP_FIREBASE_STORAGE_BUCKET="epgg-test-8514a.appspot.com"

These details which we got from firebase. It wont affect application ..??

[2020-02-28 15:41] lidaof commented on #154
HI @pankajingle in order to run the application you will need this information to be saved in a `.env` file under frontend folder, but if you remove the import of session and live function from Nav.js, you don't need to.

[2020-02-28 17:05] pankajingle commented on #154
@lidaof Thanks
Also I noticed that the Size of latest image is 7.68 GB but when my build our image its 1.52 GB in size..
Is there anything we are missing. If I check the application all are fine.

[2020-02-28 17:10] lidaof commented on #154
Hi @pankajingle I built the docker image from Ubuntu image, I probably saved same genomic data before we switched to use AWS lambda API..so you should be fine with that.

[2020-03-05 20:06] deniseomahony01 commented on #153
Dear Li,
I am really sorry for the delayed reply. I tried running the VR mode again
from different computers and servers and it gives me an error message:
'Access this site over HTTPS to enter VR mode'. Is it possible that this is
a bug?

Thank you.
Denise

On Thu, 27 Feb 2020, 23:05 Daofeng Li, <notifications@github.com> wrote:

[2020-03-05 20:48] lidaof commented on #153
Hi @deniseomahony01 no worries.

This is normal, you can go to our https site to avoid this warning: https://epigenomegateway.wustl.edu/browser/

[2020-03-06 07:59] deniseomahony01 commented on #153
Dear Li,
Thank you for your assistance I have managed to access the VR mode on the
browser. May I ask you another question? I have carried out an analysis
(Chicago package - Bioconductor) that generates a text file containing all
available chromatin interactions in specific regions of the genome. I would
like to visualize these interactions on the browser in VR mode. How can I
do this?

Kind Regar

[2020-03-06 15:18] lidaof commented on #153
Hi @deniseomahony01 you are welcome.

Good point, I will try add this function. Thanks for suggestion.

[2020-03-06 22:22] adu345 opened #155 "Genome comparison issue when switching genomes"
![image](https://user-images.githubusercontent.com/33333772/76127020-41c7d500-5fc6-11ea-8c59-bb73f2517d7b.png)
Switching from one genome to another (here hg38 to mm10) and then using genome comparison tracks makes an incorrect comparison.
Looking at the comparison track shows that hg38 stays as the base genome instead of switching to mm10. The comparative genome is rheMac8, which is correct.
Quick

[2020-03-09 07:41] deniseomahony01 commented on #153
Dear Li,
The reason why I am asking is because according to the authors of the paper
'Chromatin interactome mapping at 139 independent breast cancer risk
signals' and according to the package vignette which I have attached below
(pdf and photo), the output files generated by running the R Package
('Chicago' package of Bioconductor) can be uploaded on the Washu epigenome
browser for interaction vis

[2020-03-13 15:22] lidaof commented on #153
Hi @deniseomahony01 sorry for the long delay, I finally managed to get it working for `longrange` track with help from @smhsu . here is a screenshot it works for one the longrange track in our public hub.
let me know if it works for you.

![image](https://user-images.githubusercontent.com/102806/76634885-8dbdd100-6514-11ea-84cf-db7af8bf4198.png)

[2020-03-16 09:46] deniseomahony01 commented on #153
Dear Li,
Where can I upload my own text file (containing chromatin interactions) in
order to visualize the interactions?

Kind Regards,
Denise O' Mahony

On Fri, 13 Mar 2020 at 17:22, Daofeng Li <notifications@github.com> wrote:

[2020-03-16 14:31] lidaof commented on #153
Hi @deniseomahony01 you can use text format: https://eg.readthedocs.io/en/latest/text.html#longrange
or compressed and index with tabix: https://eg.readthedocs.io/en/latest/text.html#longrange
both text and gzip'ed track file(s) can be uploaded from your own computer.

[2020-03-18 11:02] mang7 opened #156 "index file is not working from build folder"
Hi @lidaof

index.html is showing blank when I use npm run build ("build": "react-app-rewired build" )
and getting error in console as "**Error during service worker registration: TypeError: Failed to register a ServiceWorker: The URL protocol of the current origin ('null') is not supported.**"

![error](https://user-images.githubusercontent.com/3917990/76953811-58125100-6935-11ea-9b97-858ee26360d

[2020-03-20 14:16] lidaof commented on #156
Hi @mang7 , sorry for late reply. are you able to compile it? I mean when you run `npm start`, can you start the development server?

[2020-03-20 14:24] lidaof commented on #155
Hi @adu345 , when you switch genome, the tracks should be cleared to the default tracks of that genome, can you tell me how to reproduce this issue?
Thanks for reporting this.

[2020-03-20 14:56] #132 closed

[2020-03-20 18:31] adu345 commented on #155
1. Choose any genome to start with that has a genome comparison track.
2. Display the genome comparison track.
3. Switch to another genome with a genome comparison track.
4. Display the second genome's genome comparison track.
5. Hover over the comparison track to see which genomes are being compared (may need to zoom in or out to see the popup).

[2020-03-21 17:26] mang7 commented on #156
Thanks @lidaof,

Yes I was able to compile it using npm run build but when I tried to open index.html file from build folder then blank page shown to me.

I'm using node express for authentication and want to deploy react app and express app on same port. So I want to use frontend app as static file.

How can I access frontend app as a static files?

[2020-03-22 19:56] deniseomahony01 commented on #153
Dear Li,
I am really sorry to bother you once again but I haven't managed to do this
yet. So I have this long range text file with all the possible interactions
for the region of interest and i went to Tracks > Text tracks > Selected
long range text format> uploaded my file > selected VR mode. But this is
what I get:
[image: image.png]
Am I doing something wrong?
Thank you for your help and once a

[2020-03-22 21:38] lidaof commented on #153
Hi @deniseomahony01 can you re-upload the image?
also can you send me your text file directly for me to test?

thank you!

[2020-03-22 21:49] deniseomahony01 commented on #153
Dear Li, find below the image and the long-range text file. Also, the
region i am interested in is at the SNP rs17356907  at position
chr12:96027756-96027761.
Thanks.

On Sun, 22 Mar 2020 at 23:39, Daofeng Li <notifications@github.com> wrote:

chr12   13612496	13617656	chr12:13739260-13744348,6.95	1	.
chr12	13739260	13744348	chr12:13612496-13617656,6.95	1	.
chr12	14374497	14376507	chr12:14846390-1

[2020-03-23 14:35] lidaof commented on #156
Hi @mang7 , do you mean if you open index.html in a text editor and it's empty...pretty strange....
in our case, we put the entire build folder under an Apache servered folder...can you try that see if it's working?  Sorry I have no express experience...

[2020-03-23 15:33] lidaof commented on #153
Hi @deniseomahony01 I am able to view your text file in the long range track format, I guess the data is too sparse to be viewed in VR mode. I will try to adjust the parameter see if I could get it working.
(please note the columns need be separated by Tabs in your text file)

[2020-03-23 17:21] mang7 commented on #156
Hi @lidaof,
After executing command "npm run build".
index.html contains HTML tags and files reference in build folder but nothing displayed in browser. Is there any option or setting to test build folder locally?
Is there any changes required in .env file. I've added firebase setting in .env file before building or are you using some different scripts instead of npm build?

[2020-03-23 18:59] lidaof commented on #153
Hi @deniseomahony01 I spent more hours on this issue...but could not figured it out why. Can you try your full dataset see if you can view it in VR mode?

[2020-03-23 19:04] lidaof commented on #156
if index.html contains html tags you should be OK, the package.json file you may need change the homepage url, currently it assumes it serves under a subfolder /browser/, you can try remove it and re-build see if it helps.

[2020-03-23 20:43] deniseomahony01 commented on #153
Thank you for trying, I will try my full data and let you know. You also
said you were able to view my data in the long range track format. Did you
do this by uploading the long range text file I sent you in the 'view local
tracks' or the 'text tracks' option?

On Mon, 23 Mar 2020 at 21:00, Daofeng Li <notifications@github.com> wrote:

[2020-03-23 23:18] lidaof commented on #153
text tracks option.
local track means the track still formatted accordingly (tabix+bgzip) but exists in local drive, text track means the track is a plain text file.

yes, i was able to view your example data pasted here.

[2020-03-24 16:59] mang7 commented on #156
Hi @lidaof,
Thank for above information. I'm able to see index.html from build folder now.
Tracks are not displaying from after npm run build it was displaying when I used npm start. I've added below details in .env file
REACT_APP_FIREBASE_KEY="my firebase key"
REACT_APP_FIREBASE_DOMAIN="my firebase domain key"
REACT_APP_FIREBASE_DATABASE="my firebase data key"
REACT_APP_FIREBASE_STORAGE_BUCKET="m

[2020-03-24 18:05] lidaof commented on #156
i think this means it's built successfully. there is no more thing need to be done besides that. sometimes you may see the data fetch error as our API is waking. try refresh. the repeatmasker track error is weird though...can you try pull the `dev` branch and re-build.

git checkout dev
git pull origin dev

[2020-03-28 03:39] #156 closed

[2020-04-06 13:45] ZunpengLiu opened #157 "session issue"
Hi, lidaof!

I have one question about the function of session in App.

Does session only save the genomic location of track? not all the setting parameters?  like the absolute path of bigwig/bed files like IGV?

When I retrieve their session or uploaded the saved session, it didn't upload the local files?

Many thanks for you help!

Looking forward to your Kindly reply!

Zunpeng

[2020-04-06 14:09] lidaof commented on #157
Hi Zunpeng @ZunpengLiu , if you mean tracks from your local computer, these tracks cannot be saved to session as web browser need permission to access uses' local files. IGV is desktop software thus doesn't have that restriction. It's a security setting for any web browser. Remote tracks can be saved to session.

[2020-04-06 14:13] ZunpengLiu commented on #157
OK, I will try the remote function. Thank you for your help and patient reply!

[2020-04-24 01:06] souryacs opened #159 "Screenshot for long range interactions with negative scores"
Hi,
I am a regular user of WashU browser and love the new version. However, I found some issues in the screenshot application:
1) The screenshot does not show any long range interaction with negative score. Now, why would an interaction have a negative score, right? I wanted to visualize two categories of interactions (say categories A and B) on the same track, and therefore applied negative score

[2020-04-24 03:40] lidaof commented on #159
Hi @souryacs ,
1, can you email the long range url for for me to take a look?
2, pdf conversion on client side (web browser) is tricky, can you use SVG format? you can print SVG to pdf on your computer, which I think will give better results.

[2020-04-24 03:40] #157 closed

[2020-04-24 03:41] lidaof commented on #155
sorry for late reply...i think it's fixed now? @adu345

[2020-04-24 04:23] souryacs commented on #159
Hi @lidaof
Thanks for your reply. Suppose, I specify the following two interactions:
chr1	1502499	1502501	chr1:1517499-1517501,50	3	.
chr1	1572499	1572501	chr1:1637499-1637501,-50	4	.
And then check the region chr1:1500000-1640000, set display mode "arc", max score = 50, min score = -50, and two different colors (primary and secondary).  I can visualize two interactions with different colors. But

[2020-04-24 17:46] lidaof commented on #159
Hi @souryacs , I pushed an update this morning. can you check if it's fixed on your side?

[2020-04-25 19:29] souryacs commented on #159
Hi @lidaof
Yes now I can see both interactions in the screenshot. Thank you so much for such a quick response. The browser is really cool and love to use it. Thanks.

[2020-04-25 19:29] #159 closed

[2020-05-04 06:30] arnavm opened #160 "Search by gene not working for yeast genome"
Searching by gene name does not work for the yeast genome. Not sure about the others.

[2020-05-04 14:59] debugpoint136 commented on #160
Hi @arnavm I am examining this issue.
(ETA: Thursday 05/07. Let me know if that works)

[2020-05-26 16:29] haizi-zh opened #161 "Need to update the embedding sample code in README.md"
I need to embed the browser into my own web application, so I tried the suggested code snippet in `README.md` (https://github.com/lidaof/eg-react/blob/master/README.md#embedding-the-browser-in-any-html-file).

However, the example doesn't work. The refGene track reads "Data fetch failed". It seems that the track tries to fetch refGene data from https://api.epigenomegateway.org , but this API serve

[2020-05-26 17:46] lidaof commented on #161
Yes, thank you @haizi-zh . We indeed update the API address. I will update the readme asap.

[2020-06-10 08:34] godtao2 opened #162 "Convert Gene Symbol to Chromosome Position"
I need to embed the browser into my own web application,  however, the browser needs URL parameter position to specify the default genomic position. I want to get this position automatically when I input any gene symbols. How can I do this?  P.S. I saw the washu browser has the function to gene search(just click "say gene"), but how can I use this function by javascript or APIs?

[2020-06-11 01:58] godtao2 commented on #162
Thanks for your assistance! @lidaof  This API works well! By the way, does this API always exist on the internet (or just for a while)？ This function is important for my web application.

[2020-06-11 02:16] lidaof commented on #162
This API is used by our Browser so it always exists.

[2020-06-11 02:24] godtao2 commented on #162
OK！Thanks.

[2020-06-16 15:56] godtao2 commented on #162
Sorry to disturb you again. @lidaof But I have a problem when I search the gene symbol using the API.  The error message shows that the Internal server happens error. Like below:
![image](https://user-images.githubusercontent.com/52396475/84797931-f0030200-b02c-11ea-8205-0f4a8b4e7765.png)

[2020-06-16 15:59] godtao2 commented on #162
Sorry to disturb you again. @lidaof  But I have a problem when I search the gene symbol using the API. The error message shows that the Internal server seems happens error as below:
![微信图片_20200616235844](https://user-images.githubusercontent.com/52396475/84798283-59831080-b02d-11ea-8d08-a5b8c39df690.png)

[2020-06-16 17:31] lidaof commented on #162
yeah,,,sometimes this happens, you would need try more times. copy @debugpoint136 for checking.

![image](https://user-images.githubusercontent.com/102806/84807717-46d8ef00-afcd-11ea-9178-deaf17195163.png)

[2020-06-25 16:28] ddepierre opened #163 "About local data hub"
Hi Washu Browser team,

I've got few questions about local data hub.

Once I loaded local tracks and setted up parameters such as tracks color, Yaxis limits and whatever, can I download a hub.config.json file to reload same tracks with same parameters or do I have to write it by hand using https://eg.readthedocs.io/en/latest/datahub.html ?

I started to write a hub.config.json test file by hand, I

[2020-06-25 23:36] lidaof commented on #163
Hi David @ddepierre , unfortunately so far the you need to setup the options for local data hubs, I can try to code something to make the local hub downloadable after configuration.

Smooth function make the curve looks flat, it uses data from nearby `smooth` pixels to average the data, say when you set smooth as 1, at pixel 1000, it will use average of data at 999, 1000 and 1001px to represent da

[2020-06-26 13:36] ddepierre commented on #163
Hi,
Thanks for your answer, but I still have an issue with smooth param in hub.config.json.
Here I compare the same bigwig track, the pink one is loaded using hub.config.json `[
      {
          "filename": "My_most_beautifull_track1.bw",
          "type": "bigwig",
          "name": "track1_configJSON",
          "options": {"color": "#b825b5", "height": 100,
                      "yScale": "fix

[2020-06-26 14:19] lidaof commented on #163
This looks pretty interesting/weird 😄  @ddepierre

smooth should be a number, try use 1, 2, 3 instead of "1", "2" "3", I will cast it to integers in the code.

[2020-06-26 15:29] ddepierre commented on #163
Aaaah ok ! it works with `"smooth": 3` !
Thanks a lot !

David

[2020-06-26 15:30] lidaof commented on #163
That's great! I applied the cast, "3 "will also work on next release.

[2020-07-01 12:13] ddepierre commented on #163
Hi,
As you answer fast, I'm gonna benefit again.
I've got an issue with bed file loading using hub.config.json:

I managed to hanldy load a bed file (histone modification domains calling) in blue. When I try to load the same bed file using hub.config.json script with:

`  {
  		"filename": "The_bed_s_too_big_without_you.bed",
  		"type": "bed",
  		"name": "BED_HUBLY_LOADED",
  		"options": {"disp

[2020-07-01 13:51] lidaof commented on #163
Hi @ddepierre David, for bed track, you did upload put the .tbi file together with the bed.gz and upload the entire folder? It should be work as I tested from my side. thanks for using dynamic plot, it can be used in local hub as well.

this is my files in the folder I am going to upload:
![image](https://user-images.githubusercontent.com/102806/86251584-ac091480-bb77-11ea-8db1-5d300b63362e.png)

[2020-07-09 10:12] odysseusulysses opened #164 "Issue running server from docker image"
Hi,

I was trying to play around with the docker container for the epigenome browser, however unfortunately I cannot get it to run.

I followed the instructions here https://eg.readthedocs.io/en/latest/installation.html#use-docker
When I navigate to the localhost:3000 however I get two errors

"TypeError: Cannot read property 'LineBasicMaterial' of undefined"

and

"Unhandled Rejection (TypeError)

[2020-07-09 12:54] lidaof commented on #164
Hi @odysseusulysses , see the update on Aframe library breaks the app. I will do a update to the docker image. Thanks for using the browser.

[2020-07-09 12:56] lidaof commented on #154
closing for now, feel free to reopen it.

[2020-07-09 12:56] #154 closed

[2020-07-09 12:56] lidaof commented on #163
closing for now, feel free to reopen it.

[2020-07-09 12:56] #163 closed

[2020-07-09 12:57] lidaof commented on #160
ping @debugpoint136 to take a look, thanks.

[2020-07-09 12:58] lidaof commented on #153
closing for now, feel free to reopen it or open a new issue.

[2020-07-09 12:58] #153 closed

[2020-07-09 12:58] lidaof commented on #144
closing for now, feel free to reopen it or open a new issue.

[2020-07-09 12:59] lidaof commented on #127
closing for now, feel free to reopen it or open a new issue.

[2020-07-09 13:00] #127 closed

[2020-07-09 13:00] lidaof commented on #108
closing for now, feel free to reopen it or open a new issue.

[2020-07-09 13:00] #108 closed

[2020-07-09 13:01] lidaof commented on #107
closing for now, feel free to reopen it or open a new issue.

[2020-07-09 13:01] #107 closed

[2020-07-09 13:01] lidaof commented on #91
closing for now, feel free to reopen it or open a new issue.

[2020-07-09 13:01] #91 closed

[2020-07-09 13:03] lidaof commented on #81
the format can view as local text tracks after some adjustments. but I can also do a specific type for this. Thank you!
closing for now, feel free to reopen it or open a new issue.

[2020-07-09 13:03] #81 closed

[2020-07-09 13:03] lidaof commented on #74
closing for now, feel free to reopen it or open a new issue.

[2020-07-09 13:03] #74 closed

[2020-07-09 13:06] lidaof commented on #161
closing for now, feel free to reopen it or open a new issue.

[2020-07-09 13:06] #161 closed

[2020-07-09 13:06] lidaof commented on #162
closing for now, feel free to reopen it or open a new issue.

[2020-07-09 13:06] #162 closed

[2020-07-09 13:06] #144 closed

[2020-07-09 13:06] lidaof commented on #155
closing for now, feel free to reopen it or open a new issue.

[2020-07-09 13:06] #155 closed

[2020-07-15 12:53] odysseusulysses commented on #164
Thanks

[2020-07-23 02:22] Eleven93 opened #166 "How to fetch track files on the same server installed the web page using Docker"
I have built up WashU on our lab's server using Docker. The web page is working, but I couldn't upload track files from local PC or from the server. I have checked the Docker container. It doesn't have an Apache installed. Then I installed Apache in the Docker container and add Header to its conf file, but it doesn't work. Could you please help me with that? Does WashU built up using Docker not de

[2020-07-23 02:53] lidaof commented on #166
Hi @Eleven93 that's because the browser is running on port 3000 and apache on port 80, there will be cors issue is ports are different. One way to resolve this is to set a reverse proxy on Apache when visiting :80/browser proxy to :3000/browser. You can google that setup, is pretty popular.

The way we did for the WashU Epigenome Browser is we use the built code after `npm run build`, we use the g

[2020-07-23 03:07] Eleven93 commented on #166
Thanks a lot! I will have a try!

[2020-07-27 19:14] mang7 opened #167 "Tracking clicks and page view"
Hi @lidaof ,

Have you written code to track page view and click events in this application.?

[2020-07-27 19:35] lidaof commented on #167
Hi @mang7 , if you mean which buttons use clicked? no. I do have a google analytics account linked for user access stats..

[2020-07-27 21:47] mang7 opened #168 "Tracking application access"

[2020-07-27 21:50] #168 closed

[2020-07-27 21:57] mang7 commented on #167
Hi @lidaof , It means application is tracking if user clicks on  Apps, Tracks, settings in nav bar dropdown? Application only track page view if user go to different route

[2020-07-28 14:08] lidaof commented on #167
Hi @mang7, we don't track that behavior... actually I am not sure how to do that... What do you need?

[2020-07-31 18:06] ericaenjoy3 opened #169 "Unable to Add Remote Data Hub"
Hi,

With the [WashU Genome Browser](https://epigenomegateway.wustl.edu/browser/) (hg19), clicking the 'Load from URL' icon using the remote hub url of a dummy data file (https://liuy22.u.hpc.mssm.edu/washu/dummy.json) does not generate any response.

I also tried uploading the same datahub file from my local machine, and no response was seen either.

I am wondering if you may please care to help

[2020-07-31 18:22] lidaof commented on #169
H Yiyuan @ericaenjoy3 ,

The data hub is an array of json objects, can you replace your file with following content:

[code]
let me know if it's not working.

[2020-07-31 18:34] lidaof commented on #169
And also thank you for reporting this issue. Next release it will print this message instead of doing nothing. Thank you again! @ericaenjoy3

![image](https://user-images.githubusercontent.com/102806/89066119-7bf99080-d332-11ea-839f-b91fe464c867.png)

[2020-07-31 18:53] ericaenjoy3 commented on #169
Thanks very much for your prompt help!

[2020-07-31 18:53] #169 closed

[2020-08-04 19:17] ericaenjoy3 opened #170 "Unable to fetch data tracks in the embedded browser"
Hi,

I downloaded the example html (http://target.wustl.edu/dli/eg/embed.html) of the embedded browser, and the last three bigWig data tracks failed to be fetched, when opened locally. Would you know why it does not work?

And an aesthetic question -- where in the example html file would you recommend modifying so as to remove the gap on the right hand side between the WashU browser and the edge o

[2020-08-04 19:30] lidaof commented on #170
Hi @ericaenjoy3 it's working on my side..can you take a screenshot? (better with the web console, there maybe error messages)
![image](https://user-images.githubusercontent.com/102806/89336278-c34b8e00-d65e-11ea-9831-fdf76c5adda4.png)

the `div` element which is the container for the browser has a fixed size of 1000px, you can try increase it, or set width to 100% etc..

[2020-08-05 05:49] ericaenjoy3 commented on #170
Hi @lidaof, I downloaded and opened the html file locally, and the error messages are shown below. Thanks!

![Screenshot from 2020-08-05 00-42-00](https://user-images.githubusercontent.com/6052159/89376485-df324c80-d6bd-11ea-8c20-a482c991edfd.png)
![Screenshot from 2020-08-05 00-42-34](https://user-images.githubusercontent.com/6052159/89376489-e22d3d00-d6bd-11ea-9d86-97488c9d7866.png)
![Screenshot

[2020-08-05 13:29] lidaof commented on #170
Hi @ericaenjoy3 , i see, that won't work. You can use a very easy to use http server to host the html and js files: https://www.npmjs.com/package/http-server

[2020-08-05 20:05] ericaenjoy3 commented on #170
Hi @lidaof, I have uploaded the html file alone to an http server, and the bigWig data track fetch also failed. As you mentioned js files, are these provided by https://www.npmjs.com/package/http-server or somewhere else? Many thanks.

![Screenshot from 2020-08-05 15-56-51](https://user-images.githubusercontent.com/6052159/89458533-2ad40d00-d735-11ea-85fe-b40b87553be3.png)

[2020-08-05 20:23] lidaof commented on #170
Hi @ericaenjoy3 you can download http://target.wustl.edu/dli/eg/epgg.js and http://target.wustl.edu/dli/eg/epgg.css and put them at the same folder with the embedding.html, that should fix the problem.

[2020-08-06 16:38] ericaenjoy3 commented on #170
Hi @lidaof, I downloaded these two js files to the same folder (https://liuy22.u.hpc.mssm.edu/epgg.js and https://liuy22.u.hpc.mssm.edu/epgg.css) as the embedding.html file, and the problem of data track retrieval with https://liuy22.u.hpc.mssm.edu/embedding.html still persist. Would you please care to look into this? Much appreciated.

[2020-08-06 19:27] lidaof commented on #170
you changed many paths to the JS files the page need, you don't need change them. you need the original embedding.html, epgg.js, epgg.css files in same directory and it should work. Or if you put them in local folder, you need point their path correctly.. you can go to http://target.wustl.edu/dli/eg/embed.html, right click, view page source, copy all html and replace your current html file.  is it

[2020-08-06 19:58] ericaenjoy3 commented on #170
Hi @lidaof, I actually didn't modify the 'embedding.html' at all upon downloading from the source, and I presume these errors were generated because these are relative file paths coded in the html file.

I downloaded the 'embed.html' from the source to the http server at my end, and as you could see, the problem persisted (https://liuy22.u.hpc.mssm.edu/embed.html).

[2020-08-06 21:00] lidaof commented on #170
I see...sorry for that. can you go to http://target.wustl.edu/dli/eg/ and download the *.worker.js and put them at same folder. Thank you!

[2020-08-06 21:15] ericaenjoy3 commented on #170
Hi @lidaof, that's awesome! First two bigwig tracks of data are loaded through https://liuy22.u.hpc.mssm.edu/embed.html, but the last track is still problematic. Any other js files are missing for the third track to be loaded? Thanks!

[2020-08-06 21:19] lidaof commented on #170
my bad...can you make a folder named `js` and put this file http://target.wustl.edu/dli/eg/js/zlib_and_gzip.min.js under it. this should fix it.

[2020-08-06 21:25] ericaenjoy3 commented on #170
@lidaof, great! That works! Many thanks!

[2020-08-07 14:04] LaureTomas opened #171 "Remove saved session"
I'm using the old version of the washU browser (http://epigenomegateway.wustl.edu/legacy/) because I use the session link to share it with my colleagues, but I can't remove a saved session.

How can I remove a saved session? Since with the ID it appears all the saved session under this ID, but I only want to keep one of them

[2020-08-07 14:07] lidaof commented on #171
Hi @LaureTomas,  we removed that `delete session` function as everyone can delete that once session Id become public. I can manually delete them for you. You can email me the session id and the ones you want to remove.

[2020-08-07 14:08] LaureTomas commented on #171
Thank you so much, I will email you the specific sessions

[2020-08-09 06:40] #170 closed

[2020-08-09 07:14] ericaenjoy3 opened #172 "Enabling Options of 'Aggregate method' and 'Smooth' for bigWig Tracks in an Embedded Browser"
Hi @lidaof,

I noticed that in an embedded WashU Epigenome browser, the options of 'Aggregate method' and 'Smooth' are missing from the option menu when right clicked on a bigWig track, whereas these options are present in the official browser.

Placing "options": { "aggregateMethod": "MEAN", '"smooth": 0 } in the 'embed.html' would introduce a bug. Would you please be so kind to look into this? M

[2020-08-09 14:28] lidaof commented on #172
Hi @ericaenjoy3 , correct, the embedded version is based on version 48 of the codebase, at later I was trying to make a new embedded version but get stuck in one error. I will recheck this.

[2020-08-09 14:40] #171 closed

[2020-08-09 15:28] lidaof commented on #167
closed for now, feel free to open new issues.

[2020-08-09 15:28] #167 closed

[2020-08-09 15:28] lidaof commented on #171
closed for now, feel free to open new issues.

[2020-08-10 05:10] ericaenjoy3 commented on #172
Hi @lidaof, many thanks! Would you please keep me informed of an update? Thanks again!

[2020-08-10 05:26] ericaenjoy3 opened #173 "SNP Annotation Track in an Embedded Browser"
Hi @lidaof,

As SNP track type is supported in the WashU Epigenome Browser (https://epigenomegateway.readthedocs.io/en/latest/datahub.html#type), I specified {"type": "snp", "name": "Ensembl SNPs", "genome": "hg19"} in the json configuration part of the embedded html file, and this led to a bug of 'unknown track type: "snp" '. In an essence, I am trying to load the 'variation' annotation track ('S

[2020-08-10 15:07] lidaof commented on #173
sorry for that @ericaenjoy3, that function is not available on the embedded scripts. For now, I would recommended using `iframe` instead, this approach you create datahub dynamically, and load the data hub through hub url in an iframe. Example: https://wangftp.wustl.edu/~dli/test/eg_iframe.html, using this approach you are always using the latest version of the browser.

Would this work for you?

[2020-08-10 15:10] lidaof commented on #172
Sure, once I figured out that issue I will update the embedded scripts.

[2020-08-11 17:14] ericaenjoy3 commented on #173
Hi @lidaof, my apologies for the delayed response. Do you know why your url (https://epigenomegateway.wustl.edu/browser/?genome=hg19&hub=https://wangftp.wustl.edu/~dli/test/a.json) works perfectly with data track retrieval but mine (https://epigenomegateway.wustl.edu/browser/?genome=hg19&hub=https://liuy22.u.hpc.mssm.edu/washu/dummy.json) failed without any error message? Many thanks!

[2020-08-11 17:40] ericaenjoy3 commented on #173
Hi @lidaof, I figured out that in my json file missed '"showOnHubLoad": true', and with the option set true, it works. Many thanks!

[2020-08-11 17:45] lidaof commented on #173
nice you figured it out!

[2020-08-18 23:15] umasstr opened #174 "Remote tracks"
I am attempting to upload a remote data hub. The JSON files are recognized, but tracks are not displayed. My bigwigs and bigbeds, however, _can_ be displayed if uploaded individually. I cannot find any formatting issues with my JSON (https://dl.dropboxusercontent.com/s/r8lgzgkxk4faigz/hub.config.json)

To rule out formatting issues, I also tried to upload the JSON from issue #169 (https://liuy22.u

[2020-08-19 00:13] lidaof commented on #174
Hi @umasstr there is one option to specify track to be display when hub loaded, by default the tracks are hidden. please check this https://eg.readthedocs.io/en/latest/datahub.html#showonhubload

for example, change your first track to :

[code]

this default behavior makes loading hub fast when the hub contains hundreds of tracks.

[2020-08-19 00:24] umasstr commented on #174
Hi @lidaof, the JSON has been updated, but produces "Cannot load the hub. Error: HTTP 0"

[2020-08-19 00:29] lidaof commented on #174
wried...it's working here

![image](https://user-images.githubusercontent.com/102806/90578480-080c1480-e189-11ea-8da7-c61cc970cd09.png)

![image](https://user-images.githubusercontent.com/102806/90578501-15290380-e189-11ea-92cb-461c5fbbb10c.png)

[2020-08-19 00:31] umasstr commented on #174
Thanks for testing this out. Worked in an incognito tab.

Thanks for the help!!

[2020-08-19 00:31] #174 closed

[2020-09-09 17:36] vivekliai commented on #111
Hi @lidaof

As asked by @souryacs, do you think you are going to add this feature soon? Old browser used to work like that so I think it should be easy to add the feature.

Best,
Vivek

[2020-09-09 17:50] vivekliai opened #176 "Issue with WashU browser"
Hi,

We still uses the old (legacy) version of WashU browser as several features are better compared to new (Display loops only within current window and Display loops with scores in a specified range). Unfortunately for last few months, the legacy version is also not working properly. Tracks are arbitrarily not loaded, or sometimes partially loaded (ChIP-peaks or Hi-C contacts are randomly missin

[2020-09-09 22:45] lidaof commented on #176
Sure, I will work with this 2 features. thanks for suggestion @vivekliai. for old browser, try reduce number of tracks, or send me your hub I can take a look

[2020-09-09 22:46] lidaof commented on #111
yes, we can add that, working on this and will update you.

[2020-09-10 16:07] vivekliai commented on #111
Thanks Daofeng. Hopefully it will workout soon. I am in middle of my manuscript and greatly appreciate your help.

Best,
Vivek

[2020-09-10 20:49] grace-hansen opened #177 "Remote tracks not loading"
I cannot currently load remote tracks from a server. If I load them locally they load fine; however if I load them from the server I get a 'data fetch failed' error. I'm loading HiC data in longrange format by loading the *lr file from the server; there is a *lr.tbi file with a matching name in the same directory.

[2020-09-10 21:17] lidaof commented on #177
Hi @gracilis it's likely a CORS issue, would you mind send me the url?  also check here maybe: https://eg.readthedocs.io/en/latest/tracks.html#configure-your-webserver-to-enable-cors?

[2020-09-11 21:27] lidaof commented on #177
Sorry about that @gracilis , would you mind DM me your track url? thanks

[2020-09-11 21:36] lidaof commented on #176
Hi @vivekliai please refresh to v52.1.0, right click on longrange or hic tracks should bring you the new configurations:

![image](https://user-images.githubusercontent.com/102806/92974980-f991df80-f44c-11ea-82fa-f75a9146e596.png)

I tested they seem work fine :)
but let me know if there is any issue. Thank you so much.

[2020-09-11 21:53] vivekliai commented on #176
Thanks Daofeng. Your help is greatly appreciated.

If possible, can you also add the option of add to all track as used to be in legacy version(it used to apply same setting to all tracks). I am attaching the picture of that.

Thanks again,
Vivek

[2020-09-11 22:30] lidaof commented on #176
Hi @vivekliai , you can hold shift while clicking the track (multiple selection), then you can right click to do operation on multiple tracks.

[2020-09-11 22:38] vivekliai commented on #176
Thanks for suggestion Daofeng.

I looked at the data in current view (no expansion) it removed majority of the outside interaction but leaves the interaction which is going towards right side of out of view. I am sending you one of the track.

Thanks,
Vivek

[2020-09-11 22:44] lidaof commented on #176
Yes, that's correct, because one of the anchor point is still in the view window, right?

[2020-09-11 22:55] vivekliai commented on #176
Hi Daofeng,

That’s true. But it’s important to get only current view (that mean only those where both dataset in the current view) specially when you are saving the screen shot like legacy version. The option which you added certainly removes all the interaction where out of frame data point is left side of current frame but does not remove if out of frame data point is right side of current fram

[2020-09-12 03:13] lidaof commented on #176
Sure, I added another option, please refresh give it a try. Thank you!

![image](https://user-images.githubusercontent.com/102806/92985786-73d95880-f47b-11ea-822f-8ec4d4cf638d.png)

[2020-09-12 03:14] lidaof commented on #111
Implemented. Updated discussion on #176 . thank you!

[2020-09-12 03:14] #111 closed

[2020-09-12 03:21] vivekliai commented on #176
Thanks Daofeng. Greatly appreciated.

Best,
Vivek

Sent from my iPhone

[2020-10-09 14:53] UgoBor opened #179 "Rna-Sea data"
Hi,
is it possible to visualize with your browser RNASeq data?
I am thinking at a track where the genes are color coded depending if they are up or down regulated and, possibly, visualized with a scale of colors related to the fold change values.
thank you

[2020-10-09 15:47] lidaof commented on #179
That's a great idea! @UgoBor . I will think how to implement this.
we currently don't support this visualization, right now users are formatting RNA-seq data to bigWig or bedGraph values over exons and displayed them as numerical track.

[2020-10-15 13:56] mariko728 commented on #164
Hello, I have the same issue when I tried to run WashU genome browser using the docker image.
I followed the instruction.  https://eg.readthedocs.io/en/latest/installation.html#use-docker
It asked to run 'npm update" when I run 'npm start'.
and I got error messages when  I run 'npm update'  (see below)

Could you please help?
Thank you!

Here are the error messages when I run 'npm update'
--------

[2020-10-15 14:07] lidaof commented on #164
Hi @mariko728 can you please try `npm install --force`? also I will update the docker sometime.

[2020-10-15 14:32] mariko728 commented on #164
Hello @lidaof
Thank you for your quick reply!
I run "npm install --force'  but it did not work....
Here is what I did.
1) npm install --force
2) npm audit fix
3) npm start......

Are there any suggestions?
Thank you!

Here is the long line of log.....
---------------------------------------------
root@be641af4f0e5:/eg-react/frontend# npm install --force
npm WARN using --force I sure hope you know

[2020-10-15 14:35] lidaof commented on #164
ok, I will try update the docker image asap. thanks for reporting!

[2020-10-15 14:37] mariko728 commented on #164
Thank you very much!

[2020-10-15 14:38] Politropos opened #180 "failed to compile"
Hi
I installed node downloaded the eg-react from source and run npm start from frontend folder.
I am getting the following error
failed to compile
./src/model/genomes/allGenomes.ts
Cannot find file: 'Pfal3D7.js' does not match the corresponding name on disk: './src/model/genomes/Pfal3D7/Pfal3d7.js'.
checked and the files are there
Can you please advise
Thank you

[2020-10-15 16:04] lidaof commented on #180
Hi @Politropos , sorry for that. somehow github doesn't correct the file case...can you rename the folder to `Pfal3D7 ` under `src/model/genomes/`?

the folder case should look like this:

![image](https://user-images.githubusercontent.com/102806/96155933-1ef38c80-0ed6-11eb-810b-7feac2610b22.png)

[2020-10-15 20:42] Politropos commented on #180
Now it works but I am getting another type of error
Error: FIREBASE FATAL ERROR: Can't determine Firebase Database URL. Be sure to include  a Project ID when calling firebase.initializeApp().
I am not sure what to do about tis can you please advise
Thank you

[2020-10-15 20:45] Politropos commented on #180
Error: FIREBASE FATAL ERROR: Can't determine Firebase Database URL. Be sure to include a Project ID when calling firebase.initializeApp().
fatal
src/core/util/util.ts:172:8
  169 | export const fatal = function (...varArgs: string[]) {
  170 |   const message = `FIREBASE FATAL ERROR: ${buildLogMessage_(...varArgs)}`;
  171 |   logClient.error(message);

      |        ^  173 | };
  174 |
  175 | /

[2020-10-15 20:52] lidaof commented on #180
Hi @Politropos, please check this https://eg.readthedocs.io/en/latest/faq.html#firebase-fetal-error

[2020-10-16 00:09] Politropos commented on #180
Thank you
I set up a firebase account but I am not sure what I should be filling in in the
.env file
REACT_APP_FIREBASE_KEY="Your own info??"
REACT_APP_FIREBASE_DOMAIN="Your own info??"
REACT_APP_FIREBASE_DATABASE="Your own info??"
REACT_APP_FIREBASE_STORAGE_BUCKET="Your own info??"
firebase project name user name ??
I also tried without firebase with
.env reading REACT_APP_NO_FIREBASE=1
I still g

[2020-10-16 02:46] lidaof commented on #180
Hi @Politropos , in your firebase console, you can create a new Web app, then you can get those info from the web page.
 you should not need to setup the editor...

[2020-10-16 17:06] Politropos commented on #180
I am sorry I did create a new web app and copied the information from the SDK snippet to the .env as instructed
I still get the same error

TypeError: Cannot read property 'getName' of undefined
Module../src/model/genomes/allGenomes.ts
src/model/genomes/allGenomes.ts:61:37
  58 |
  59 | const genomeNameToConfig = {};
  60 | for (const config of allGenomes) {

     |

[2020-10-16 17:11] Politropos commented on #180
After failing the program recommends to  set up the editor integration, by adding REACT_EDITOR=atom to the .env.local file.
I did that  but still I am getting the same error

[2020-10-16 19:26] lidaof commented on #180
Hi @Politropos this is interesting and I never saw this error before.
Can you try `git pull` the latest code again?

[2020-10-28 15:37] lidaof commented on #180
I also updated the docker image if you want to try @Politropos . thank you!

[2020-10-28 15:38] lidaof commented on #164
sorry for late reply! @mariko728 I have updated docker images. feel free to let me know if you encounter any problem using them. Thanks!

[2020-11-02 07:45] mncfletcher opened #181 "Correct options for stranded RNAseq bigWig tracks?"
Hello,

I'm trying to visualise stranded RNAseq bigWig tracks in the browser using a .json file (generated by https://dkfz-b060.github.io/gb_browse/ and using GEO-hosted tracks), but I can't figure out what options are needed to make this work. Currently I'm defining a track as follows:

`[
    {
    "type": "bigwig",
    "url": "ftp://ftp.ncbi.nlm.nih.gov/geo/samples/GSM3444nnn/GSM3444552/suppl/G

[2020-11-02 16:18] lidaof commented on #181
Hi @mncfletcher, seems you web app is using the legacy version of the browser, the docs for the legacy version is at (related to 2nd color): http://wiki.wubrowse.org/Datahub#colornegative, data hub syntax is at http://wiki.wubrowse.org/Datahub

[2020-11-03 18:15] mncfletcher commented on #181
Hello @lidaof - thank you for the reply! I tried setting "colorpositive" and "colornegative" but that still doesn't seem to be working. Is there a way to access the error logs generated, so that I could try to do some more-informed debugging? Thank you!

[2020-11-03 20:44] lidaof commented on #181
Hi @mncfletcher you are welcome. This step doesn't generate any web log. can you show me an example with a small hub and screenshot?

[2020-11-06 15:28] mncfletcher commented on #181
Any of the sessions in the menu next to "Select GB session:" will have the same issues (they all contain stranded RNAseq tracks), but I'll use the "IDH (all data)" session as an example: http://epigenomegateway.wustl.edu/legacy/?genome=hg19&session=RUYBuSP2VM

... okay and now, suddenly, the RNAseq tracks are loading. They weren't last weekend. I've no idea why this might be.
Okay, and it turns ou

[2020-11-06 17:06] lidaof commented on #181
Hi @mncfletcher no worries. some of the tracks get 504 error, like  H3K4me1 AK213 (IDH) (Broad peaks) : Error: HTTP 504, it means the track fetching is timing out. try reduce the number of loaded tracks might help.  This is an old issue with the legacy version, the validate hub app can help refresh cache on the server, might helpful for your case.

![image](https://user-images.githubusercontent.co

[2020-11-10 18:31] jsanmig opened #182 "Hosting Browser Tracks/issue with CORs"
Hi! I am having browser track hosting issues due to my ftp server potentially not being able to enable CORs. On the wiki, it said that WashU could potentially host the tracks instead? Is this a possible option? The data is unpublished, so I'm curious if it will be able to remain private if hosted through you all?  Thank you so much!

-Jen

[2020-11-10 19:14] lidaof commented on #182
Hi Jen, yes, it's possible if you data hub files size are not too big :) [cyverse](https://www.cyverse.org/) is also an option. Let me know :)

[2020-11-12 18:09] umasstr opened #183 "Cistrome public tracks"
Hi Daofeng,

The cistrome data browser has enabled users to view track files on WashU. Their one-click redirect to a datahub works well.
I would like to superimpose these tracks onto my data or others fetched from Cistrome, but the tracks will not load onto my session as a remote track. For example:

1. I search for some TF on Cistrome Data Browser > Visualize > Wash U ([sample link](http://epigen

[2020-11-13 20:25] lidaof commented on #183
Hi @umasstr, can you paste the error log from your web browser from the console window? it should be working for any browser instance.

[2020-11-14 12:53] umasstr commented on #183
Hi Daofeng,
It looks like chrome was silently blocking the upload (probably due to http), producing the "data fetch failed" error. I'm not sure why this was unique to my non-cistrome.
Thanks!

[2020-11-14 12:53] #183 closed

[2020-11-16 09:54] lauzikaite commented on #177
Hello, I've been having the same issue. The bigwig is loaded successfully from local storage, but not remote. However, the same URL works with UCSC genome browser. Would you mind checking my url please? Thank you!
http://bioinf.stemcells.cam.ac.uk/test/test.bw

[2020-11-16 14:47] lidaof commented on #177
Hi @lauzikaite , the reason is that you need enable CORS on your apache serve, please check https://eg.readthedocs.io/en/latest/tracks.html#configure-your-webserver-to-enable-cors, let me know if you need more info. Thanks.

[2020-11-16 17:45] lauzikaite commented on #177
Thanks so much, @lidaof, rebooting the apache server helped

[2020-11-16 18:31] lidaof commented on #177
nice! thanks for the feedback! @lauzikaite

[2020-11-17 17:37] mncfletcher commented on #181
Thanks @lidaof - yes that 'validate hub' app definitely loads the missing tracks, which is great! Unfortunately they're not formatted like the ones that were successfully loaded, which isn't ideal.

I guess there's no way to adjust the track fetch timeout - that's hardcoded into the browser...?

One more question: would moving from the legacy to the newer version of the browser help with this prob

[2020-11-17 21:10] lidaof commented on #181
Hi @mncfletcher, the bigwig fetch function in the legacy version is dependent on the UCSC's code source, I think the timeout setting should be also there. The switch should be pretty smooth if your track URLs are with CORS support. (please use https address from GEO instead of ftp link, the new version doesn't support ftp link, sorry about that)

[2020-11-18 18:10] mncfletcher commented on #181
Oh, righto then - I've had a bit more of a play around and I think I will switch to the new rather than the legacy browser. The new browser's loaded all the GEO data with no issues at all, which is what I'm after - thanks a lot!

I do have one more quick question - while the GEO tracks load fine, we also host some of our own tracks (bed files of peak calls, ChromHMM .gff files). These worked fine

[2020-11-20 05:24] lidaof commented on #181
Hi @mncfletcher , sorry for late response. The error reason I think is github is not supporting CORS request. The new version need CORS be enabled: https://eg.readthedocs.io/en/latest/tracks.html#configure-your-webserver-to-enable-cors. you can open a Amazon S3 bucket with trial membership (i think it was free before), or using [cyverse](http://wiki.wubrowse.org/Track_hosting), or if your total am

[2020-12-01 11:31] MBrancoLab opened #184 "Request to add calJac3 genome"
Hi,

Any chance the marmoset's calJac3 assembly could be added to the browser?

Thanks

[2020-12-01 13:50] lidaof commented on #184
Sure, I will work on it and let you know once finished. @MBrancoLab

[2020-12-01 13:51] MBrancoLab commented on #184
Fantastic. Much appreciated.

[2020-12-01 17:17] xzhuo commented on #184
Hi Daofeng, calJac3 is included in my latest pull request (along with the calJac3 -> hg19 alignment track). @MBrancoLab please let us know if you need other alignments.

[2020-12-01 17:22] lidaof commented on #184
yeah, i just saw that, I will make the merge soon

[2020-12-02 21:36] lidaof commented on #184
Please refresh the browser, the calJac3 is added. feel free to let me know any question @MBrancoLab

[2020-12-03 09:06] MBrancoLab commented on #184
I see it. Many thanks for the swift action.

[2020-12-06 15:12] mncfletcher commented on #181
Ah rightio... okay then! I'll need to think about how to solve that problem.

Next question though, hehe: I'm trying to load some bedfiles that are on the GEO, for example
`{"type":"bed","name":"superenhancer IDH IDH subtype calls (IDH-specific pan-tumour SEs (logFC 1, FDR 0.1)) ","url":"https://ftp.ncbi.nlm.nih.gov/geo/samples/GSM3444nnn/GB_H3K27ac_superenhancers_IDH_specific_FDR_0.1_log2FC_1.bed

[2020-12-06 19:38] lidaof commented on #181
Hi Mike @mncfletcher you are welcome. One thing i notice that is your url is not working, returns a 404:
[code]

even though the link works, i don't think it's processed with bgzip/tabix as there is no .tbi index file with the .gz file with same url folder..bigwig and hic files works better with GEO. (unless the .gz file was generated with bgzip/tabix)..

[2020-12-07 07:37] mncfletcher commented on #181
Oh damn, right! That makes total sense. What would you then suggest, for a webhost that does have CORS - Amazon S3? If your very kind offer to host our data is still on the table, all of these .bed.gz files (with tabix indices!) can be seen in this repo: https://github.com/dkfz-b060/glioblastoma/tree/master/browser_tracks the average file size is quite small (the largest ones are the 20 ChromHMM .

[2020-12-07 16:37] lidaof commented on #181
sure, I usually suggest users get a S3 bucket. I also downloaded your data and hosted them [here](https://wangftp.wustl.edu/~dli/mncfletcher/glioblastoma/browser_tracks/)

need see some screenshots..not quite clear, sorry. if you have negative values in your data, it will display as 2 half tracks. top one for positive values and bottom one for negative values

this looks like a very good feature t

[2020-12-10 18:05] umasstr commented on #102
Is it possible to hide refseq, repeatmasker, ruler etc. On a data hub (as opposed to an annotation hub)?

[2020-12-11 21:20] lidaof commented on #102
Hi @umasstr you can use the `noDefaultTracks=1` in url, like [this link](https://epigenomegateway.wustl.edu/browser/?genome=hg19&hub=https://wangftp.wustl.edu/~dli/test/a.json&noDefaultTracks=1). let me know if it helps or not. Thanks.

[2020-12-13 13:47] mncfletcher commented on #181
Oh wow! Yes that works perfectly, finally all of the bed tracks load. Thank you so much!

Yes, indeed, that's correct; but I'm not very interested in the negative values; I'd rather show the positive values only. Is there a way to do that?

<img width="1073" alt="Screen Shot 2020-12-13 at 1 52 47 PM" src="https://user-images.githubusercontent.com/10436450/102012468-ebed3e00-3d4a-11eb-82ef-0fc6409a

[2020-12-13 16:54] lidaof commented on #181
You are welcome.
the numerical track is hardcoded to separate to positive and negative part, seems I can add an option to ignore negative values if need. you can also remove negative values in your track file as well.
sure, I will try the multiple colors thing if implemented will post here.

[2020-12-14 21:42] umasstr commented on #102
Works well, thanks!

[2020-12-20 07:51] mncfletcher commented on #181
Thanks @lidaof !

I'd love to try out the option to ignore negative values, if/when that happens! Ah, good idea, too, but I don't think stripping the negative values for ~100 bigWigs that I'd then have to re-upload to the GEO is a great use of my time, either, hehe.

And yes if you do implement the multiple colours thing I'd also be dead keen on giving that a go!

Also, here's the Datahub .json th

[2020-12-20 17:48] lidaof commented on #181
Hi @mncfletcher currently I am working on some other features and will definitely work on this after that is done.

I can put updated tracks/hub files on our server if you update your original repo (then I can git pull) or if you want host a new hub, I can pull this repo too :)

[2021-01-01 11:00] mncfletcher commented on #181
Hi @lidaof - cool! Will be very happy to test those features out.

I also don’t quite follow what you mean in terms of the repos, sorry - which repo should I update? I’ve uploaded that updated datahub .json to https://github.com/dkfz-b060/gb_code but if please feel free to do whatever - the broader the access is for the data the better, in my opinion!

On Dec 20, 2020, at 6:48 PM, Daofeng Li <noti

[2021-01-01 17:50] lidaof commented on #181
Hi @mncfletcher Happy new year!

I meant to say if the repo (github repo which contains your hub.json. track bed files) is updated, I am happy to pull it on our hosted website.

[2021-01-03 13:46] mncfletcher commented on #181
Happy New Year to you too @lidaof!

Oh right, I getcha - well everything is all up-to-date now. The updated hub .json is actually in our code repo (https://github.com/dkfz-b060/gb_code) and not in the same repo as the tracks, is the only thing - but I’ve now added it to the browser tracks repo at https://github.com/dkfz-b060/glioblastoma/tree/master/browser_tracks so feel free to pull it onto your

[2021-01-04 06:34] lidaof commented on #181
Sure, I pulled the `glioblastoma` repo. feel free to let me know any more pull need in future. Thank you!

[2021-01-05 15:14] songtaogui opened #187 "failed to load interaction tracks when rebuilt washu browser mirrors"
Hi, @lidaof

I have successfully configured the washu browser to display the interaction arc track before:

`tracks`->`Annotation_Tracks`->`B73`->`Interactions`->add `B73_H3K4me3_arc`):
![image](https://user-images.githubusercontent.com/14274330/103661611-e41b6500-4fa9-11eb-9f76-8019ced1e865.png)

However, when copying the docker image of the washu browser to another site, it has failed to load th

[2021-01-05 15:28] lidaof commented on #187
Hi Songtao @songtaogui , the quickest solution is to copy the built html/js/css files (should be under /var/www/html or other path if you reconfigured) from the working site to the one has issue.
Also I suggest using the latest version of docker

[2021-01-18 07:08] songtaogui commented on #187
Hi, @lidaof

Sorry for the late reply, we have tried your suggestion, and it didn't work.

It turns out that the "arc-track-fine" browser was running under development mode (`npm start`), but the "arc-track-not-work" browser was running by `npm build`. If we change it back to development mode, it works again. But unfortunately, we have to map the browser to a subpath-like url ("https://db.cngb.org

[2021-01-18 16:47] lidaof commented on #187
Hi @songtaogui, this is pretty strange....the code should behavior same after build...is there any warning message while building?
another solution to keep running on development mode is do port mapping on Apache config, you can map a sub path /xxx to a different port :3000 etc. you can google Proxy and ReverseProxy settings in Apache.

[2021-01-20 10:26] mireia-bioinfo opened #188 ""Data fetch failed" when loading remote tracks"
I am trying to load some custom longrange tracks from our webserver but I always get the "Data fetch error". However, when I load them locally it displays perfectly. An example track would be this one: [pasqualilab.upf.edu/gbrowser/PIRB_tracks_hg19/PC-HiC.PI.Interactions.visualization_only.txt.gz](pasqualilab.upf.edu/gbrowser/PIRB_tracks_hg19/PC-HiC.PI.Interactions.visualization_only.txt.gz).

We

[2021-01-20 15:09] lidaof commented on #188
Hi @mireia-bioinfo , if you load it fine with local file mode means the file format is correct. While I can also load your file using the url you provided..

![image](https://user-images.githubusercontent.com/102806/105194360-1fb44400-5aff-11eb-9ef3-69a6ccacb17f.png)

[2021-01-20 15:14] mireia-bioinfo commented on #188
Great, I guess we managed to fix the problems on the server side! Thanks!

[2021-01-20 15:14] #188 closed

[2021-01-21 09:43] ddepierre opened #189 "Handle bigwig files with negative values"
Hi Washu Browser team,

I am trying to visualized normalized bigwig (coverage spanning from -5 to +20) and i wish to display only positive values, but when I fix the Y axis max:20 to min:0, it still display coverage levels from -5 to +20. So I tried to fix  Y min to 0.0000001, it does not display my negative values anymore but the place allocated to negative values is the Y axis still take half of

[2021-01-21 14:56] lidaof commented on #189
Hi David @ddepierre , with current code the track will automatically divide to 2 parts while there are negative values in the region. I will try to do some changes and update you soon.

[2021-01-23 07:57] lidaof commented on #189
Hi David @ddepierre, please refresh the browser, the scale should be improved to what you described. let me know any problem. thanks.

[2021-01-25 16:39] ddepierre commented on #189
Hi Daofeng Li,
Thank you for your quick answer and support, it works now !

Best,

David

Le sam. 23 janv. 2021 à 08:57, Daofeng Li <notifications@github.com> a
écrit :

--
David Depierre
PhD student
Team Chromatin Dynamics and Cell Proliferation
UMR5099 CNRS-UPS, CBI
building IBCG
Université Paul Sabatier
118 route de Narbonne,
31062 Toulouse Cedex 09, FRANCE

[2021-02-01 15:14] yancychy opened #190 "share tracks like UCSC genome broswer?"

[2021-02-01 15:44] #190 closed

[2021-02-01 16:01] lidaof commented on #190
Hi, I guess you probably figured it out, you can check more from here: https://eg.readthedocs.io/en/latest/url.html. thanks.

[2021-02-03 20:40] souryacs commented on #176
Hi @lidaof
With respect to these two options: 1) data in current view, 2) both anchors in view window, do you have corresponding long range track options which I can put in the datahub .json file? Currently individual tracks need to be manually adjusted, so any such track option would be very useful to handle a large number of tracks.

[2021-02-04 03:04] lidaof commented on #176
Hi @souryacs sorry for missing that in docs. this 2 properties in `options` are `fetchViewWindowOnly` and `bothAnchorsInView`, you can set them as `true` in your data hub file.

[2021-02-04 14:44] Volkan51 opened #191 "Finding the methylation sites of genes"
Hello,
I'm new to your site. I'm trying to use WASHU EPIGENOME BROWSER and learn shortcuts. But I haven't got the information I wanted yet. How can I find out about the CDHR3 gene I'm interested in, which nucleotides of the gene are methylated and is there a tissue-specific difference in this methylation? Thank you in advance for your help.

[2021-02-04 21:28] souryacs commented on #176
Thanks @lidaof for your quick response. I've checked it and it's working fine. Really helpful. Many thanks.

[2021-02-04 21:31] lidaof commented on #176
You are welcome @souryacs

[2021-02-07 05:28] lidaof commented on #191
Hi @Volkan51, this is a little bit complex question. You would need to collect the data you interested and put them into the browser, then you can located to the gene you interested, check the methylation signal, you can find out if the gene is methylated or not. For check tissue specific, you need find methylation data from different tissues then check again, if only one tissue show different pat

[2021-02-07 20:18] Volkan51 commented on #191
Hi @lidaof,
The article published by your lab was indeed instructive and helpful. I'll do some more research.
Thank you for your help.

[2021-02-09 20:13] yancychy commented on #190
Thanks. I have shared it. But the resoltion is 5kb only. Hope it can be improved in furture.

[2021-02-10 05:14] lidaof commented on #190
do you mean resolution? or region?

[2021-03-27 06:38] sespesogil opened #194 "Embedded Browser problem with bigwigs"
Hi :)

I am having issues embedding my browser. I can see my HiC files (they work totally fine), but not the bigwigs. If I use the remote tracks and put the link to my bigwig , it works totally fine, so CORS seems perfectly fine. But I do not understand why isn't working when embedding, it remains loading without any error message. Any ideas? Thanks in advance.

Here the html I am testing:
[code]

[2021-03-27 21:57] lidaof commented on #194
Hi @sespesogil sorry for this. You would need download these worker.js files from https://target.wustl.edu/dli/eg/ and put them on the same folder with your embed html file.  In this particular example you would need download https://target.wustl.edu/dli/eg/c91952a9b48f32a8f26a.worker.js only to make it work. Will try to update this in next version.

[2021-03-28 13:24] sespesogil commented on #194
Thanks a lot! Really appreciate it.